<section id="marquee" class="ak-bg-white ak-pt-[49px] ak-mb-[-48px] max-lg:ak-pt-0 max-lg:ak-overflow-hidden">
    <!-- Slider main container -->
    <div class="ak-marquee swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper !ak-h-auto">
            <!-- Slides -->
            {% for block in section.blocks %}
            <div class="swiper-slide !ak-flex !ak-items-center !ak-justify-center ak-gap-[35px] !ak-w-[unset] !ak-h-[unset] ak-font-['blisstwin']">
                <h3 class="ak-text-[100px] ak-text-[#C8D3F0] ak-capitalize">{{ block.settings.text_content }}</h3>
                <div class="ak-w-[15px] ak-h-[15px] ak-bg-[#C8D3F0] ak-rotate-45"></div>
            </div>
            {% endfor %}
        </div>      
    </div>
</section>

<script>
  const swiperMarquee = new Swiper(".ak-marquee", {
    spaceBetween: 35,
    centeredSlides: true,
    speed: 6000,
    autoplay: {
      delay: 1,
    },
    loop: true,
    slidesPerView: 'auto',
    allowTouchMove: false,
    disableOnInteraction: true
  });
</script>

{% schema %}
    {
        "name": "AK - OurApproach Marquee",
        "settings": [
        
        ],
        "blocks": [
        {
            "type": "slide",
            "name": "Slide",
            "settings": [
            {
                "type": "text",
                "id": "text_content",
                "label": "Slide Text",
                "default": "Slide Text"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text Color",
                "default": "#C8D3F0"
            }
            ]
        }
        ],
        "presets": [
        {
            "name": "AK - OurApproach Marquee",
            "category": "AKKA OURAPPROACH"
        }
        ]
    }
{% endschema %}

{% stylesheet %}
    /* Add any necessary custom CSS for this section */
{% endstylesheet %}

{% javascript %}
    /* Add any necessary custom JavaScript for this section */
{% endjavascript %}
