<section id="section-2">
    <img class="max-[1200px]:hidden" src="{{ section.settings.desktop_img | img_url: 'master' }}" alt="{{ section.settings.desktop_img }}">
    <img class="hidden max-[1200px]:block" src="{{ section.settings.mob_img | img_url: 'master' }}" alt="{{ section.settings.mob_img }}">
</section>

{% schema %}
    {
      "name": "AK - Product S2",
      "settings": [
        {
            "type":"image_picker",
            "id":"desktop_img",
            "label":"Desktop Image"
        },
        {
            "type":"image_picker",
            "id":"mob_img",
            "label":"Mobile Image"
        }
      ],
      "presets": [
        {
           "name": "AK - Product S2",
           "category": "AKKA PRODUCT"
        }
      ]
    }
    {% endschema %}