<!-- sections/marquee-section.liquid -->
<link rel="stylesheet" href="{{ 'swiper.css' |  asset_url }}">
 <style>
    #shopify-section-template--23440138305839__ak_science_s3_eVcLTQ {
      position: sticky;
      top: 72px;
    }
    #section2 .bg-image {
        background-image: url({{ section.settings.desktop_background_image | img_url: 'master' }});
    }
    @media(max-width: 1200px) {
        #section2 .bg-image {
            background-image: url({{ section.settings.mobile_background_image | img_url: 'master' }});
            height:660px;
            background-size:100% 100%;
        }
    }

 </style>
<section id="section2" class="relative max-md:overflow-hidden font-['syne']">
  <div class="bg-image bg-cover bg-center bg-no-repeat h-[900px]">          
  </div>
</section>



{% schema %}
{
  "name": "Ak - Science S3",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_background_image",
      "label": "Desktop Background Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_background_image",
      "label": "Mobile Background Image"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "text",
          "id": "slide_text",
          "label": "Slide Text",
          "default": "The Liver Performs over 500 crucial functions"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Ak - Science S3",
      "category": "AKKA SCIENCE"      
    }
  ]
}
{% endschema %}


