<!-- sections/marquee-section.liquid -->
<link rel="stylesheet" href="{{ 'swiper.css' |  asset_url }}">
 <style>
    .section2-sticky {
      position: sticky;
      top: 72px;
      z-index:0;
    }
    #section2 .bg-image {
        background-image: url({{ section.settings.desktop_background_image | img_url: 'master' }});
    }
    @media(max-width: 1200px) {
        #section2 .bg-image {
            background-image: url({{ section.settings.mobile_background_image | img_url: 'master' }});
            height:660px;
            background-size:100% 100%;
        }
    }

 </style>
<div id="section2-sticky">
  <section id="section2" class="relative max-md:overflow-hidden font-['syne']">
    <div class="bg-image bg-cover bg-center bg-no-repeat h-[900px]">          
    </div>
  </section>
</div>



{% schema %}
{
  "name": "Ak - Science S3",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_background_image",
      "label": "Desktop Background Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_background_image",
      "label": "Mobile Background Image"
    }
  ],
  "presets": [
    {
      "name": "Ak - Science S3",
      "category": "AKKA SCIENCE"      
    }
  ]
}
{% endschema %}


