<!-- sections/liver_info_section.liquid -->

<style>

  
  
  #section1 , #section4 {
    
    background-image: url('https://cdn.shopify.com/s/files/1/0885/5581/5215/files/science-s2bg.png?v=1727176796');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
  }
</style>
<section id="section1" class="ak-text-[#2E3666] ak-font-['syne'] max-lg:ak-relative max-lg:ak-z-10 dynamic-sticky" data-full-m="true">
  <div class="ak-flex ak-flex-col ak-gap-[128px] ak-max-w-[var(--page-width)] ak-w-full ak-mx-auto ak-py-[128px] max-lg:ak-py-[32px] max-lg:ak-gap-[32px]">
    <!--FIRST COL-->
    <section class="ak-flex ak-flex-wrap ak-gap-8 ak-items-start ak-text-[#2E3666]">
      <div class="ak-flex ak-flex-col ak-justify-between ak-min-w-[240px] ak-max-w-[647px] ak-w-full max-lg:ak-max-w-full max-lg:ak-px-4">
        <h2 class="ak-py-2.5 ak-max-w-full ak-text-[70px] ak-tracking-[1.4px] ak-border-[#2E3666] ak-border-t-[6px] ak-leading-[70px] ak-w-[485px] max-lg:ak-max-w-full max-lg:ak-text-[40px] max-lg:ak-leading-10 max-lg:ak-border-none">
          Understanding <span class="ak-font-['Blisstwin']">the liver's vital role</span>
        </h2>
        <div class="ak-mt-[128px] max-lg:ak-mt-8">
          <p class="ak-text-2xl ak-tracking-wide ak-leading-[150%] max-lg:ak-leading-[140%] max-lg:ak-max-w-full max-lg:ak-text-[20px]">
            The liver is one of your body's largest organs, and is vital
            for sustaining life. Performing over 500 crucial functions,
            it plays a pivotal role in transforming food into energy, filtering toxins from your blood, producing bile to digest fats, and storing essential vitamins and minerals. It also regulates hormones and supports your immune system.
          </p>
          <p class="ak-mt-[20px] ak-text-2xl ak-tracking-wide ak-leading-[150%] max-lg:ak-leading-[140%] max-lg:ak-max-w-full max-lg:ak-text-[20px]">
            Essentially, the health of your liver directly impacts how you feel on a daily basis—from your energy levels to how effectively your body fights off illnesses.
          </p>
        </div>            
      </div>
      <img loading="lazy" src="{{ section.settings.image1 | img_url: 'master' }}" class="ak-min-w-[240px] ak-max-w-[646px] ak-w-full max-lg:ak-max-w-full" alt="Illustration representing the liver's vital role in the human body" />
    </section>

    <!--SECOND COL-->
    <section class="ak-flex ak-flex-wrap ak-gap-8 ak-items-start ak-text-[#2E3666] ak-justify-between max-lg:ak-flex-col-reverse max-lg:ak-px-4">
      <img loading="lazy" src="{{ section.settings.image2 | img_url: 'master' }}" class="ak-min-w-[240px] ak-max-w-[540px] ak-w-full max-lg:ak-max-w-full" alt="Illustration representing the liver's vital role in the human body" />
      <div class="ak-flex ak-flex-col ak-justify-between ak-min-w-[240px] ak-max-w-[658px] ak-w-full max-lg:ak-max-w-full">
        <h2 class="ak-py-2.5 ak-max-w-full ak-text-[70px] ak-tracking-[1.4px] ak-border-[#2E3666] ak-border-t-[6px] ak-leading-[70px] ak-w-[577px] max-lg:ak-max-w-full max-lg:ak-text-[40px] max-lg:ak-leading-10 max-lg:ak-border-none max-lg:ak-py-0">
          What happens <br>
          in a<span class="ak-font-['Blisstwin']"> compromised liver</span>
        </h2>
        <div class="ak-mt-[64px] max-lg:ak-mt-8">
          <p class="ak-text-2xl ak-tracking-wide ak-leading-[150%] max-lg:ak-max-w-full max-lg:ak-text-[20px] max-lg:ak-leading-[140%]">
            When the liver becomes compromised, its capacity to process foods and convert fats into energy diminishes.
            This not only slows down the body’s natural detoxification process but also contributes to unexplained weight gain and increased daytime fatigue.
            <br><br>
            The gallbladder, a small yet vital organ connected to the liver, plays a key role by storing bile necessary for fat digestion in the small intestine. When an overload of toxins affects the liver and gallbladder, the bile may thicken and congest the bile ducts, preventing the bile from reaching the intestine. This results in a reduced ability to digest fats and creates further strain on the liver's detoxifying capacity.
          </p>              
        </div>            
      </div>          
    </section>

    <!--THIRD COL-->        
    <section class="ak-text-[#2E3666] max-lg:ak-px-4">
      <div class="ak-flex ak-items-start ak-justify-between max-lg:ak-flex-col max-lg:ak-gap-8">
        <div class="ak-flex ak-flex-col ak-justify-between ak-min-w-[240px] ak-max-w-[658px] ak-w-full max-lg:ak-max-w-full">
          <h2 class="ak-py-2.5 ak-max-w-full ak-text-[70px] ak-tracking-[1.4px] ak-border-[#2E3666] ak-border-t-[6px] ak-leading-[70px] ak-w-[295px] max-lg:ak-max-w-full max-lg:ak-text-[40px] max-lg:ak-leading-10 max-lg:ak-border-none max-lg:ak-py-0">
            The toxic<span class="ak-font-['Blisstwin']">  cycle</span>
          </h2>
          <div class="ak-mt-[64px] max-lg:ak-mt-8">
            <p class="ak-text-2xl ak-tracking-wide ak-leading-[150%] max-lg:ak-max-w-full max-lg:ak-text-[20px] max-lg:ak-leading-[140%]">
              When liver health is compromised by lifestyle choices, infections, or genetics, its capacity to perform its essential functions is diminished. This can lead to systemic toxicity, decreased energy levels, and digestive problems due to poor fat metabolism.
            </p>              
          </div>            
        </div> 
        <img loading="lazy" src="{{ section.settings.image3 | img_url: 'master' }}" class="ak-min-w-[240px] ak-max-w-[507px] ak-w-full max-lg:ak-max-w-full" alt="Illustration representing the liver's vital role in the human body" />
      </div>

      <div class="ak-mt-[32px] ak-flex ak-items-start ak-justify-between max-lg:ak-flex-col max-lg:ak-gap-8">
        <div class="ak-max-w-[658px] ak-w-full max-lg:ak-max-w-full">
          <p class="ak-text-[24px] max-lg:ak-text-[20px] ak-leading-[150%] ak-tracking-[0.48px]">An overburdened liver can can lead to:</p>
          <div class="ak-my-[32px]">
            <p class="ak-text-[22px] max-lg:ak-text-[18px] ak-leading-[120%] ak-tracking-[0.44px] ak-flex ak-gap-[32px] max-lg:ak-gap-2 ak-py-[16px] max-lg:ak-flex-col ak-border-t-[2px] ak-border-solid ak-border-[#2E3666] max-lg:ak-px-[16px]">
              <span class="ak-block ak-w-[199px] max-lg:ak-w-full ak-leading-[normal] ak-tracking-[0.88px] ak-font-normal max-lg:ak-font-normal">Reduced Detoxification:</span>
              <span class="ak-block ak-max-w-[416px] ak-w-full">Slowed detox processes result in toxins accumulating in the blood, potentially causing skin irritations and other more severe health issues.</span>
            </p>
            <p class="ak-text-[22px] max-lg:ak-text-[18px] ak-leading-[120%] ak-tracking-[0.44px] ak-flex ak-gap-[32px] max-lg:ak-gap-2 ak-py-[16px] max-lg:ak-flex-col ak-border-t-[2px] ak-border-b-[2px] ak-border-solid ak-border-[#2E3666] max-lg:ak-px-[16px]">
              <span class="ak-block ak-w-[199px] max-lg:ak-w-full ak-leading-[normal] ak-tracking-[0.88px] ak-font-normal max-lg:ak-font-normal">Bile Production Disruption: </span>
              <span class="ak-block ak-max-w-[416px] ak-w-full">An overburdened liver produces less bile, which can lead to digestive problems and inefficient nutrient absorption.</span>
            </p>
            <p class="ak-text-[22px] max-lg:ak-text-[18px] ak-leading-[120%] ak-tracking-[0.44px] ak-flex ak-gap-[32px] max-lg:ak-gap-2 ak-py-[16px] max-lg:ak-flex-col ak-border-b-[2px] ak-border-solid ak-border-[#2E3666] max-lg:ak-px-[16px]">
              <span class="ak-block ak-basis-[199px] max-lg:ak-basis-[unset] ak-w-full ak-leading-[normal] ak-tracking-[0.88px] ak-font-normal max-lg:ak-font-normal">Inefficient Metabolism: </span>
              <span class="ak-block ak-max-w-[416px] ak-w-full">The liver struggles to process and convert food into energy, leading to fatigue and weight gain.</span>
            </p>
          </div>
          <p class="ak-text-[24px] max-lg:ak-text-[20px] ak-leading-[150%] max-lg:ak-leading-[140%] ak-tracking-[0.48px]">The resulting toxic cycle worsens as the liver, unable to detoxify properly, starts storing fat instead of metabolizing it, which makes the liver and gallbladder even less effective. This can lead to rapid weight gain and increased fatigue and brain fog.</p>
        </div>
        <img class="ak-max-w-[507px] ak-w-full max-lg:ak-max-w-full" src="{{ section.settings.image4 | img_url: 'master' }}" alt="">
      </div>
    </section>
  </div>
</section>


{% schema %}
{
  "name": "AK - Science S2",
  "settings": [
    {
      "type": "image_picker",
      "id": "image1",
      "label": "First Image"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Second Image"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Third Image"
    },
    {
      "type": "image_picker",
      "id": "image4",
      "label": "Fourth Image"
    }
  ],
  "presets": [
    {
      "name": "AK - Science S2",
      "category": "AKKA SCIENCE"
    }
  ]
}
{% endschema %}
