{% schema %}
    {
      "name": "Section 9",
      "settings": []
    }
  {% endschema %}
  <section class="max-w-full md:max-w-[1440px] mx-auto">
          <div class="w-full md:w-[646px] mx-auto py-[32px]">
              <div class="flex flex-col gap-[16px] md:gap-[26px]">
                  <div class="flex flex-col gap-[16px]">
                      <div class="bg-[#2F3A7C] w-[150px] py-[4px] mx-4 md:mx-0"></div>
                      <p class="font-myriadpro font-bold leading-[38px] md:leading-[48px] md:text-[42px] text-[34px] text-[#2F3A7C] text-left px-4 md:px-0">The First Warning Sign That Your Fat Loss Has Come To A Screeching Halt:</p>
                  </div>
                  <div class="flex flex-col md:flex-row gap-[16px] md:gap-[30px] items-start justify-start px-4 md:px-0">
                      <div class="flex-1">
                          <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/fat-loss-has-come-img.png" class="w-full" />
                      </div>
                      <div class="flex-1">
                          <p class="font-myriadpro text-[18px] md:text-[20px] leading-[27px]">
                              Weight gain is an <span class="bg-[#FFEC70] py-2 font-semibold">early warning sign</span> because bile produced by the liver is actually what breaks down fat, and once it's clogged, your body's natural ability to burn fat comes to a screeching halt.
                              <br/><br/>
                              <span class="bg-[#FFEC70] py-2 font-semibold leading-[30px]">At this point fat starts to accumulate</span> for two reasons. First, because you’ve lost the ability to break it down, and second, your body starts storing additional fat to protect your internal organs from the toxins. 
                          </p>
                      </div>
                  </div>
                  <p class="font-myriadpro text-[18px] md:text-[20px] leading-[120%] px-4 md:px-0">
                      👉🏽 <span class="font-semibold underline italic">This is what makes belly fat stubborn and hard to lose.</span>
                      <br/><br/>
                      We know this because once the liver starts failing, there’s a period of rapid weight gain that accompanies it. 
                      <br/><br/>
                      Toxins then build up in the bloodstream, leading to fatigue, more fat accumulation in an attempt to protect your organs, dulled senses, joint pain and body aches.
                  </p>
                  <div class="flex flex-row gap-[8px] items-center justify-start px-4 md:px-0">
                      <div class="bg-[#2F3A7C] w-[8px] self-stretch rounded-full"></div>
                      <div class="flex items-center justify-center bg-[#F8D0B0] bg-[linear-gradient(0deg,rgba(255,255,255,0.60)_0%,rgba(255,255,255,0.60)_100%),linear-gradient(0deg,#F79F45_0%,#F79F45_100%)] border border-[rgba(210,55,55,_0.50)]">
                          <p class="font-myriadpro p-[10px] text-[18px] md:text-[20px] text-black leading-[24px] md:leading-[normal]">This harmful cycle eventually results in you gaining weight and your <span class="font-semibold">entire body being overloaded with toxic chemicals that sap away your energy, and cloud your thinking.</span></p>
                      </div>
                  </div>
                  <p class="font-myriadpro text-[18px] md:text-[20px] leading-[120%] px-4 md:px-0">
                      Your body desperately tries to push the toxins out in any way possible, and <span class="font-semibold">you might notice embarrassing body odor, bad breath, itchy skin, rashes, redness, or rosacea.</span>
                  </p>
              </div>
          </div>
      </section>