{% schema %}
    {
      "name": "Section 29",
      "settings": []
    }
  {% endschema %}
  <section class="bg-[#E4E7FF] bg-[linear-gradient(0deg,#F7F6F4_0%,#F7F6F4_100%)]">
          <div class="max-w-full md:max-w-[1440px] mx-auto">
              <div class="py-[32px] md:w-[660px] mx-auto">
                  <div class="flex flex-col gap-[24px] md:gap-[32px]">
                      <div class="flex flex-col gap-[16px]">
                          <div class="bg-[#2F3A7C] w-[150px] py-[4px] mx-4 md:mx-0"></div>
                          <p class="font-myriadpro font-bold leading-[38px] md:leading-[48px] md:text-[42px] text-[34px] text-[#2F3A7C] text-left px-4 md:px-0">Liver Cleanse Protocol: An Essential Part Of The Akka System</p>
                      </div>
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/liver-cleanse-img.png" class="w-full hidden md:block" />
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/liver-cleanse-img-mobile.png" class="w-full block md:hidden" />
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0">
                          Every order today receives our comprehensive guide, <span class="font-semibold italic">"Liver Cleanse Protocol: The Definitive Guide to Detoxifying and Revitalizing Your Liver".</span>
                          <br/><br/>
                          <span class="font-semibold">This crucial element of the Akka Superbiotic system</span> unveils simple yet powerful strategies for enhancing liver function, boosting metabolism, and increasing fat-burning potential.    
                      </p>
                      <div class="flex flex-col gap-[24px] md:gap-[8px]">
                          <div class="flex md:flex-row flex-col md:pt-0 gap-[16px] md:gap-[30px] items-center justify-center">
                              <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/cleanse-1.png" class="w-[139px]" />
                              <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0 md:pb-0 pb-[24px]">Explore our <span class="font-semibold">“Liver Refresh”</span> meal plan, featuring liver-supportive, delectable meals and simple-to-follow recipes that your entire family will enjoy.</p>
                          </div>
                          <div class="flex md:flex-row flex-col md:pt-0 gap-[16px] md:gap-[30px] items-center justify-center">
                              <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/cleanse-2.png" class="w-[139px]" />
                              <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0 md:pb-0 pb-[24px]">Discover <span class="font-semibold">7 gentle exercises that detoxify your liver</span> more effectively (and safely) than conventional detox methods.</p>
                          </div>
                          <div class="flex md:flex-row flex-col md:pt-0 gap-[16px] md:gap-[30px] items-center justify-center">
                              <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/cleanse-3.png" class="w-[139px]" />
                              <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0 md:pb-0 pb-[24px]">Dive into the secrets of my signature <span class="font-semibold">“Green Guardian” smoothie</span> that naturally elevates your antioxidant levels, supports liver function, and helps reduce toxin load in your liver.</p>
                          </div>
                          <div class="flex md:flex-row flex-col md:pt-0 gap-[16px] md:gap-[30px] items-center justify-center">
                              <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/cleanse-4.png" class="w-[139px]" />
                              <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0 md:pb-0 pb-[24px]">And not to be missed, my personal go-to, an incredibly calming <span class="font-semibold italic">10-minute relaxation technique</span> that significantly improves liver health by reducing stress on the liver, enhancing your mood, and boosting your productivity.</p>
                          </div>
                      </div>
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0">
                          <span class="font-semibold">"Liver Cleanse Protocol"</span> is typically available for <span class="font-semibold">$39.95</span> on our website but comes included with the LiverHealth system at no additional cost.
                      </p>
                      <div class="mx-auto">
                          <a href="#claim-your-supply"><button class="w-auto md:w-[505px] rounded-full bg-[#485397] shadow-[0px_3px_2px_0px_#485397_inset,0px_10px_15px_0px_rgba(72,83,151,0.50)] px-[32px] md:px-[64px] py-[22px] text-[#FFFFFF] font-semibold leading-[normal] md:tracking-[0.4px] text-[18px] md:text-[20px] mx-2 md:mx-0">Flush Your Liver And Feel Amazing ></button></a>
                      </div>
                  </div>
              </div>
          </div>
      </section>