{% schema %}
    {
      "name": "Section 25",
      "settings": []
    }
  {% endschema %}
   <section style="background-size: 100%;" class="show-claim-button bg-[#FFFFFF] bg-[url(https://cdn.shopify.com/s/files/1/0885/5581/5215/files/flower-bg.png)] bg-bottom bg-no-repeat">
          <div class="max-w-full md:max-w-[1440px] mx-auto">
              <div class="py-[32px] md:w-[655px] mx-auto">
                  <div class="flex flex-col gap-[24px] md:gap-[32px]">
                      <div class="flex flex-col gap-[16px]">
                          <div class="bg-[#2F3A7C] w-[150px] py-[4px] mx-4 md:mx-0"></div>
                          <p class="font-myriadpro font-bold leading-[38px] md:leading-[48px] md:text-[42px] text-[33px] text-[#2F3A7C] text-left px-4 md:px-0">Experience The True Freedom of Living Without Liver Problems or Stubborn Belly Fat</p>
                      </div>
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/living-without-liver-problem-img.png" class="w-full" />
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0">
                          <span class="font-semibold">Picture the joy and appreciation in your family's eyes</span> as you enjoy your favorite activities all day long, no longer sidelined by fatigue or discomfort, fully present and making lasting memories.
                          <br/><br/>
                          Think of your friends’ surprise as they notice not just a slimmer waist, but a vibrant glow to your skin and eyes, a visible testament to your internal health transformation.
                          <br/><br/>
                          <span class="italic">Your midsection feels firmer, boosting your confidence in your appearance ...</span>
                          <br/><br/>
                          Your partner notices a renewed spark in your relationship as health issues no longer dampen your intimate moments.
                          <br/><br/>
                          You find yourself embracing life more fully, confidently wearing what you love, socializing more, and enjoying your favorite meals out, all because your energy is boundless and your mood is uplifted.
                          <br/><br/>
                          And as each day passes, <span class="font-semibold italic">life becomes even more fulfilling and vibrant...</span>
                          <br/><br/>
                          Every day, I'm flooded with messages from people whose <span class="font-semibold italic">lives have been transformed by Akka.</span> Their stories inspire me to share the wonders of this liver detoxification and rejuvenation solution with as many people as possible…
                      </p>
                      <div class="mx-auto">
                          <a href="#claim-your-supply"><button class="w-auto md:w-[480px] rounded-full bg-[#485397] shadow-[0px_3px_2px_0px_#485397_inset,0px_10px_15px_0px_rgba(72,83,151,0.50)] px-[32px] md:px-[64px] py-[22px] text-[#FFFFFF] font-semibold leading-[normal] md:tracking-[0.4px] text-[18px] md:text-[20px] mx-2 md:mx-0">Restart Your Fat-Burning Furnace ></button></a>
                      </div>
                  </div>
              </div>
          </div>
      </section>