{% schema %}
    {
      "name": "Section 21",
      "settings": []
    }
  {% endschema %}
  <section style="background-position: center bottom -45%; background-size: 100%;" class="show-claim-button bg-[#F79F45] bg-[url(https://cdn.shopify.com/s/files/1/0885/5581/5215/files/vector-orange.png),linear-gradient(0deg,rgba(255,255,255,0.60)_0%,rgba(255,255,255,0.60)_100%)] bg-no-repeat">
          <div class="max-w-full md:max-w-[1440px] mx-auto py-[32px]">
              <div class="w-full xl:w-[1032px] md:px-[32px] mx-auto flex xl:flex-row flex-col md:gap-[64px] gap-[32px]">
                  <div class="flex-1 flex flex-col gap-[8px] px-4 md:px-0">
                      <div class="flex flex-row items-center justify-between">
                          <div class="flex flex-row gap-[16px]">
                              <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/stephanie-cox.png" class="w-[40px]">
                              <div class="flex flex-col w-[350px] md:w-auto">
                                  <div class="flex flex-row gap-[6px] items-center justify-start md:justify-center">
                                      <p class="font-myriadpro font-bold text-[#485397] text-[18px] md:leading-[130%] leading-[100%]">Stephanie Cox</p>
                                      <p class="font-myriadpro text-[#48539770] italic text-[14px] md:leading-[130%] leading-[100%]">Los Angeles, California</p>
                                  </div>
                                  <div class="flex flex-row items-center justify-start">
                                      <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <circle cx="8.4999" cy="9.64052" r="8.05263" fill="#006C04"/>
                                          <circle cx="8.4999" cy="9.64052" r="8.05263" fill="white" fill-opacity="0.3"/>
                                          <path d="M12.9746 7.05566L7.15882 12.8715L4.57422 10.2869" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>     
                                      <p class="font-myriadpro italic text-[14px] text-[#006C04] leading-[120%]">verified customer</p>
                                      <svg class="block md:hidden ml-auto" xmlns="http://www.w3.org/2000/svg" width="108" height="19" viewBox="0 0 108 19" fill="none">
                                          <path d="M10.4891 0.748047L13.5573 6.52498L19.9996 7.65788L15.4536 12.3611L16.3669 18.8382L10.4891 15.968L4.61123 18.8382L5.52457 12.3611L0.978516 7.65788L7.42084 6.52498L10.4891 0.748047Z" fill="#EC7800"/>
                                          <path d="M32.4891 0.748047L35.5573 6.52498L41.9996 7.65788L37.4536 12.3611L38.3669 18.8382L32.4891 15.968L26.6112 18.8382L27.5246 12.3611L22.9785 7.65788L29.4208 6.52498L32.4891 0.748047Z" fill="#EC7800"/>
                                          <path d="M54.4891 0.748047L57.5573 6.52498L63.9996 7.65788L59.4536 12.3611L60.3669 18.8382L54.4891 15.968L48.6112 18.8382L49.5246 12.3611L44.9785 7.65788L51.4208 6.52498L54.4891 0.748047Z" fill="#EC7800"/>
                                          <path d="M76.4891 0.748047L79.5573 6.52498L85.9996 7.65788L81.4536 12.3611L82.3669 18.8382L76.4891 15.968L70.6112 18.8382L71.5246 12.3611L66.9785 7.65788L73.4208 6.52498L76.4891 0.748047Z" fill="#EC7800"/>
                                          <path d="M98.4891 0.748047L101.557 6.52498L108 7.65788L103.454 12.3611L104.367 18.8382L98.4891 15.968L92.6112 18.8382L93.5246 12.3611L88.9785 7.65788L95.4208 6.52498L98.4891 0.748047Z" fill="#EC7800"/>
                                      </svg>
                                  </div>
                              </div>
                          </div>
                          <svg class="hidden md:block" xmlns="http://www.w3.org/2000/svg" width="108" height="19" viewBox="0 0 108 19" fill="none">
                              <path d="M10.4891 0.748047L13.5573 6.52498L19.9996 7.65788L15.4536 12.3611L16.3669 18.8382L10.4891 15.968L4.61123 18.8382L5.52457 12.3611L0.978516 7.65788L7.42084 6.52498L10.4891 0.748047Z" fill="#EC7800"/>
                              <path d="M32.4891 0.748047L35.5573 6.52498L41.9996 7.65788L37.4536 12.3611L38.3669 18.8382L32.4891 15.968L26.6112 18.8382L27.5246 12.3611L22.9785 7.65788L29.4208 6.52498L32.4891 0.748047Z" fill="#EC7800"/>
                              <path d="M54.4891 0.748047L57.5573 6.52498L63.9996 7.65788L59.4536 12.3611L60.3669 18.8382L54.4891 15.968L48.6112 18.8382L49.5246 12.3611L44.9785 7.65788L51.4208 6.52498L54.4891 0.748047Z" fill="#EC7800"/>
                              <path d="M76.4891 0.748047L79.5573 6.52498L85.9996 7.65788L81.4536 12.3611L82.3669 18.8382L76.4891 15.968L70.6112 18.8382L71.5246 12.3611L66.9785 7.65788L73.4208 6.52498L76.4891 0.748047Z" fill="#EC7800"/>
                              <path d="M98.4891 0.748047L101.557 6.52498L108 7.65788L103.454 12.3611L104.367 18.8382L98.4891 15.968L92.6112 18.8382L93.5246 12.3611L88.9785 7.65788L95.4208 6.52498L98.4891 0.748047Z" fill="#EC7800"/>
                          </svg>
                      </div>
                      <div class="bg-[#FFFFFF] border border-[rgba(236,120,0,0.60)] shadow-[0px_3px_15px_0px_rgba(236,120,0,0.20)] rounded p-[16px]">
                          <p class="font-myriadpro italic leading-[24px] text-black mb-3">
                              My journey with Akka began during a particularly tough period in my life. I was constantly feeling sluggish and bloated, with my weight steadily increasing for reasons I couldn't understand. I had bouts of constipation, and my body just felt gross overall. I tried everything from diet changes to fitness regimes, but nothing seemed to help.
                          </p>
                          <p class="font-myriadpro italic leading-[24px] text-black mb-3">
                              Akka changed everything for me. Not only did it help cleanse and rejuvenate my liver, but it also kick-started my weight loss and restored my energy levels. For the first time in years, I felt like my body was working with me, not against me.
                          </p>
                          <p class="font-myriadpro italic leading-[24px] text-black mb-3">
                              The transformation was noticeable not just to me but to everyone around me. Colleagues and friends commented on how much happier and more energetic I seemed. I went from avoiding social gatherings to embracing them, thanks to the newfound confidence Akka gave me.
                          </p>
                          <p class="font-myriadpro italic leading-[24px] text-black mb-3">
                              I believe Akka is something everyone should know about, especially those struggling with similar issues. It has not only improved my physical health but has also had a profound impact on my overall well-being and happiness. I've recommended it to everyone I care about.
                          </p>
                      </div>
                  </div>
                  <div class="flex-1 flex flex-col gap-[8px] px-4 md:px-0">
                      <div class="flex flex-row items-center justify-between">
                          <div class="flex flex-row gap-[16px]">
                              <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/jerry-simmons.png" class="w-[40px]">
                              <div class="flex flex-col w-[350px] md:w-auto">
                                  <div class="flex flex-row gap-[6px] items-center justify-start md:justify-center">
                                      <p class="font-myriadpro font-bold text-[#485397] text-[18px] md:leading-[130%] leading-[100%]">Jerry Simmons</p>
                                      <p class="font-myriadpro text-[#48539770] italic text-[14px] md:leading-[130%] leading-[100%]">Atlanta GA</p>
                                  </div>
                                  <div class="flex flex-row items-center justify-start">
                                      <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <circle cx="8.4999" cy="9.64052" r="8.05263" fill="#006C04"/>
                                          <circle cx="8.4999" cy="9.64052" r="8.05263" fill="white" fill-opacity="0.3"/>
                                          <path d="M12.9746 7.05566L7.15882 12.8715L4.57422 10.2869" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>     
                                      <p class="font-myriadpro italic text-[14px] text-[#006C04] leading-[120%]">verified customer</p>
                                      <svg class="block md:hidden ml-auto" xmlns="http://www.w3.org/2000/svg" width="108" height="19" viewBox="0 0 108 19" fill="none">
                                          <path d="M10.4891 0.748047L13.5573 6.52498L19.9996 7.65788L15.4536 12.3611L16.3669 18.8382L10.4891 15.968L4.61123 18.8382L5.52457 12.3611L0.978516 7.65788L7.42084 6.52498L10.4891 0.748047Z" fill="#EC7800"/>
                                          <path d="M32.4891 0.748047L35.5573 6.52498L41.9996 7.65788L37.4536 12.3611L38.3669 18.8382L32.4891 15.968L26.6112 18.8382L27.5246 12.3611L22.9785 7.65788L29.4208 6.52498L32.4891 0.748047Z" fill="#EC7800"/>
                                          <path d="M54.4891 0.748047L57.5573 6.52498L63.9996 7.65788L59.4536 12.3611L60.3669 18.8382L54.4891 15.968L48.6112 18.8382L49.5246 12.3611L44.9785 7.65788L51.4208 6.52498L54.4891 0.748047Z" fill="#EC7800"/>
                                          <path d="M76.4891 0.748047L79.5573 6.52498L85.9996 7.65788L81.4536 12.3611L82.3669 18.8382L76.4891 15.968L70.6112 18.8382L71.5246 12.3611L66.9785 7.65788L73.4208 6.52498L76.4891 0.748047Z" fill="#EC7800"/>
                                          <path d="M98.4891 0.748047L101.557 6.52498L108 7.65788L103.454 12.3611L104.367 18.8382L98.4891 15.968L92.6112 18.8382L93.5246 12.3611L88.9785 7.65788L95.4208 6.52498L98.4891 0.748047Z" fill="#EC7800"/>
                                      </svg>
                                  </div>
                              </div>
                          </div>
                          <svg class="hidden md:block" xmlns="http://www.w3.org/2000/svg" width="108" height="19" viewBox="0 0 108 19" fill="none">
                              <path d="M10.4891 0.748047L13.5573 6.52498L19.9996 7.65788L15.4536 12.3611L16.3669 18.8382L10.4891 15.968L4.61123 18.8382L5.52457 12.3611L0.978516 7.65788L7.42084 6.52498L10.4891 0.748047Z" fill="#EC7800"/>
                              <path d="M32.4891 0.748047L35.5573 6.52498L41.9996 7.65788L37.4536 12.3611L38.3669 18.8382L32.4891 15.968L26.6112 18.8382L27.5246 12.3611L22.9785 7.65788L29.4208 6.52498L32.4891 0.748047Z" fill="#EC7800"/>
                              <path d="M54.4891 0.748047L57.5573 6.52498L63.9996 7.65788L59.4536 12.3611L60.3669 18.8382L54.4891 15.968L48.6112 18.8382L49.5246 12.3611L44.9785 7.65788L51.4208 6.52498L54.4891 0.748047Z" fill="#EC7800"/>
                              <path d="M76.4891 0.748047L79.5573 6.52498L85.9996 7.65788L81.4536 12.3611L82.3669 18.8382L76.4891 15.968L70.6112 18.8382L71.5246 12.3611L66.9785 7.65788L73.4208 6.52498L76.4891 0.748047Z" fill="#EC7800"/>
                              <path d="M98.4891 0.748047L101.557 6.52498L108 7.65788L103.454 12.3611L104.367 18.8382L98.4891 15.968L92.6112 18.8382L93.5246 12.3611L88.9785 7.65788L95.4208 6.52498L98.4891 0.748047Z" fill="#EC7800"/>
                          </svg>
                      </div>
                      <div class="bg-[#FFFFFF] border border-[rgba(236,120,0,0.60)] shadow-[0px_3px_15px_0px_rgba(236,120,0,0.20)] rounded p-[16px]">
                          <p class="font-myriadpro italic leading-[24px] text-black mb-3">
                              Before discovering Akka, I struggled with fatigue and a constant sense of feeling unwell, which I later learned was due to my liver not functioning properly. For years, I just lived with it, thinking it was normal to feel tired when you're older.
                          </p>
                          <p class="font-myriadpro italic leading-[24px] text-black mb-3">
                              I had tried various supplements and visited several specialists, but nothing provided a lasting solution. My energy levels were always low, and I noticed my sense of taste and smell just seemed 'off'. Food would taste bland on some days and other days just downright unpleasant.
                          </p>
                          <p class="font-myriadpro italic leading-[24px] text-black mb-3">
                              I also noticed a ringing in my ears -- especially in the morning when I woke up.
                          </p>
                          <p class="font-myriadpro italic leading-[24px] text-black mb-3">
                              Within just one week of starting Akka, I began to feel a significant difference. My energy levels improved, and I no longer felt that constant fatigue that had been dragging me down. My senses also came back to normal in just a few short weeks.
                          </p>
                          <p class="font-myriadpro italic leading-[24px] text-black mb-3">
                              I was skeptical at first, as I had never been able to find something that truly worked, but Akka proved me wrong. Not only has my energy returned, but I've also started to lose some of the weight that seemed impossible to shed before.
                          </p>
                          <p class="font-myriadpro italic leading-[24px] text-black mb-3">
                              Akka has truly been a game-changer for me. A solid 5-star experience.
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </section>