{% schema %}
    {
      "name": "Section 24",
      "settings": []
    }
  {% endschema %}
  <section class="show-claim-button bg-[rgba(242,243,255,0.60)] bg-[linear-gradient(0deg,rgba(253,236,218,0.80)_0%,rgba(253,236,218,0.80)_100%),linear-gradient(0deg,#F79F45_0%,#F79F45_100%)]">
          <div class="max-w-full md:max-w-[1440px] mx-auto py-[32px]">
              <div class="w-full xl:w-[1032px] md:px-[32px] mx-auto flex xl:flex-row flex-col md:gap-[64px] gap-[32px]">
                  <div class="flex-1 flex flex-col gap-[8px] px-4 md:px-0">
                      <div class="flex flex-row items-center justify-between">
                          <div class="flex flex-row gap-[16px]">
                              <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/elizabeth-meyers.png" class="w-[40px]">
                              <div class="flex flex-col md:w-auto w-[340px]">
                                  <div class="flex flex-row gap-[6px] items-center justify-start md:justify-center">
                                      <p class="font-myriadpro font-bold text-[#485397] text-[18px] md:leading-[130%] leading-[100%]">Elizabeth Meyers</p>
                                      <p class="font-myriadpro text-[#48539770] italic text-[14px] md:leading-[130%] leading-[100%]">Pensacola FL</p>
                                  </div>
                                  <div class="flex flex-row items-center justify-start">
                                      <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <circle cx="8.4999" cy="9.64052" r="8.05263" fill="#006C04"/>
                                          <circle cx="8.4999" cy="9.64052" r="8.05263" fill="white" fill-opacity="0.3"/>
                                          <path d="M12.9746 7.05566L7.15882 12.8715L4.57422 10.2869" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>     
                                      <p class="font-myriadpro italic text-[14px] text-[#006C04] leading-[120%]">verified customer</p>
                                      <svg class="block xl:hidden ml-auto" xmlns="http://www.w3.org/2000/svg" width="108" height="19" viewBox="0 0 108 19" fill="none">
                                          <path d="M10.4891 0.748047L13.5573 6.52498L19.9996 7.65788L15.4536 12.3611L16.3669 18.8382L10.4891 15.968L4.61123 18.8382L5.52457 12.3611L0.978516 7.65788L7.42084 6.52498L10.4891 0.748047Z" fill="#EC7800"/>
                                          <path d="M32.4891 0.748047L35.5573 6.52498L41.9996 7.65788L37.4536 12.3611L38.3669 18.8382L32.4891 15.968L26.6112 18.8382L27.5246 12.3611L22.9785 7.65788L29.4208 6.52498L32.4891 0.748047Z" fill="#EC7800"/>
                                          <path d="M54.4891 0.748047L57.5573 6.52498L63.9996 7.65788L59.4536 12.3611L60.3669 18.8382L54.4891 15.968L48.6112 18.8382L49.5246 12.3611L44.9785 7.65788L51.4208 6.52498L54.4891 0.748047Z" fill="#EC7800"/>
                                          <path d="M76.4891 0.748047L79.5573 6.52498L85.9996 7.65788L81.4536 12.3611L82.3669 18.8382L76.4891 15.968L70.6112 18.8382L71.5246 12.3611L66.9785 7.65788L73.4208 6.52498L76.4891 0.748047Z" fill="#EC7800"/>
                                          <path d="M98.4891 0.748047L101.557 6.52498L108 7.65788L103.454 12.3611L104.367 18.8382L98.4891 15.968L92.6112 18.8382L93.5246 12.3611L88.9785 7.65788L95.4208 6.52498L98.4891 0.748047Z" fill="#EC7800"/>
                                      </svg>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="bg-[#FFFFFF] border border-[rgba(236,120,0,0.60)] shadow-[0px_3px_15px_0px_rgba(236,120,0,0.20)] rounded p-[16px]">
                          <p class="font-myriadpro italic leading-[24px] text-black mb-3">
                              Living with constant fatigue and an ever-expanding midsection had become a nightmare. I was always exhausted, no matter how much I rested. Meals were a challenge because I would feel bloated and uncomfortable afterward, leading me to dread eating. 
                          </p>
                          <p class="font-myriadpro italic leading-[24px] text-black mb-3">
                              I knew something was seriously wrong because my hands would itch after eating. Which was really weird.  My husband also noticed that my breath and body odor was getting worse, and I couldn't even tell.  I tried countless remedies and consulted with multiple doctors, but no one had any answers. 
                          </p>
                          <p class="font-myriadpro italic leading-[24px] text-black mb-3">
                              Then, a life-changing recommendation came while I was at my lowest point during a family trip. My mother-in-law ...
                          </p>
                          <div class="block xl:hidden">
                              <p class="font-myriadpro italic leading-[24px] text-black mb-3">
                                  ...suggested I try Akka. Skeptical but desperate, I gave it a shot.
                              </p>
                              <p class="font-myriadpro italic leading-[24px] text-black mb-3">
                                  The effect was immediate, and dramatic.  My energy levels improved, and the bloating disappeared.  My previous issues with fatigue and discomfort after meals became a thing of the past. 
                              </p>
                              <p class="font-myriadpro italic leading-[24px] text-black mb-3">
                                  Plus, my skin cleared up and my hands no longer itch. My mood significantly improved, and I look forward to eating again -- the way it should be!
                              </p>
                              <p class="font-myriadpro italic leading-[24px] text-black mb-3">
                                  Akka has been a lifesaver for me, and I never leave home without it. I truly hope my story can help others who have faced similar struggles.
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="flex-1 xl:flex flex-col gap-[8px] px-4 md:px-0 hidden">
                      <div class="flex flex-row items-center justify-end h-[2.6rem]">
                          <svg xmlns="http://www.w3.org/2000/svg" width="108" height="19" viewBox="0 0 108 19" fill="none">
                              <path d="M10.4891 0.748047L13.5573 6.52498L19.9996 7.65788L15.4536 12.3611L16.3669 18.8382L10.4891 15.968L4.61123 18.8382L5.52457 12.3611L0.978516 7.65788L7.42084 6.52498L10.4891 0.748047Z" fill="#EC7800"/>
                              <path d="M32.4891 0.748047L35.5573 6.52498L41.9996 7.65788L37.4536 12.3611L38.3669 18.8382L32.4891 15.968L26.6112 18.8382L27.5246 12.3611L22.9785 7.65788L29.4208 6.52498L32.4891 0.748047Z" fill="#EC7800"/>
                              <path d="M54.4891 0.748047L57.5573 6.52498L63.9996 7.65788L59.4536 12.3611L60.3669 18.8382L54.4891 15.968L48.6112 18.8382L49.5246 12.3611L44.9785 7.65788L51.4208 6.52498L54.4891 0.748047Z" fill="#EC7800"/>
                              <path d="M76.4891 0.748047L79.5573 6.52498L85.9996 7.65788L81.4536 12.3611L82.3669 18.8382L76.4891 15.968L70.6112 18.8382L71.5246 12.3611L66.9785 7.65788L73.4208 6.52498L76.4891 0.748047Z" fill="#EC7800"/>
                              <path d="M98.4891 0.748047L101.557 6.52498L108 7.65788L103.454 12.3611L104.367 18.8382L98.4891 15.968L92.6112 18.8382L93.5246 12.3611L88.9785 7.65788L95.4208 6.52498L98.4891 0.748047Z" fill="#EC7800"/>
                          </svg>
                      </div>
                      <div class="bg-[#FFFFFF] border border-[rgba(236,120,0,0.60)] shadow-[0px_3px_15px_0px_rgba(236,120,0,0.20)] rounded p-[16px]">
                          <p class="font-myriadpro italic leading-[24px] text-black mb-3">
                              ...suggested I try Akka. Skeptical but desperate, I gave it a shot.
                          </p>
                          <p class="font-myriadpro italic leading-[24px] text-black mb-3">
                              The effect was immediate, and dramatic.  My energy levels improved, and the bloating disappeared.  My previous issues with fatigue and discomfort after meals became a thing of the past. 
                          </p>
                          <p class="font-myriadpro italic leading-[24px] text-black mb-3">
                              Plus, my skin cleared up and my hands no longer itch. My mood significantly improved, and I look forward to eating again -- the way it should be!
                          </p>
                          <p class="font-myriadpro italic leading-[24px] text-black mb-3">
                              Akka has been a lifesaver for me, and I never leave home without it. I truly hope my story can help others who have faced similar struggles.
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </section>