{% schema %}
    {
      "name": "Section 27",
      "settings": []
    }
  {% endschema %}
  <section class="bg-[#485397]" id="claim-your-supply">
          <div class="max-w-full md:max-w-[1440px] mx-auto pt-[32px] pb-[48px] md:px-0 px-4 flex md:flex-row flex-col md:items-end items-center justify-center gap-[16px]">
              <div class="flex flex-col items-center justify-center w-full md:w-[382px] rounded-lg bg-[#FFFFFF] shadow-[0px_4px_10px_0px_rgba(0,0,0,0.25)] md:order-1 order-3">
                  <div class="flex flex-col items-center justify-center bg-[#b7c0ff] w-full px-[16px] pt-[20px] pb-[12px] gap-[2px] rounded-t-lg">
                      <p class="font-myriadpro text-[28px] leading-[100%] font-black">STARTER</p>
                      <p class="font-myriadpro text-[20px] leading-[100%]"><span class="font-semibold">30-Day Supply</span> (1 Bottle)</p>
                  </div>
                  <div class="flex flex-col pt-[16px] pb-[20px] gap-[38px] items-center justify-center">
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/akk-one-bottle.png" class="h-[234px]" />
                      <div class="flex flex-col gap-[24px] items-center justify-center">
                          <div class="flex flex-row items-center justify-center">
                              <p class="font-myriadpro font-black text-[55px] leading-[80%]">$69</p>
                              <p class="font-myriadpro font-bold text-[18px] leading-[80%]">/ bottle</p>
                          </div>
                          <p class="font-inter text-[#979797] font-extrabold text-[16px]">PLUS $4.95 SHIPPING</p>
                          <a href="https://go.tryakka.com/products/akka-1-pack-akk-tslfb/#params"><img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/akka-tsl-order-now.webp?v=1719315551" class="w-[286px]" /></a>
                      </div>
                      <div class="flex flex-row gap-4 md:gap-[16px] mt-[-0.6rem]">
                          <p class="font-inter text-[#01002C] text-[24px] font-semibold line-through">$99</p>
                          <p class="font-inter text-[#01002C] text-[24px] font-extrabold">$69</p>
                      </div>
                  </div>
              </div>
              <div class="flex flex-col items-center justify-center w-full md:w-[382px] rounded-lg bg-[#FFFFFF] shadow-[0px_4px_10px_0px_rgba(0,0,0,0.25)] md:order-2 order-1">
                  <div style="background-blend-mode: color, normal;" class="flex flex-col items-center justify-center bg-[linear-gradient(0deg,#EC7800_0%,#EC7800_100%),linear-gradient(1deg,#E6BF56_41.42%,#F3DFA8_78.76%)] w-full px-[16px] pt-[20px] pb-[12px] gap-[2px] rounded-t-lg relative">
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/best-value.png" class="w-[125px] top-0 absolute mx-auto left-0">
                      <p class="font-myriadpro text-[28px] leading-[100%] font-black">GUT SUPERHERO</p>
                      <p class="font-myriadpro text-[20px] leading-[100%]"><span class="font-semibold">180-Day Supply</span> (6 Bottles)</p>
                  </div>
                  <div class="flex flex-col pt-[16px] pb-[20px] gap-[16px] items-center justify-center px-2">
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/akka-6-bottles.png" class=" h-[234px]" />
                      <div class="flex flex-col gap-[20px] items-center justify-center">
                          <div class="flex flex-row items-center justify-center">
                              <p class="font-myriadpro font-black text-[55px] leading-[80%]">$49</p>
                              <p class="font-myriadpro font-bold text-[18px] leading-[80%]">/ bottle</p>
                          </div>
                          <div class="flex flex-col items-center self-stretch gap-[4px] w-full">
                              <div class="bg-[#DC3B3D] mx-auto flex flex-row gap-[4px] items-center justify-start p-[6px_8px_6px_16px] rounded-[1.5px] w-[100%]">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                      <rect x="0.5" y="2.29297" width="15" height="15" rx="0.5" fill="white" stroke="black"/>
                                      <path d="M16.0095 1.29009C14.0228 2.88333 12.2001 4.57357 10.6607 6.5515C9.98165 7.4241 9.44788 8.39347 8.95461 9.36308C8.72268 9.81945 8.58414 10.2942 8.45386 10.769C7.50627 9.95326 6.58397 9.11434 5.54377 8.38917C4.80205 7.87235 2.31248 9.49306 3.1819 10.0995C4.74014 11.1852 6.03781 12.5369 7.55219 13.6709C8.18632 14.1447 9.59158 13.1163 9.92077 12.6841C11.0046 11.2624 11.1527 9.52317 11.9429 7.97174C13.1492 5.59933 15.2882 3.65175 17.3993 1.95768C18.9756 0.694182 17.0711 0.438757 16.01 1.28914" fill="black"/>
                                  </svg>
                                  <p class="font-inter text-[#FFFFFF] font-extrabold text-[16px]" style="text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.60), 0px 0px 2px rgba(0, 0, 0, 0.60);">BIGGEST DISCOUNT</p>
                              </div>
                              <div class="bg-[#3E4B99] mx-auto flex flex-row gap-[4px] items-center justify-start p-[6px_8px_6px_16px] rounded-[1.5px] w-[100%]">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                      <rect x="0.5" y="2.29297" width="15" height="15" rx="0.5" fill="white" stroke="black"/>
                                      <path d="M16.0095 1.29009C14.0228 2.88333 12.2001 4.57357 10.6607 6.5515C9.98165 7.4241 9.44788 8.39347 8.95461 9.36308C8.72268 9.81945 8.58414 10.2942 8.45386 10.769C7.50627 9.95326 6.58397 9.11434 5.54377 8.38917C4.80205 7.87235 2.31248 9.49306 3.1819 10.0995C4.74014 11.1852 6.03781 12.5369 7.55219 13.6709C8.18632 14.1447 9.59158 13.1163 9.92077 12.6841C11.0046 11.2624 11.1527 9.52317 11.9429 7.97174C13.1492 5.59933 15.2882 3.65175 17.3993 1.95768C18.9756 0.694182 17.0711 0.438757 16.01 1.28914" fill="black"/>
                                  </svg>
                                  <p class="font-inter text-[#FFFFFF] font-extrabold text-[16px]" style="text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.60), 0px 0px 2px rgba(0, 0, 0, 0.60);">FAST & FREE SHIPPING</p>
                              </div>
                              <div class="bg-[#D78E48] mx-auto flex flex-row gap-[4px] items-center justify-start p-[6px_8px_6px_16px] rounded-[1.5px] w-[100%]">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                      <rect x="0.5" y="2.29297" width="15" height="15" rx="0.5" fill="white" stroke="black"/>
                                      <path d="M16.0095 1.29009C14.0228 2.88333 12.2001 4.57357 10.6607 6.5515C9.98165 7.4241 9.44788 8.39347 8.95461 9.36308C8.72268 9.81945 8.58414 10.2942 8.45386 10.769C7.50627 9.95326 6.58397 9.11434 5.54377 8.38917C4.80205 7.87235 2.31248 9.49306 3.1819 10.0995C4.74014 11.1852 6.03781 12.5369 7.55219 13.6709C8.18632 14.1447 9.59158 13.1163 9.92077 12.6841C11.0046 11.2624 11.1527 9.52317 11.9429 7.97174C13.1492 5.59933 15.2882 3.65175 17.3993 1.95768C18.9756 0.694182 17.0711 0.438757 16.01 1.28914" fill="black"/>
                                  </svg>
                                  <p class="font-inter text-[#FFFFFF] font-extrabold text-[16px]" style="text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.60), 0px 0px 2px rgba(0, 0, 0, 0.60);">LIVER CLEANSE PROTOCOL EBOOK</p>
                              </div>
                              <div class="bg-[#05617F] mx-auto flex flex-row gap-[4px] items-center justify-start p-[6px_8px_6px_16px] rounded-[1.5px] w-[100%]">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                      <rect x="0.5" y="2.29297" width="15" height="15" rx="0.5" fill="white" stroke="black"/>
                                      <path d="M16.0095 1.29009C14.0228 2.88333 12.2001 4.57357 10.6607 6.5515C9.98165 7.4241 9.44788 8.39347 8.95461 9.36308C8.72268 9.81945 8.58414 10.2942 8.45386 10.769C7.50627 9.95326 6.58397 9.11434 5.54377 8.38917C4.80205 7.87235 2.31248 9.49306 3.1819 10.0995C4.74014 11.1852 6.03781 12.5369 7.55219 13.6709C8.18632 14.1447 9.59158 13.1163 9.92077 12.6841C11.0046 11.2624 11.1527 9.52317 11.9429 7.97174C13.1492 5.59933 15.2882 3.65175 17.3993 1.95768C18.9756 0.694182 17.0711 0.438757 16.01 1.28914" fill="black"/>
                                  </svg>
                                  <p class="font-inter text-[#FFFFFF] font-extrabold text-[16px]" style="text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.60), 0px 0px 2px rgba(0, 0, 0, 0.60);">SKINNY LIVER COOKBOOK</p>
                              </div>
                          </div>
                          <a href="https://go.tryakka.com/products/akka-6-pack-akk-tslfb/#params"><img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/akka-tsl-order-now.webp?v=1719315551" class="w-[286px]" /></a>
                      </div>
                      <div class="flex flex-row gap-4 md:gap-[16px] mt-[-0.6rem]">
                          <p class="font-inter text-[#01002C] text-[24px] font-semibold line-through">$594</p>
                          <p class="font-inter text-[#01002C] text-[24px] font-extrabold">$294</p>
                      </div>
                  </div>
              </div>
              <div class="flex flex-col items-center justify-center w-full md:w-[382px] rounded-lg bg-[#FFFFFF] shadow-[0px_4px_10px_0px_rgba(0,0,0,0.25)] md:order-3 order-2">
                  <div class="flex flex-col items-center justify-center bg-[#b7c0ff] w-full px-[16px] pt-[20px] pb-[12px] gap-[2px] rounded-t-lg">
                      <p class="font-myriadpro text-[28px] leading-[100%] font-black">DOCTOR’S CHOICE</p>
                      <p class="font-myriadpro text-[20px] leading-[100%]"><span class="font-semibold">90-Day Supply</span> (3 Bottles)</p>
                  </div>
                  <div class="flex flex-col pt-[16px] pb-[20px] gap-[16px] items-center justify-center px-2">
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/akka-3-bottles.png" class=" h-[234px]" />
                      <div class="flex flex-col gap-[20px] items-center justify-center">
                          <div class="flex flex-row items-center justify-center">
                              <p class="font-myriadpro font-black text-[55px] leading-[80%]">$59</p>
                              <p class="font-myriadpro font-bold text-[18px] leading-[80%]">/ bottle</p>
                          </div>
                          <div class="flex flex-col items-center self-stretch gap-[4px] w-full">
                              <div class="bg-[#3E4B99] mx-auto flex flex-row gap-[4px] items-center justify-start p-[6px_8px_6px_16px] rounded-[1.5px] w-[100%]">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                      <rect x="0.5" y="2.29297" width="15" height="15" rx="0.5" fill="white" stroke="black"/>
                                      <path d="M16.0095 1.29009C14.0228 2.88333 12.2001 4.57357 10.6607 6.5515C9.98165 7.4241 9.44788 8.39347 8.95461 9.36308C8.72268 9.81945 8.58414 10.2942 8.45386 10.769C7.50627 9.95326 6.58397 9.11434 5.54377 8.38917C4.80205 7.87235 2.31248 9.49306 3.1819 10.0995C4.74014 11.1852 6.03781 12.5369 7.55219 13.6709C8.18632 14.1447 9.59158 13.1163 9.92077 12.6841C11.0046 11.2624 11.1527 9.52317 11.9429 7.97174C13.1492 5.59933 15.2882 3.65175 17.3993 1.95768C18.9756 0.694182 17.0711 0.438757 16.01 1.28914" fill="black"/>
                                  </svg>
                                  <p class="font-inter text-[#FFFFFF] font-extrabold text-[16px]" style="text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.60), 0px 0px 2px rgba(0, 0, 0, 0.60);">FAST & FREE SHIPPING</p>
                              </div>
                              <div class="bg-[#D78E48] mx-auto flex flex-row gap-[4px] items-center justify-start p-[6px_8px_6px_16px] rounded-[1.5px] w-[100%]">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                      <rect x="0.5" y="2.29297" width="15" height="15" rx="0.5" fill="white" stroke="black"/>
                                      <path d="M16.0095 1.29009C14.0228 2.88333 12.2001 4.57357 10.6607 6.5515C9.98165 7.4241 9.44788 8.39347 8.95461 9.36308C8.72268 9.81945 8.58414 10.2942 8.45386 10.769C7.50627 9.95326 6.58397 9.11434 5.54377 8.38917C4.80205 7.87235 2.31248 9.49306 3.1819 10.0995C4.74014 11.1852 6.03781 12.5369 7.55219 13.6709C8.18632 14.1447 9.59158 13.1163 9.92077 12.6841C11.0046 11.2624 11.1527 9.52317 11.9429 7.97174C13.1492 5.59933 15.2882 3.65175 17.3993 1.95768C18.9756 0.694182 17.0711 0.438757 16.01 1.28914" fill="black"/>
                                  </svg>
                                  <p class="font-inter text-[#FFFFFF] font-extrabold text-[16px]" style="text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.60), 0px 0px 2px rgba(0, 0, 0, 0.60);">LIVER CLEANSE PROTOCOL EBOOK</p>
                              </div>
                              <div class="bg-[#05617F] mx-auto flex flex-row gap-[4px] items-center justify-start p-[6px_8px_6px_16px] rounded-[1.5px] w-[100%]">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                      <rect x="0.5" y="2.29297" width="15" height="15" rx="0.5" fill="white" stroke="black"/>
                                      <path d="M16.0095 1.29009C14.0228 2.88333 12.2001 4.57357 10.6607 6.5515C9.98165 7.4241 9.44788 8.39347 8.95461 9.36308C8.72268 9.81945 8.58414 10.2942 8.45386 10.769C7.50627 9.95326 6.58397 9.11434 5.54377 8.38917C4.80205 7.87235 2.31248 9.49306 3.1819 10.0995C4.74014 11.1852 6.03781 12.5369 7.55219 13.6709C8.18632 14.1447 9.59158 13.1163 9.92077 12.6841C11.0046 11.2624 11.1527 9.52317 11.9429 7.97174C13.1492 5.59933 15.2882 3.65175 17.3993 1.95768C18.9756 0.694182 17.0711 0.438757 16.01 1.28914" fill="black"/>
                                  </svg>
                                  <p class="font-inter text-[#FFFFFF] font-extrabold text-[16px]" style="text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.60), 0px 0px 2px rgba(0, 0, 0, 0.60);">SKINNY LIVER COOKBOOK</p>
                              </div>
                          </div>
                          <a href="https://go.tryakka.com/products/akka-3-pack-akk-tslfb/#params"><img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/akka-tsl-order-now.webp?v=1719315551" class="w-[286px]" /></a>
                      </div>
                      <div class="flex flex-row gap-4 md:gap-[16px] mt-[-0.6rem]">
                          <p class="font-inter text-[#01002C] text-[24px] font-semibold line-through">$297</p>
                          <p class="font-inter text-[#01002C] text-[24px] font-extrabold">$177</p>
                      </div>
                  </div>
              </div>
          </div>
      </section>