{% schema %}
    {
      "name": "Section 22",
      "settings": []
    }
  {% endschema %}
  <section style="background-position: left top 10%, right bottom; background-size: 20%, 23%, contain" class="show-claim-button bg-[#FFFFFF] bg-[url(https://cdn.shopify.com/s/files/1/0885/5581/5215/files/a-top-01.png),url(https://cdn.shopify.com/s/files/1/0885/5581/5215/files/a-bottom-02.png),linear-gradient(23deg,rgba(247,248,255,0.00)_56.06%,#E4E7FF_103.85%)] bg-no-repeat">
          <div class="max-w-full md:max-w-[1440px] mx-auto">
              <div class="py-[32px] md:w-[655px] mx-auto">
                  <div class="flex flex-col gap-[24px] md:gap-[32px]">
                      <div class="flex flex-col gap-[16px]">
                          <div class="bg-[#2F3A7C] w-[150px] py-[4px] mx-4 md:mx-0"></div>
                          <p class="font-myriadpro font-bold leading-[38px] md:leading-[48px] md:text-[42px] text-[30px] text-[#2F3A7C] text-left px-4 md:px-0 tracking-[-0.03rem]">How “Preserve Pasteurized” Akkermansia is The Only Choice For Healing Without Side Effects</p>
                      </div>
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0">
                          And finally we have <span class="font-semibold">Preserve Pasteurized.</span> Preserve Pasteurized keeps the delicate Akkers in a dormant state, fully intact and ready for your body to put into action.
                          <br/><br/>
                          This proprietary process <span class="font-semibold">increases the bio-availability of the Akkermansia</span> to ensure you get the full liver rejuvenating, metabolism boosting benefits.
                          <br/><br/>
                          But <span class="font-semibold italic underline">trust me</span>—the studies don't lie. Time and again, at least a dozen studies have proven that <span class="font-semibold italic">the pasteurized version is far superior</span> in terms of health benefits.
                      </p>
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/pasteurized-akkermansia-img.png" class="w-full" />
                      <div class="flex flex-row gap-[8px] items-center justify-start px-4 md:px-0">
                          <div class="bg-[#2F3A7C] w-[12px] self-stretch rounded-full"></div>
                          <div class="flex items-center justify-center bg-[#F8D0B0] bg-[linear-gradient(0deg,rgba(255,255,255,0.60)_0%,rgba(255,255,255,0.60)_100%),linear-gradient(0deg,#F79F45_0%,#F79F45_100%)]]">
                              <p class="font-myriadpro p-[10px] text-[18px] md:text-[20px] text-black leading-[24px] md:leading-[normal]">A 2020 study first discovered this. ”Unexpectedly we discovered that pasteurization of Akkermansia <span class="font-semibold">enhanced its capacity to reduce fat mass development, insulin resistance, and cholesterol.”</span></p>
                          </div>
                      </div>
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0">
                          Another study confirmed this finding: “We show that PASTEURIZED Akermansia exerts positive effects on different metabolic parameters such as body weight, fat mass, insulin, glycemia and glucose tolerance.”
                      </p>
                      <div class="flex flex-row gap-[8px] items-center justify-start px-4 md:px-0">
                          <div class="bg-[#2F3A7C] w-[12px] self-stretch rounded-full"></div>
                          <div class="flex items-center justify-center bg-[#F2F3FF] bg-[linear-gradient(0deg,#E8EAFF_0%,#E8EAFF_100%)]">
                              <p class="font-myriadpro p-[10px] text-[18px] md:text-[20px] text-black leading-[24px] md:leading-[normal]">Yet another study published in 2021 concluded, <span class="font-semibold italic">“Notably pasteurized Akkermansia had been more effective.</span> Treatment with the pasteurized form more effectively upregulated tight junction [reducing leaky gut] and regulated immune response-related genes.</p>
                          </div>
                      </div>
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0">
                          And it stated that <span class="font-semibold">all these effects were dominantly observed in the pasteurized form.</span>
                          <br/><br/>
                          <span class="font-semibold">Our Preserve Pasteurized Akkermansia is more bio-absorbable</span> and in a hibernating state, like gut-healing, liver-repairing soldiers suspended in time, just waiting for their chance to spring into action.
                          <br/><br/>
                          <span class="font-semibold italic">Preserve Pasteurized Akkermansia is FAR superior in almost every category</span> for weight loss, cardiovascular protection, cholesterol elimination, and liver regeneration and detoxification.
                      </p>
                      <div class="mx-auto">
                          <a href="#claim-your-supply"><button class="w-auto md:w-[364px] rounded-full bg-[#485397] shadow-[0px_3px_2px_0px_#485397_inset,0px_10px_15px_0px_rgba(72,83,151,0.50)] px-[32px] md:px-[64px] py-[22px] text-[#FFFFFF] font-semibold leading-[normal] tracking-[0.4px] text-[18px] md:text-[20px] mx-4 md:mx-0">Flush Your Liver Today ></button></a>
                      </div>
                  </div>
              </div>
          </div>
      </section>