{% schema %}
    {
      "name": "Section 14",
      "settings": []
    }
  {% endschema %}
  <section class="bg-[#FFFFFF]">
          <div class="max-w-full md:max-w-[1440px] mx-auto">
              <div class="py-[32px] md:w-[640px] mx-auto">
                  <div class="flex flex-col gap-[24px] md:gap-[32px]">
                      <div class="flex flex-col gap-[16px]">
                          <div class="bg-[#2F3A7C] w-[150px] py-[4px] mx-4 md:mx-0"></div>
                          <p class="font-myriadpro font-bold leading-[38px] md:leading-[48px] md:text-[42px] text-[34px] text-[#2F3A7C] text-left px-4 md:px-0">“Why People Are Calling Akkermansia The World's First Next Generation Superbiotic…”</p>
                      </div>
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0">
                          I soon realized <span class="font-semibold italic">Akkermansia was the superbiotic I’ve been searching for my entire career.</span>
                          <br/><br/>
                          Unfortunately, <span class="font-semibold italic">Akkermansia strains are NOT created equal…</span>
                      </p>
                      <div class="flex flex-row gap-[8px] items-center justify-start px-4 md:px-0">
                          <div class="bg-[#2F3A7C] w-[12px] self-stretch rounded-full"></div>
                          <div class="flex items-center justify-center bg-[#F8D0B0] bg-[linear-gradient(0deg,rgba(255,255,255,0.60)_0%,rgba(255,255,255,0.60)_100%),linear-gradient(0deg,#F79F45_0%,#F79F45_100%)] border border-[rgba(210,55,55,_0.50)]">
                              <p class="font-myriadpro p-[10px] text-[18px] md:text-[20px] text-black leading-[24px] md:leading-[normal]"><span class="font-semibold">In fact, when I tried to source it for my patients, <span class="font-semibold"><u>NONE</u> of the commercially available options were produced and isolated in the most medically beneficial way.</span></p>
                          </div>
                      </div>
                      <div class="flex flex-col md:flex-row gap-[16px] md:gap-[30px] items-start justify-start px-4 md:px-0">
                          <div class="flex-1">
                              <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/akkermansia-img.png" class="w-full" />
                          </div>
                          <div class="flex-1">
                              <p class="font-myriadpro text-[18px] md:text-[20px] leading-[27px]">
                                  You see… <span class="font-semibold">There are 3 different ways to produce and isolate Akkermansia,</span> but only ONE of them provides the full spectrum of benefits of this groundbreaking superbiotic. 
                                  <br/><br/>
                                  I needed to go deeper. I needed to become the <span class="font-semibold">world's <i><u>leading expert</u></i> on Akkermansia.</span> I needed to know each and every health benefit, I needed to know the best way to prepare it, and most importantly how to use it to maximize its rejuvenating effects on the body.
                              </p>
                          </div>
                      </div>
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0">
                          So I went into hard-core research mode like I hadn’t done since medical school… and stayed up late night after late night poring through every study I could find. 
                          <br/><br/>
                          Usually, scientific studies have really boring titles… But when you read the scientific studies about Akkermansia, they all look like glowing praise.  
                          <br/><br/>
                          <span class="font-semibold">Check it out…</span>
                      </p>
                  </div>
              </div>
          </div>
      </section>