{% schema %}
    {
      "name": "Section 23",
      "settings": []
    }
  {% endschema %}
  <section class="show-claim-button bg-[#F7F6F4]">
          <div class="max-w-full md:max-w-[1440px] mx-auto">
              <div class="py-[32px] md:w-[655px] mx-auto">
                  <div class="flex flex-col gap-[24px] md:gap-[32px]">
                      <div class="flex flex-col gap-[16px]">
                          <div class="bg-[#2F3A7C] w-[150px] py-[4px] mx-4 md:mx-0"></div>
                          <p class="font-myriadpro font-bold leading-[38px] md:leading-[48px] md:text-[42px] text-[34px] text-[#2F3A7C] text-left px-4 md:px-0">Here’s What You Might Experience When You <span class="italic"><u>Claim Your Supply of Akka</u></span> Today…</p>
                      </div>
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0">
                          <span class="font-semibold">Akka surpasses any detox, cleanse, probiotic or liver support formula you’ve ever seen or heard of.</span> It’s not just a product; it’s a catalyst for profound change in your health and well-being.
                          <br/><br/>
                          Your liver is central to your body’s detoxification, metabolism, fat loss and overall vitality, impacting everything from your brain function to your skin's appearance, heart health, and immune system.
                          <br/><br/>
                          <span class="font-semibold bg-[#FFEC70] py-1">👉🏽  With Akka, you’ll experience a remarkable transformation throughout your entire body.</span>
                      </p>
                      <div class="flex flex-col md:flex-row gap-[16px] md:gap-[30px] items-start justify-start px-4 md:px-0">
                          <div class="flex-1">
                              <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/body-rejuvenation-img.png" class="w-full" />
                          </div>
                          <div class="flex-1">
                              <p class="font-myriadpro text-[18px] md:text-[20px] leading-[27px]">
                                  Imagine waking each morning feeling refreshed and revitalized because your liver efficiently processes and eliminates toxins, and your body feels light and full of energy.
                                  <br/><br/>
                                  Dream of traveling to exciting new destinations, savoring every bite of exotic cuisine without fearing digestive distress or a sluggish, clogged liver holding back your metabolism. 
                              </p>
                          </div>
                      </div>
                      <div class="mx-auto">
                          <a href="#claim-your-supply"><button class="w-auto md:w-[420px] rounded-full bg-[#485397] shadow-[0px_3px_2px_0px_#485397_inset,0px_10px_15px_0px_rgba(72,83,151,0.50)] px-[32px] md:px-[64px] py-[22px] text-[#FFFFFF] font-semibold leading-[normal] tracking-[0.4px] text-[18px] md:text-[20px] mx-4 md:mx-0">Get Total Body Rejuvenation ></button></a>
                      </div>
                  </div>
              </div>
          </div>
      </section>