{% schema %}
    {
      "name": "Section 32",
      "settings": []
    }
  {% endschema %}
  <section class="bg-[#FFFFFF]">
          <div class="max-w-full md:max-w-[1440px] mx-auto py-[32px]">
              <div class="flex flex-col gap-[16px] md:w-[728px] mx-auto">
                  <div class="flex flex-col gap-[16px] md:px-8 px-4">
                      <div class="bg-[#2F3A7C] w-[150px] py-[4px] mx-4 md:mx-0"></div>
                      <p class="font-myriadpro font-bold leading-[38px] md:leading-[48px] md:text-[42px] text-[34px] text-[#2F3A7C] text-left px-4 md:px-0">Frequently Asked Questions</p>
                  </div>
                  <div class="bg-[#F1F2FD] flex flex-col items-start justify-start">
                      <div class="flex flex-col py-[16px] px-[16px] md:px-[32px] gap-[10px]">
                          <div class="flex flex-col flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-neueHaas text-[#485397] font-bold text-[28px] leading-[30px] w-[60px]">Q1</p>
                                  <p class="font-myriadpro md:text-[22px] text-[20px] text-[#485397] font-semibold leading-[30px]">Are there any side effects? Is it safe to take it long term?</p>
                              </div>
                          </div>
                          <div class="flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-myriadpro text-[#485397] font-bold text-[18px] leading-[29px] italic">Answer</p>
                                  <div class="flex flex-col items-start justify-start gap-[30px]">
                                      <p class="font-myriadpro text-[20px] italic leading-[30px]"><span class="font-semibold">Akka superbiotic, with our Preserve Pasteurized preparation, has had zero reported side effects,</span> and is one of the most powerful health-boosting formulations to exist in the last 20 years <span class="read-more text-[#EC7800] cursor-pointer underline font-semibold" data-target="1">(Read more)</p>
                                      <p class="more-text hidden font-myriadpro text-[20px] italic leading-[27px]" data-target="1">
                                          In fact, the only side effects related to Akkermansia are associated with the live version, which is what motivated us to develop our Preserve Pasteurized preparation. 
                                          <br/><br/>
                                          <span class="font-semibold">The best part is, studies show this version to be far more effective for boosting the metabolism, burning fat and reducing fatigue. </span>
                                          <br/><br/>
                                          In addition, Akka is considered a master superbiotic because it feeds the other beneficial probiotic strains already in your gut.
                                          <br/><br/>
                                          That means not only are you populating your microbiome with Akkermansia, you’re also increasing other health-promoting strains across the board.
                                          <br/><br/>
                                          This is important because many scientific studies have established a link between microbiome diversity and health.
                                          <br/><br/>
                                          In fact, low microbiome diversity, meaning not enough beneficial strains in the gut, has been linked in studies to many things like allergies, low sex drive, eczema, arthritis, cancer, chronic fatigue, autism, depression, enlarged prostate, anxiety, sleep disorder, HIV susceptibility, auto-immune problems like Crohn's and colitis, arterial plaque, hypertension, and gout.
                                          <br/><br/>
                                          And of course, while it would be a stretch to claim <span class="font-semibold">Akka will cure these problems,</span> since there’s so many lifestyle factors involved, it will improve your microbiome dramatically and move things into a more healthy direction, and keep improving your health long-term.
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="bg-[#FFFFFF] flex flex-col items-start justify-start">
                      <div class="flex flex-col py-[16px] px-[16px] md:px-[32px] gap-[10px]">
                          <div class="flex flex-col flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-neueHaas text-[#485397] font-bold text-[28px] leading-[30px] w-[60px]">Q2</p>
                                  <p class="font-myriadpro md:text-[22px] text-[20px] text-[#485397] font-semibold leading-[30px]">How much weight can I lose with Akka Superbiotics?</p>
                              </div>
                          </div>
                          <div class="flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-myriadpro text-[#485397] font-bold text-[18px] leading-[29px] italic">Answer</p>
                                  <div class="flex flex-col items-start justify-start gap-[30px]">
                                      <p class="font-myriadpro text-[20px] italic leading-[30px]"><span class="font-semibold">Because the liver is the most critical organ in the body for eliminating fat and losing weight,</span> Akka Superbiotics helps rejuvenate the liver, supercharging its ability to burn fat and detoxify your body. <span class="read-more text-[#EC7800] cursor-pointer underline font-semibold" data-target="2">(Read more)</p>
                                      <p class="more-text hidden font-myriadpro text-[20px] italic leading-[27px]" data-target="2">
                                          Your weight loss with Akka is going to depend on many things, and here they are:
                                          <br/><br/>
                                          <span class="font-semibold">First… It's based on your starting point.</span> If you’re significantly overweight, your bile ducts are clogged and your metabolism has been slowed, it might take a bit longer for your liver to rejuvenate, and burn all that fat.
                                          <br/><br/>
                                          <span class="font-semibold">Second… It's also based on your lifestyle factors.</span> Here's what I mean. If you continue eating the 3 liver-toxic foods - sugar, alcohol, and trans fats, then you're going to have a tougher time because it's a bit like walking up a hill. 
                                          <br/><br/>
                                          You'll get there but it's going to take Akka a little longer, and a bit more energy.
                                          <br/><br/>
                                          Once your liver reaches its full function, you'll know because it's likely you'll <span class="font-semibold">feel more energy, more clarity of mind, more focus, and renewed optimism for life.</span>
                                          <br/><br/>
                                          <span class="font-semibold">The mental benefits are usually felt first, with the accelerated weight loss and fat burning ability kicking in about 2-4 weeks later.</span>
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="bg-[#F1F2FD] flex flex-col items-start justify-start">
                      <div class="flex flex-col py-[16px] px-[16px] md:px-[32px] gap-[10px]">
                          <div class="flex flex-col flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-neueHaas text-[#485397] font-bold text-[28px] leading-[30px] w-[60px]">Q3</p>
                                  <p class="font-myriadpro md:text-[22px] text-[20px] text-[#485397] font-semibold leading-[30px]">What happens if I lose weight too quickly?</p>
                              </div>
                          </div>
                          <div class="flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-myriadpro text-[#485397] font-bold text-[18px] leading-[29px] italic">Answer</p>
                                  <div class="flex flex-col items-start justify-start gap-[30px]">
                                      <p class="font-myriadpro text-[20px] italic leading-[30px]"><span class="font-semibold">Usually, it's bad to lose weight too quickly - but here’s how Akka Superbiotics changes that.</span> <span class="read-more text-[#EC7800] cursor-pointer underline font-semibold" data-target="3">(Read more)</p>
                                      <p class="more-text hidden font-myriadpro text-[20px] italic leading-[27px]" data-target="3">
                                          <span class="font-semibold">You see…</span> Fat surrounds and protects organs from toxins. When the fat dissolves, the toxins are released into the bloodstream. 
                                          <br/><br/>
                                          <span class="font-semibold">When your liver is damaged, clogged or unhealthy, it struggles to process all those released toxins.</span>
                                          <br/><br/>
                                          However, because Akka helps give you a strong, rejuvenated and healthy liver, you'll have no problem handling the detoxification process that happens when you start burning stored body fat.
                                          <br/><br/>
                                          <span class="font-semibold underline">That said, most doctors recommend losing 2 pounds per week.</span> If you find that you're losing weight faster than you want when taking Akka, simply taper the dose back to one capsule per day.
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="bg-[#FFFFFF] flex flex-col items-start justify-start">
                      <div class="flex flex-col py-[16px] px-[16px] md:px-[32px] gap-[10px]">
                          <div class="flex flex-col flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-neueHaas text-[#485397] font-bold text-[28px] leading-[30px] w-[10rem]">Q4</p>
                                  <p class="font-myriadpro md:text-[22px] text-[20px] text-[#485397] font-semibold leading-[30px]">What else can harm the liver? I suspect I have liver problems because of my difficulty with weight loss, but I don't drink alcohol and I don’t consume a lot of sugar.</p>
                              </div>
                          </div>
                          <div class="flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-myriadpro text-[#485397] font-bold text-[18px] leading-[29px] italic">Answer</p>
                                  <div class="flex flex-col items-start justify-start gap-[30px]">
                                      <p class="font-myriadpro text-[20px] italic leading-[30px]">Remember, your liver is your body’s central filtration system for toxins. It’s also responsible for clearing cholesterol and removing fats from the bloodstream <span class="read-more text-[#EC7800] cursor-pointer underline font-semibold" data-target="4">(Read more)</p>
                                      <p class="more-text hidden font-myriadpro text-[20px] italic leading-[27px]" data-target="4">
                                          It has such an essential role in the body that <span class="font-semibold">a person would not even live for more than one day without a liver.</span>
                                          <br/><br/>
                                          So there’s many other things that can cause problems with the liver, including drugs and medicines as well as environmental toxins, which would include exhaust from cars and airplanes, air pollution from factories and big cities.
                                          <br/><br/>
                                          Even if you avoid going outside or wear a mask, all kinds of pollution get into our water supply, which leeches into the skin while taking a shower. 
                                          <br/><br/>
                                          Even if you have a whole-home water filter, you’re still getting pesticides, preservatives, and plastics from the food supply.
                                          <br/><br/>
                                          So, <span class="font-semibold">our liver has a critical job,</span> and it’s no wonder why it’s overburdened in today’s society.  Above and beyond that, the liver can be affected by viruses, mold, and bacteria, and can also be <span class="font-semibold">damaged by Big Pharma’s imperfect solutions to these outbreaks.</span>
                                          <br/><br/>
                                          In fact, there has been a <span class="font-semibold">sharp increase in liver-related weight gain since 2020,</span> and I think it’s not a coincidence, given the health epidemic that took place during that time period. 
                                          <br/><br/>
                                          Lots of new research is coming out that shows just how fragile the liver really is and how important it is to take this important step on the road back to health and healing.
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="bg-[#F1F2FD] flex flex-col items-start justify-start">
                      <div class="flex flex-col py-[16px] px-[16px] md:px-[32px] gap-[10px]">
                          <div class="flex flex-col flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-neueHaas text-[#485397] font-bold text-[28px] leading-[30px] w-[60px]">Q5</p>
                                  <p class="font-myriadpro md:text-[22px] text-[20px] text-[#485397] font-semibold leading-[30px]">What makes Akka superior to probiotics?</p>
                              </div>
                          </div>
                          <div class="flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-myriadpro text-[#485397] font-bold text-[18px] leading-[29px] italic">Answer</p>
                                  <div class="flex flex-col items-start justify-start gap-[30px]">
                                      <p class="font-myriadpro text-[20px] italic leading-[30px]"><span class="font-semibold">There’s three main points that make Akka superior to any probiotic out there.</span> <span class="read-more text-[#EC7800] cursor-pointer underline font-semibold" data-target="5">(Read more)</p>
                                      <p class="more-text hidden font-myriadpro text-[20px] italic leading-[27px]" data-target="5">
                                          <span class="font-semibold">Firstly, researchers consider Akkermansia to be a next-generation superbiotic</span>—in that it actually feeds all of the beneficial probiotics already in your system and has provable benefits far beyond those of run-of-the-mill commercially available probiotics.
                                          <br/><br/>
                                          Above and beyond that, our proprietary Preserve Pasteurized technology makes our Akkermansia more bioavailable and usable by your body.  
                                          <br/><br/>
                                          Remember, Preserve Pasteurized keeps the delicate Akkermansia in a peaceful state of hibernation, fully intact and ready for your body to be use.  
                                          <br/><br/>
                                          This time-consuming process increases the bioavailability of the Akkermansia to ensure you get the full liver-regenerating, metabolism-boosting benefits.  
                                          <br/><br/>
                                          <span class="font-semibold">Secondly, we have combined Akkermansia with several other liver-healing ingredients</span> that have been shown in studies to be synergistic, further boosting the fat-burning, liver-rejuvenating properties.
                                          <br/><br/>
                                          <span class="font-semibold">And third, we use enteric coated capsules</span> to protect and transport the ingredients through the stomach's harsh acidic environment, to deliver Akka straight to where it needs to be – the microbiome.
                                          <br/><br/>
                                          <span class="font-semibold">You won’t find a superior formulation in a supermarket, online, or anywhere else, guaranteed.</span>
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="bg-[#FFFFFF] flex flex-col items-start justify-start">
                      <div class="flex flex-col py-[16px] px-[16px] md:px-[32px] gap-[10px]">
                          <div class="flex flex-col flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-neueHaas text-[#485397] font-bold text-[28px] leading-[30px] w-[60px]">Q6</p>
                                  <p class="font-myriadpro md:text-[22px] text-[20px] text-[#485397] font-semibold leading-[30px]">How many bottles should I order?</p>
                              </div>
                          </div>
                          <div class="flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-myriadpro text-[#485397] font-bold text-[18px] leading-[29px] italic">Answer</p>
                                  <div class="flex flex-col items-start justify-start gap-[30px]">
                                      <p class="font-myriadpro text-[20px] italic leading-[30px]"><span class="font-semibold">Due to high demand because of the dramatic results and word-of-mouth recommendations from happy Akka customers,</span> most customers are choosing the 6-bottle package to avoid running out. <span class="read-more text-[#EC7800] cursor-pointer underline font-semibold" data-target="6">(Read more)</p>
                                      <p class="more-text hidden font-myriadpro text-[20px] italic leading-[27px]" data-target="6">
                                          Ultimately you should make a personal decision and do what’s best for your situation. However I should point out that you can also take advantage of our free shipping by choosing the 3 or 6 pack.  
                                          <br/><br/>
                                          <span class="font-semibold">You see, by taking the 3 or 6 pack, we are also able to save on shipping costs,</span> and we pass those savings directly onto you. You also secure the greatest savings by buying in bulk. 
                                          <br/><br/>
                                          And remember, <span class="font-semibold">when you select a 3 or 6 multipack today,</span> you'll gain instant access to our transformative guide, the <span class="font-semibold">"Skinny Liver Cookbook: Delicious Recipes to Help Detoxify and Slim Your Liver".</span> A $39.95 value, yours free.
                                          <br/><br/>
                                          By claiming a 3 or 6-pack, you also ensure that you won’t risk running out while in the process of metabolic recomposition and help you plan your fat loss journey ahead of time.
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="bg-[#F1F2FD] flex flex-col items-start justify-start">
                      <div class="flex flex-col py-[16px] px-[16px] md:px-[32px] gap-[10px]">
                          <div class="flex flex-col flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-neueHaas text-[#485397] font-bold text-[28px] leading-[30px] w-[60px]">Q7</p>
                                  <p class="font-myriadpro md:text-[22px] text-[20px] text-[#485397] font-semibold leading-[30px]">How fast will I see results?</p>
                              </div>
                          </div>
                          <div class="flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-myriadpro text-[#485397] font-bold text-[18px] leading-[29px] italic">Answer</p>
                                  <div class="flex flex-col items-start justify-start gap-[30px]">
                                      <p class="font-myriadpro text-[20px] italic leading-[30px]"><span class="font-semibold">Really, it depends on the current state of your liver and how long you’ve been having problems. <span class="read-more text-[#EC7800] cursor-pointer underline font-semibold" data-target="7">(Read more)</p>
                                      <p class="more-text hidden font-myriadpro text-[20px] italic leading-[27px]" data-target="7">
                                          <span class="font-semibold">The liver has an amazing regenerative ability.</span> In fact, studies in transplant patients show that the liver can regrow to a normal size even after up to 90% of it has been removed.
                                          <br/><br/>
                                          <span class="font-semibold">But if you’ve been drinking for years, or not eating a very good diet, full rejuvenation of your liver can take some time, possibly 3-6 months.</span>
                                          <br/><br/>
                                          That’s why for overweight folks we often recommend choosing a 3 or 6-month package - that way, you have enough Akka to completely get the job done.  
                                          <br/><br/>
                                          It's possible, however, that you love the energy, vitality, and mental focus you get from AKKA, and want to continue a maintenance dose much longer. It's great year-round protection and really does create an amazing environment inside your body for many healthful benefits to appear.
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="bg-[#FFFFFF] flex flex-col items-start justify-start">
                      <div class="flex flex-col py-[16px] px-[16px] md:px-[32px] gap-[10px]">
                          <div class="flex flex-col flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-neueHaas text-[#485397] font-bold text-[28px] leading-[30px] w-[60px]">Q8</p>
                                  <p class="font-myriadpro md:text-[22px] text-[20px] text-[#485397] font-semibold leading-[30px]">I'm not overweight but I'm dealing with fatigue, rosacea, itchy skin, dark puffy eyes, bloating, or bad breath.</p>
                              </div>
                          </div>
                          <div class="flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-myriadpro text-[#485397] font-bold text-[18px] leading-[29px] italic">Answer</p>
                                  <div class="flex flex-col items-start justify-start gap-[30px]">
                                      <p class="font-myriadpro text-[20px] italic leading-[30px]"><span class="font-semibold">Aside from breaking down the fats in your diet, the liver is primarily a detoxification organ.</span> That means it helps filter out things in your blood that might be toxic, foreign, or even things that might be causing a reaction with different systems of your body. <span class="read-more text-[#EC7800] cursor-pointer underline font-semibold" data-target="8">(Read more)</p>
                                      <p class="more-text hidden font-myriadpro text-[20px] italic leading-[27px]" data-target="8">
                                          Now, as one of the leading doctors in NYC, you would be shocked if I told you the things that appear in people's blood. Industrial byproducts, food preservatives, pesticides, microplastics, heavy metals from car exhaust and jet fuel and more. 
                                          <br/><br/>
                                          <span class="font-semibold">Now usually the body is pretty good at breaking these things down and excreting them through the feces.</span>
                                          <br/><br/>
                                          But if your liver is not at its full function, it's hard to keep up with the daily barrage of these harmful substances. And if your liver is fully saturated with fat or even clogged, your body looks for other ways to try and push this stuff out.
                                          <br/><br/>
                                          And the major route of elimination of course, is through your skin, via your sweat glands.  So it's no surprise that when your liver becomes overloaded, you might experience redness, irritation, hives, acne, odors, or itchiness on your skin. 
                                          <br/><br/>
                                          And of course, these symptoms will change depending on what specific toxins your body is dealing with.
                                          <br/><br/>
                                          <span class="font-semibold">When healthy, the liver is an incredible fat-burning, body-cleansing powerhouse.</span> So when you truly begin to rejuvenate your liver, especially by avoiding the three liver killers, to bring it back to its youthful state, you might be surprised how these things clear right up. 
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="bg-[#F1F2FD] flex flex-col items-start justify-start">
                      <div class="flex flex-col py-[16px] px-[16px] md:px-[32px] gap-[10px]">
                          <div class="flex flex-col flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-neueHaas text-[#485397] font-bold text-[28px] leading-[30px] w-[60px]">Q9</p>
                                  <p class="font-myriadpro md:text-[22px] text-[20px] text-[#485397] font-semibold leading-[30px]">Will Akka help me with headaches, poor sleep, brain fog, poor focus, or motivation?</p>
                              </div>
                          </div>
                          <div class="flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-myriadpro text-[#485397] font-bold text-[18px] leading-[29px] italic">Answer</p>
                                  <div class="flex flex-col items-start justify-start gap-[30px]">
                                      <p class="font-myriadpro text-[20px] italic leading-[30px]">Absolutely. It does this through two different mechanisms. One is reducing the toxic load in your bloodstream that has accumulated from a liver that's not as healthy as it should be. <span class="read-more text-[#EC7800] cursor-pointer underline font-semibold" data-target="9">(Read more)</p>
                                      <p class="more-text hidden font-myriadpro text-[20px] italic leading-[27px]" data-target="9">
                                          As mentioned, toxins in the bloodstream can be environmental, like from pollution, from the water supply, and absorbed into your skin while showering, or they can be in the form of pesticides on fruits and vegetables.  
                                          <br/><br/>
                                          Prescription drugs, especially taken over long periods, will cause toxins to build up as well.
                                          <br/><br/>
                                          These are all handled by a healthy liver. <span class="font-semibold">And when you detoxify, cleanse, and rejuvenate your liver, your body just gets better at clearing this stuff out.</span>
                                          <br/><br/>
                                          You might be shocked to reach a level of clarity you haven't experienced since you were young.  I've seen eyes brighten up, skin clear like magic, even joint pain vanish in just a few weeks.
                                          <br/><br/>
                                          <span class="font-semibold">Now, the second is through microbiome recomposition</span> - that is, repopulating your microbiome with the most powerful superbiotic known to man. The mental benefits of Akkermansia have been demonstrated in over 150 scientific studies.
                                          <br/><br/>
                                          More broadly, probiotics in general have literally thousands of clinical studies showing their mental benefits improving memory, concentration, focus, and even a dramatic lift in your mood, since 85% of your body's serotonin is produced in the gut.  
                                          <br/><br/>
                                          <span class="font-semibold">Akkermansia is the master superbiotic, feeding and nurturing nearly every beneficial strain in your gut.</span>
                                          <br/><br/>
                                          You've never seen anything like it, and I promise you, no amount of exercise, caffeine, energy drinks, or drugs can compete with the mental clarity and focus you'll experience from naturally improving your microbiome.
                                          <br/><br/>
                                          Every day I get emails from people who have improved their memory, been able to focus for longer periods of time, and have even reported making more money as a result.
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="bg-[#FFFFFF] flex flex-col items-start justify-start">
                      <div class="flex flex-col py-[16px] px-[16px] md:px-[32px] gap-[10px]">
                          <div class="flex flex-col flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-neueHaas text-[#485397] font-bold text-[28px] leading-[30px] w-[60px]">Q10</p>
                                  <p class="font-myriadpro md:text-[22px] text-[20px] text-[#485397] font-semibold leading-[30px]">I’m a bodybuilder and I take a ton of supplements and gear so I worry about my liver. Will this protect me?</p>
                              </div>
                          </div>
                          <div class="flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-myriadpro text-[#485397] font-bold text-[18px] leading-[29px] italic">Answer</p>
                                  <div class="flex flex-col items-start justify-start gap-[30px]">
                                      <p class="font-myriadpro text-[20px] italic leading-[30px]"><span class="font-semibold">As you probably realize, body-building supplements and other anabolic agents are known for being extremely harsh on the liver, causing a measurable rise in liver enzymes.</span> <span class="read-more text-[#EC7800] cursor-pointer underline font-semibold" data-target="10">(Read more)</p>
                                      <p class="more-text hidden font-myriadpro text-[20px] italic leading-[27px]" data-target="10">
                                          And when you see an increase in liver enzymes, that means these agents, while triggering enhanced muscle growth, <span class="font-semibold">are also liquefying liver cells and causing them to leak out the bloodstream.</span>
                                          <br/><br/>
                                          Akka is very different from the liver protective agents found online or in GNC, or other bodybuilding shops. Many of these stores carry a generic version of Milk Thistle, but there’s really no other comprehensive liver formula that covers all the elements of liver protection and detoxification.
                                          <br/><br/>
                                          We combine Akkermansia, the world's most effective liver regenerative superbiotic, with 4 clinically proven liver-protective ingredients: Quercetin, Resveratrol, Silymarin, and Artichoke Leaf Extract. 
                                          <br/><br/>
                                          That means you’re covered from every angle, and several of these ingredients are synergistic. <span class="font-semibold">In fact, when you combine Quercetin and Resveratrol, studies show an improved metabolic fat-burning effect.</span>
                                          <br/><br/>
                                          <span class="font-semibold">Likewise, when you combine Resveratrol and Silymarin, you get enhanced anti-inflammatory effects and an increased reduction in liver fat.</span>
                                          <br/><br/>
                                          A 2017 study found that Resveratrol specifically decreases oxidative stress levels in muscles and promotes accelerated muscle regeneration. 
                                          <br/><br/>
                                          Also as a mitochondria enhancer, Resveratrol boosts the connective strength of tendons, increases blood flow to the muscles, and increases muscle vascularization as well.
                                          <br/><br/>
                                          And according to a 2022 study, Akkermansia improved muscle strength and mass in animals who had previously demonstrated muscle weakness, which was the first study to show the microbiome's dramatic effect on muscle gains.  
                                          <br/><br/>
                                          Not to mention that Akka is one of the most effective fat-burning agents available, making it one of the fastest ways to see those abs in the mirror.
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="bg-[#F1F2FD] flex flex-col items-start justify-start">
                      <div class="flex flex-col py-[16px] px-[16px] md:px-[32px] gap-[10px]">
                          <div class="flex flex-col flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-neueHaas text-[#485397] font-bold text-[28px] leading-[30px] w-[60px]">Q11</p>
                                  <p class="font-myriadpro md:text-[22px] text-[20px] text-[#485397] font-semibold leading-[30px]">What other symptoms are associated with an overburdened liver?</p>
                              </div>
                          </div>
                          <div class="flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-myriadpro text-[#485397] font-bold text-[18px] leading-[29px] italic">Answer</p>
                                  <div class="flex flex-col items-start justify-start gap-[30px]">
                                      <p class="font-myriadpro text-[20px] italic leading-[30px]"><span class="font-semibold">There’s many conditions caused by an overload of toxicity in the body.  Gaining weight is often the tip of the iceberg.</span> <span class="read-more text-[#EC7800] cursor-pointer underline font-semibold" data-target="11">(Read more)</p>
                                      <p class="more-text hidden font-myriadpro text-[20px] italic leading-[27px]" data-target="11">
                                          There’s many systems of the body that break down when your bloodstream becomes oversaturated with toxins, and they can range from poor sense of smell, impaired taste or a metallic taste, tinnitus or ringing in the ears, achy joints, brain fog, or confused thinking.
                                          <br/><br/>
                                          <span class="font-semibold">You might even experience itchy or red rashy skin as your body tries to push out the toxins through sweat, or unexplained, sometimes sudden weight gain.</span>
                                          <br/><br/>
                                          Now, depending on your situation, you could also lose weight due to muscle wasting that occurs from chronically poor digestion and nutrition. After all, without adequate bile, it's impossible to break down food and extract its nutrients.
                                          <br/><br/>
                                          It's impossible to predict what symptoms might clear up first when you start rejuvenating your liver.
                                          <br/><br/>
                                          The truth is, the best way is to grab a supply of Akka and try it for yourself. We’ve done everything we can to make it as easy as possible so check it out, give it some time to work its magic, THEN decide you want to keep it later.
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="bg-[#FFFFFF] flex flex-col items-start justify-start">
                      <div class="flex flex-col py-[16px] px-[16px] md:px-[32px] gap-[10px]">
                          <div class="flex flex-col flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-neueHaas text-[#485397] font-bold text-[28px] leading-[30px] w-[60px]">Q12</p>
                                  <p class="font-myriadpro md:text-[22px] text-[20px] text-[#485397] font-semibold leading-[30px]">Is Akka available anywhere else for a lower price?</p>
                              </div>
                          </div>
                          <div class="flex flex-col items-start justify-start">
                              <div class="flex flex-col md:flex-row item-start justify-start md:gap-[27px] gap-[8px]">
                                  <p class="font-myriadpro text-[#485397] font-bold text-[18px] leading-[29px] italic">Answer</p>
                                  <div class="flex flex-col items-start justify-start gap-[30px]">
                                      <p class="font-myriadpro text-[20px] italic leading-[30px]"><span class="font-semibold">We only sell Akka directly through this website and there’s two very important reasons why we do that.</span> <span class="read-more text-[#EC7800] cursor-pointer underline font-semibold" data-target="12">(Read more)</p>
                                      <p class="more-text hidden font-myriadpro text-[20px] italic leading-[27px]" data-target="12">
                                          <span class="font-semibold">The first is quality control.</span>
                                          <br/><br/>
                                          Most people don't realize, but due to the recent pandemic, the FDA has not been able to test products inside China. 
                                          <br/><br/>
                                          And given the recent reports of places like China having much higher levels of mercury, arsenic, and lead, this kind of thing is completely unacceptable.  
                                          <br/><br/>
                                          So we decided for this premium product, it must be manufactured and tested at one of the state-of-the-art, FDA-registered, GMP-certified labs right here in the USA. 
                                          <br/><br/>
                                          First, they use a technique called Infrared Spectroscopy. Not only are the ingredients tested for quality and safety, they are also tested for purity and potency as well.  
                                          <br/><br/>
                                          <span class="font-semibold">We also conduct additional quality inspections to ensure that the ingredients do not contain heavy metals, allergens, or contaminants, and meet the highest purity standards.</span>
                                          <br/><br/>
                                          It's important to make sure that these ingredients retain their full potency, so that the product will actually deliver the benefits we talk about.
                                          <br/><br/>
                                          The second reason we only sell direct is to keep the price affordable for our valued customers. 
                                          <br/><br/>
                                          If we allowed Akka to be sold in the big natural food stores, the markup required would make the price at least double what it is now. 
                                          <br/><br/>
                                          For our customers, all that extra markup makes no sense. It’s just added to subsidize the massive nationwide advertising budgets, which would be pointless since you can already order superbiotics from the comfort of your home directly from this website. 
                                          <br/><br/>
                                          Also, please remember <span class="font-semibold">that this one-time special offer is good <u>today only.</u></span>
                                          <br/><br/>
                                          If you leave this page and <span class="font-semibold">decide to get it</span> tomorrow, we can’t guarantee that Akka will still be available.  
                                          <br/><br/>
                                          Just <span class="font-semibold underline">click the button below now</span> to go to our secure order checkout page, enter your information, and we'll immediately get to work packing up your order and rushing it straight to your doorstep.
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>