{% schema %}
    {
      "name": "Section 7",
      "settings": []
    }
  {% endschema %}
  <section class="bg-[#FF883C] bg-[linear-gradient(0deg,#E4E7FF_0%,#E4E7FF_100%),linear-gradient(0deg,#F79F45_0%,#F79F45_100%),linear-gradient(0deg,rgba(255,255,255,0.90)_0%,rgba(255,255,255,0.90)_100%)]">
          <div class="max-w-full md:max-w-[1440px] mx-auto">
              <div class="py-[32px] md:w-[646px] mx-auto">
                  <div class="flex flex-col gap-[16px] md:gap-[26px]">
                      <div class="flex flex-col gap-[16px]">
                          <div class="bg-[#2F3A7C] w-[150px] py-[4px] mx-4 md:mx-0"></div>
                          <p class="font-myriadpro font-bold leading-[38px] md:leading-[48px] md:text-[42px] text-[34px] text-[#2F3A7C] text-left px-4 md:px-0">A Healthy Liver Is Your Body’s <br class="hidden md:block"/>Fat-Burning Furnace…</p>
                      </div>
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/liver-fat-burning-furnance.png" class="w-full md:w-[489px] mx-auto" />
                      <p class="text-black text-[18px] md:text-[20px] font-myriadpro px-4 md:px-0 leading-[normal]">
                          The liver is responsible for about 500 critical functions, including filtering toxins out of the blood, <span class="bg-[#FFEC70] py-2 md:py-1 font-semibold italic leading-[30px]">producing bile to help digest fats, clearing cholesterol from the blood, and metabolizing excess blood sugar to create energy.</span>
                          <br/><br/>
                          A healthy liver can easily metabolize fats and toxins, burning calories efficiently and giving you clean energy all day long.
                      </p>
                      <div class="flex flex-row gap-[8px] items-center justify-start px-4 md:px-0">
                          <div class="bg-[#2F3A7C] w-[4px] self-stretch rounded-full"></div>
                          <div class="flex items-center justify-center bg-[#F8D0B0] bg-[linear-gradient(0deg,rgba(255,255,255,0.60)_0%,rgba(255,255,255,0.60)_100%),linear-gradient(0deg,#F79F45_0%,#F79F45_100%)] border border-[rgba(210,55,55,_0.50)]">
                              <p class="font-myriadpro p-[10px] text-[18px] md:text-[20px] text-black font-semibold leading-[24px] md:leading-[normal] italic">A healthy liver should also produce a full liter of bile daily.</p>
                          </div>
                      </div>
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[normal] px-4 md:px-0">
                          This yellow, brownish liquid is collected in small ducts and then passed on to the main bile duct, which carries the bile to a part of the small intestine to break down fat for use as energy.
                          <br/><br/>
                          That’s why good bile flow is critical for fighting belly fat.
                          <br/><br/>
                          Bile is actually what gives poop its dark brown color, and in fact, pale or light brown stools usually indicate a compromised liver.
                      </p>
                  </div>
              </div>
          </div>
      </section>