{% schema %}
    {
      "name": "Section 5",
      "settings": []
    }
  {% endschema %}
  
  <section style="background-position: left bottom, right top;" class="
          
          md:bg-[auto_45%,auto_30%,_100%_100%] 
          bg-[linear-gradient(137deg,#FFF_-19.79%,#E4E7FF_77.24%),linear-gradient(0deg,rgba(255,255,255,0.90)_0%,rgba(255,255,255,0.90)_100%),linear-gradient(208deg,#FF883C_38.34%,rgba(255,136,60,0.00)_114.37%)] 
          md:bg-[url(https://cdn.shopify.com/s/files/1/0885/5581/5215/files/section-5-a-bottom.png),url(https://cdn.shopify.com/s/files/1/0885/5581/5215/files/section-5-a-top.png),linear-gradient(137deg,#FFF_-19.79%,#E4E7FF_77.24%),linear-gradient(0deg,rgba(255,255,255,0.90)_0%,rgba(255,255,255,0.90)_100%),linear-gradient(208deg,#FF883C_38.34%,rgba(255,136,60,0.00)_114.37%)] 
          md:bg-no-repeat
      ">
          <div class="max-w-full md:max-w-[1440px] mx-auto">
              <div class="w-full md:w-[646px] mx-auto py-[32px]">
                  <div class="flex flex-col gap-[16px] md:gap-[26px]">
                      <div class="flex flex-col gap-[16px]">
                          <div class="bg-[#2F3A7C] w-[150px] py-[4px] mx-4 md:mx-0"></div>
                          <p class="font-myriadpro font-bold leading-[38px] md:leading-[48px] md:text-[42px] text-[34px] text-[#2F3A7C] text-left px-4 md:px-0">The Secret “Fat Loss Discovery” That Changed Our Understanding <br class="block md:hidden" />Of The Liver</p>
                      </div>
                      <p class="text-black text-[18px] md:text-[20px] font-myriadpro px-4 md:px-0 leading-[normal]">
                          <span class="font-semibold">When you see that 65-year-old guy who’s still in great shape with a six-pack, it means he’s got a healthy liver. </span>
                          <br/><br/>
                          This was the first of three major clues I discovered in my quest to identify and solve the root cause of obesity, fatigue, and metabolic dysfunction.
                      </p>
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/tip.png" class="md:w-[542px] mx-auto hidden md:block" />
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/tip-mobile.png" class="w-full mx-auto block md:hidden" />
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[normal] px-4 md:px-0">
                          You see, until recently, the liver's effect on your metabolism has largely been a mystery.
                          <br/><br/>
                          However, in 2021, a major research breakthrough was published called <span class="font-semibold">“Newly Discovered Endocrine Functions of The Liver.”</span>
                          <br/><br/>
                          "Endocrine" means it releases hormones that travel into the bloodstream and control what other cells and organs do. Its primary function is to control metabolism, making the liver your body's primary fat-dissolving organ.
                      </p>
                      <div class="flex flex-row gap-[8px] items-center justify-center px-4 md:px-0">
                          <div class="bg-[#2F3A7C] w-[4px] self-stretch rounded-full"></div>
                          <div class="flex items-center justify-center bg-[#F8D0B0] bg-[linear-gradient(0deg,rgba(255,255,255,0.60)_0%,rgba(255,255,255,0.60)_100%),linear-gradient(0deg,#F79F45_0%,#F79F45_100%)]">
                              <p class="font-myriadpro p-[10px] text-[18px] md:text-[20px] text-black leading-[24px] md:leading-[normal]">
                                  In other words, if your liver is healthy, <span class="font-semibold bg-[#FFEC70] py-2 md:py-1 leading-[30px]">it’s a complete natural replacement for Ozempic.</span>
                                  <br/><br/>
                                  In fact, this study was the first to make the connection between the liver and GLP-1.
                              </p>
                          </div>
                      </div>
                      <div class="flex flex-col md:flex-row gap-[16px] md:gap-[30px] items-start justify-start px-4 md:px-0">
                          <div class="flex-1">
                              <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/fat-loss-discovery-img.png" class="w-full" />
                          </div>
                          <div class="flex-1">
                              <p class="font-myriadpro text-[18px] md:text-[20px] leading-[normal]">
                                  That’s right. <span class="font-semibold">When healthy, your liver is more powerful, and safer, than Ozempic.</span> In fact, this study was part of the initial research that led to Ozempic's development.
                                  <br/><br/>
                                  I’ll show you the science, but I promise to do my best to break it down into simple, easy-to-understand English.  
                                  <br/><br/>
                                  Once you fully detoxify your liver, you'll experience more energy, mental clarity and begin to feel amazing. <span class="font-semibold">Get ready to feel lighter, more vibrant, and truly in charge of your health.</span>
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>