<section class="max-w-full mx-auto relative before:bg-[url('https://cdn.shopify.com/s/files/1/0885/5581/5215/files/akka-a-bg.png')] before:bg-blend-multiply before:bg-right before:bg-cover before:bg-no-repeat 
    md:before:w-[565px] before:w-[491px] md:before:h-[747px] before:h-[485px] before:absolute before:z-[-2] before:right-0 md:before:top-[270px] before:top-[49%] 
    before:fill-[linear-gradient(137deg,#FFF_-19.79%,#E4E7FF_77.24%)] before:stroke-[#A0A6D2] before:stroke-[1px]">
    <div class="product-benefits border border-x-0 border-solid border-[#A1A6CA] md:py-[70px] py-[30px] lg:px-[181px] px-[15px] flex md:flex-row flex-col lg:gap-[178px] gap-[24px] items-start justify-center">
        <div class="md:w-[241px] w-full text-center">
            <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/akka-cleanse-icon.png" class="mx-auto" />
            <p class="mt-[14px] font-helveticaneue text-[#3E488B] text-[16px] font-normal leading-[140%] tracking-[0.24px]">Cleanse your liver of toxins<span class="md:block hidden"></span> and excess fat that might<span class="md:block hidden"></span> be clogging your bile ducts</p>
        </div>
        <div class="md:w-[241px] w-full text-center">
            <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/akka-restore-icon.png" class="mx-auto" />
            <p class="mt-[14px] font-helveticaneue text-[#3E488B] text-[16px] font-normal leading-[140%] tracking-[0.24px]">Restore the healthy<span class="md:block hidden"></span> flow of bile</p>
        </div>
        <div class="md:w-[241px] w-full text-center">
            <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/akka-regenerate-icon.png" class="mx-auto" />
            <p class="mt-[14px] font-helveticaneue text-[#3E488B] text-[16px] font-normal leading-[140%] tracking-[0.24px]">Regenerate liver cells and<span class="md:block hidden"></span> begins repairing scar tissue,<span class="md:block hidden"></span> winding back the clock on liver<span class="md:block hidden"></span> degradation</p>
        </div>
    </div>
    <div class="product-testimonials pt-[50px]">
        <h2 class="font-helveticaneue text-[#3E488B] md:text-[42px] text-[32px] leading-[120%] capitalize text-center md:mb-[9px] mb-[12px]"><strong class="tracking-[-2.52px] font-medium">Real</strong> <span class="tracking-[-0.84px] font-light italic">results</span>,<span class="md:hidden block"></span> <strong class="tracking-[-0.84px] font-medium">from real</strong> <span class="tracking-[-0.84px] font-light italic">people</span></h2>
        <p class="font-helveticaneue text-[#3E488B] text-[18px] leading-[140%] tracking-[0.36px] text-center mb-[39px]">See what people are saying about our<span class="md:hidden block"></span> new and <strong class="font-medium italic">effective formula</strong></p>
        <div class="testimonials md:max-w-[1440px] max-w-full mx-auto flex lg:flex-row flex-col lg:border-[1px] border-y-[1px] border-[#A1A6CA] border-solid bg-[background: rgba(255,255,255,0.28)]">
            <div class="flex-1">
                <div class="p-[24px]">
                    <div class="flex items-center justify-between">
                        <div class="flex gap-[13px]">
                            <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/akka-terri-w.png" class="w-[42px]" />
                            <div class="">
                                <p class="font-helveticaneue text-[#3E488B] text-[16px] font-medium leading-[140%] tracking-[0.24px] flex gap-[8px]">Terri Wilson <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
                                    <g clip-path="url(#clip0_44_851)">
                                        <path d="M18 9.54585C18 10.289 16.5263 10.8286 16.343 11.514C16.1535 12.2231 17.1543 13.4261 16.7952 14.0469C16.4308 14.6767 14.8852 14.4088 14.3741 14.9199C13.863 15.431 14.1309 16.9765 13.5011 17.341C12.8803 17.7002 11.6773 16.6993 10.9681 16.8889C10.2828 17.0721 9.74322 18.5458 9.00005 18.5458C8.25688 18.5458 7.71733 17.0721 7.03195 16.8889C6.32279 16.6993 5.1198 17.7001 4.49897 17.341C3.86918 16.9766 4.13708 15.431 3.62597 14.9199C3.11486 14.4088 1.56936 14.6767 1.20491 14.0469C0.845666 13.426 1.84659 12.2231 1.65704 11.514C1.47372 10.8286 0 10.289 0 9.54585C0 8.80268 1.47372 8.26314 1.65695 7.57775C1.84649 6.8686 0.845666 5.66561 1.20482 5.04478C1.56918 4.41499 3.11476 4.68289 3.62588 4.17177C4.13699 3.66066 3.86909 2.11517 4.49888 1.75071C5.11971 1.39147 6.3227 2.39239 7.03185 2.20285C7.71724 2.01962 8.25688 0.545898 8.99995 0.545898C9.74303 0.545898 10.2827 2.01962 10.9681 2.20285C11.6772 2.39239 12.8802 1.39156 13.501 1.75071C14.1308 2.11508 13.8629 3.66057 14.374 4.17177C14.8851 4.68289 16.4306 4.41499 16.7951 5.04478C17.1543 5.66561 16.1534 6.8686 16.343 7.57775C16.5262 8.26314 17.9999 8.80268 17.9999 9.54585H18Z" fill="#F79F45"/>
                                        <path d="M18 9.54585C18 10.289 16.5263 10.8286 16.343 11.514C16.1535 12.2231 17.1543 13.4261 16.7952 14.0469C16.4308 14.6767 14.8852 14.4088 14.3741 14.9199C13.863 15.431 14.1309 16.9765 13.5011 17.341C12.8803 17.7002 11.6773 16.6993 10.9681 16.8889C10.2828 17.0721 9.74322 18.5458 9.00005 18.5458C8.25688 18.5458 7.71733 17.0721 7.03195 16.8889C6.32279 16.6993 5.1198 17.7001 4.49897 17.341C3.86918 16.9766 4.13708 15.431 3.62597 14.9199C3.11486 14.4088 1.56936 14.6767 1.20491 14.0469C0.845666 13.426 1.84659 12.2231 1.65704 11.514C1.47372 10.8286 0 10.289 0 9.54585C0 8.80268 1.47372 8.26314 1.65695 7.57775C1.84649 6.8686 0.845666 5.66561 1.20482 5.04478C1.56918 4.41499 3.11476 4.68289 3.62588 4.17177C4.13699 3.66066 3.86909 2.11517 4.49888 1.75071C5.11971 1.39147 6.3227 2.39239 7.03185 2.20285C7.71724 2.01962 8.25688 0.545898 8.99995 0.545898C9.74303 0.545898 10.2827 2.01962 10.9681 2.20285C11.6772 2.39239 12.8802 1.39156 13.501 1.75071C14.1308 2.11508 13.8629 3.66057 14.374 4.17177C14.8851 4.68289 16.4306 4.41499 16.7951 5.04478C17.1543 5.66561 16.1534 6.8686 16.343 7.57775C16.5262 8.26314 17.9999 8.80268 17.9999 9.54585H18Z" fill="#F79F45"/>
                                        <path d="M7.6098 12.6978L5.59498 10.6831C5.41357 10.5017 5.41357 10.2076 5.59498 10.0262L6.16488 9.45631C6.34628 9.27491 6.64033 9.27491 6.82174 9.45631L7.93512 10.5698L11.7949 6.68378C11.9756 6.50174 12.2698 6.50083 12.4517 6.68159L13.0235 7.24948C13.2055 7.43024 13.2064 7.72438 13.0257 7.90634L8.26775 12.6967C8.08653 12.8791 7.79157 12.8797 7.6098 12.6978Z" fill="white"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_44_851">
                                        <rect width="18" height="18" fill="white" transform="translate(0 0.545898)"/>
                                        </clipPath>
                                    </defs>
                                    </svg></p>
                                    <p class="font-helveticaneue text-[#3E488B] text-[14px] italic font-light leading-[140%] tracking-[0.21px]">Macon, Georgia</p>
                            </div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="108" height="19" viewBox="0 0 108 19" fill="none">
                            <path d="M10.4894 0.470337L13.5577 6.24727L20 7.38017L15.454 12.0834L16.3673 18.5605L10.4894 15.6903L4.61159 18.5605L5.52493 12.0834L0.978882 7.38017L7.42121 6.24727L10.4894 0.470337Z" fill="#F79F45"/>
                            <path d="M32.4894 0.470337L35.5577 6.24727L42 7.38017L37.454 12.0834L38.3673 18.5605L32.4894 15.6903L26.6116 18.5605L27.5249 12.0834L22.9789 7.38017L29.4212 6.24727L32.4894 0.470337Z" fill="#F79F45"/>
                            <path d="M54.4894 0.470337L57.5577 6.24727L64 7.38017L59.454 12.0834L60.3673 18.5605L54.4894 15.6903L48.6116 18.5605L49.5249 12.0834L44.9789 7.38017L51.4212 6.24727L54.4894 0.470337Z" fill="#F79F45"/>
                            <path d="M76.4894 0.470337L79.5577 6.24727L86 7.38017L81.454 12.0834L82.3673 18.5605L76.4894 15.6903L70.6116 18.5605L71.5249 12.0834L66.9789 7.38017L73.4212 6.24727L76.4894 0.470337Z" fill="#F79F45"/>
                            <path d="M98.4894 0.470337L101.558 6.24727L108 7.38017L103.454 12.0834L104.367 18.5605L98.4894 15.6903L92.6116 18.5605L93.5249 12.0834L88.9789 7.38017L95.4212 6.24727L98.4894 0.470337Z" fill="#F79F45"/>
                            </svg>
                    </div>
                    <div class="font-helveticaneue text-[#3E488B] text-[15px] font-normal leading-[140%] tracking-[0.225px] mt-[20px]">
                        <p class="mb-[24px]">Akka changed my life. I just want to thank you Dr. Sam for giving me my health back. As a busy mom of 3, I’ve gotta admit I don’t have time to eat as healthy as I should. Usually grabbing fast food between running my 3 boys all over town.</p>
                        <p class="mb-[24px]">And in my wild youth, I abused my liver with a decade of pretty heavy drinking, drugging and partying. So when I was diagnosed with a liver infection last year, it was a wake up call. And the antibiotics my doc prescribed really messed up my digestion.</p>
                        <p>Fortunately, my sister sent me your video explaining how Akka works, and I decided to give it a try. <strong class="font-medium italic">Not only have I lost over 25 lbs since starting, and can eat my favorite foods again. But I’ve now got more energy than my 3 year old son! I’ll never be able to thank you enough.</strong></p>
                    </div>
                </div>
                <div class="p-[24px] border-t-[1px] border-[#A1A6CA] border-solid">
                    <div class="flex items-center justify-between">
                        <div class="flex gap-[13px]">
                            <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/akka-michael-g.png" class="w-[42px]" />
                            <div class="">
                                <p class="font-helveticaneue text-[#3E488B] text-[16px] font-medium leading-[140%] tracking-[0.24px] flex gap-[8px]">Michael Goodwin <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
                                    <g clip-path="url(#clip0_44_851)">
                                        <path d="M18 9.54585C18 10.289 16.5263 10.8286 16.343 11.514C16.1535 12.2231 17.1543 13.4261 16.7952 14.0469C16.4308 14.6767 14.8852 14.4088 14.3741 14.9199C13.863 15.431 14.1309 16.9765 13.5011 17.341C12.8803 17.7002 11.6773 16.6993 10.9681 16.8889C10.2828 17.0721 9.74322 18.5458 9.00005 18.5458C8.25688 18.5458 7.71733 17.0721 7.03195 16.8889C6.32279 16.6993 5.1198 17.7001 4.49897 17.341C3.86918 16.9766 4.13708 15.431 3.62597 14.9199C3.11486 14.4088 1.56936 14.6767 1.20491 14.0469C0.845666 13.426 1.84659 12.2231 1.65704 11.514C1.47372 10.8286 0 10.289 0 9.54585C0 8.80268 1.47372 8.26314 1.65695 7.57775C1.84649 6.8686 0.845666 5.66561 1.20482 5.04478C1.56918 4.41499 3.11476 4.68289 3.62588 4.17177C4.13699 3.66066 3.86909 2.11517 4.49888 1.75071C5.11971 1.39147 6.3227 2.39239 7.03185 2.20285C7.71724 2.01962 8.25688 0.545898 8.99995 0.545898C9.74303 0.545898 10.2827 2.01962 10.9681 2.20285C11.6772 2.39239 12.8802 1.39156 13.501 1.75071C14.1308 2.11508 13.8629 3.66057 14.374 4.17177C14.8851 4.68289 16.4306 4.41499 16.7951 5.04478C17.1543 5.66561 16.1534 6.8686 16.343 7.57775C16.5262 8.26314 17.9999 8.80268 17.9999 9.54585H18Z" fill="#F79F45"/>
                                        <path d="M18 9.54585C18 10.289 16.5263 10.8286 16.343 11.514C16.1535 12.2231 17.1543 13.4261 16.7952 14.0469C16.4308 14.6767 14.8852 14.4088 14.3741 14.9199C13.863 15.431 14.1309 16.9765 13.5011 17.341C12.8803 17.7002 11.6773 16.6993 10.9681 16.8889C10.2828 17.0721 9.74322 18.5458 9.00005 18.5458C8.25688 18.5458 7.71733 17.0721 7.03195 16.8889C6.32279 16.6993 5.1198 17.7001 4.49897 17.341C3.86918 16.9766 4.13708 15.431 3.62597 14.9199C3.11486 14.4088 1.56936 14.6767 1.20491 14.0469C0.845666 13.426 1.84659 12.2231 1.65704 11.514C1.47372 10.8286 0 10.289 0 9.54585C0 8.80268 1.47372 8.26314 1.65695 7.57775C1.84649 6.8686 0.845666 5.66561 1.20482 5.04478C1.56918 4.41499 3.11476 4.68289 3.62588 4.17177C4.13699 3.66066 3.86909 2.11517 4.49888 1.75071C5.11971 1.39147 6.3227 2.39239 7.03185 2.20285C7.71724 2.01962 8.25688 0.545898 8.99995 0.545898C9.74303 0.545898 10.2827 2.01962 10.9681 2.20285C11.6772 2.39239 12.8802 1.39156 13.501 1.75071C14.1308 2.11508 13.8629 3.66057 14.374 4.17177C14.8851 4.68289 16.4306 4.41499 16.7951 5.04478C17.1543 5.66561 16.1534 6.8686 16.343 7.57775C16.5262 8.26314 17.9999 8.80268 17.9999 9.54585H18Z" fill="#F79F45"/>
                                        <path d="M7.6098 12.6978L5.59498 10.6831C5.41357 10.5017 5.41357 10.2076 5.59498 10.0262L6.16488 9.45631C6.34628 9.27491 6.64033 9.27491 6.82174 9.45631L7.93512 10.5698L11.7949 6.68378C11.9756 6.50174 12.2698 6.50083 12.4517 6.68159L13.0235 7.24948C13.2055 7.43024 13.2064 7.72438 13.0257 7.90634L8.26775 12.6967C8.08653 12.8791 7.79157 12.8797 7.6098 12.6978Z" fill="white"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_44_851">
                                        <rect width="18" height="18" fill="white" transform="translate(0 0.545898)"/>
                                        </clipPath>
                                    </defs>
                                    </svg></p>
                                    <p class="font-helveticaneue text-[#3E488B] text-[14px] italic font-light leading-[140%] tracking-[0.21px]">Cheshire CT</p>
                            </div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="108" height="19" viewBox="0 0 108 19" fill="none">
                            <path d="M10.4894 0.470337L13.5577 6.24727L20 7.38017L15.454 12.0834L16.3673 18.5605L10.4894 15.6903L4.61159 18.5605L5.52493 12.0834L0.978882 7.38017L7.42121 6.24727L10.4894 0.470337Z" fill="#F79F45"/>
                            <path d="M32.4894 0.470337L35.5577 6.24727L42 7.38017L37.454 12.0834L38.3673 18.5605L32.4894 15.6903L26.6116 18.5605L27.5249 12.0834L22.9789 7.38017L29.4212 6.24727L32.4894 0.470337Z" fill="#F79F45"/>
                            <path d="M54.4894 0.470337L57.5577 6.24727L64 7.38017L59.454 12.0834L60.3673 18.5605L54.4894 15.6903L48.6116 18.5605L49.5249 12.0834L44.9789 7.38017L51.4212 6.24727L54.4894 0.470337Z" fill="#F79F45"/>
                            <path d="M76.4894 0.470337L79.5577 6.24727L86 7.38017L81.454 12.0834L82.3673 18.5605L76.4894 15.6903L70.6116 18.5605L71.5249 12.0834L66.9789 7.38017L73.4212 6.24727L76.4894 0.470337Z" fill="#F79F45"/>
                            <path d="M98.4894 0.470337L101.558 6.24727L108 7.38017L103.454 12.0834L104.367 18.5605L98.4894 15.6903L92.6116 18.5605L93.5249 12.0834L88.9789 7.38017L95.4212 6.24727L98.4894 0.470337Z" fill="#F79F45"/>
                            </svg>
                    </div>
                    <div class="font-helveticaneue text-[#3E488B] text-[15px] font-normal leading-[140%] tracking-[0.225px] mt-[20px]">
                        <p>I was struggling with chronic fatigue and auto-immune problems. I was constantly breaking out in rashes and itching all over my body. Akka gave me a 'clean body' feeling in just a few weeks and I couldn't be happier. Amazing focus and concentration. I feel 20 years younger.</p>
                    </div>
                </div>
            </div>
            <div class="flex-1 lg:border-x-[1px] border-x-0 lg:border-t-0 border-t-[1px] border-[#A1A6CA] border-solid">
                <div class="p-[24px]">
                    <div class="flex items-center justify-between">
                        <div class="flex gap-[13px]">
                            <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/akka-stephanie-c.png" class="w-[42px]" />
                            <div class="">
                                <p class="font-helveticaneue text-[#3E488B] text-[16px] font-medium leading-[140%] tracking-[0.24px] flex gap-[8px]">Stephanie Cox <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
                                    <g clip-path="url(#clip0_44_851)">
                                        <path d="M18 9.54585C18 10.289 16.5263 10.8286 16.343 11.514C16.1535 12.2231 17.1543 13.4261 16.7952 14.0469C16.4308 14.6767 14.8852 14.4088 14.3741 14.9199C13.863 15.431 14.1309 16.9765 13.5011 17.341C12.8803 17.7002 11.6773 16.6993 10.9681 16.8889C10.2828 17.0721 9.74322 18.5458 9.00005 18.5458C8.25688 18.5458 7.71733 17.0721 7.03195 16.8889C6.32279 16.6993 5.1198 17.7001 4.49897 17.341C3.86918 16.9766 4.13708 15.431 3.62597 14.9199C3.11486 14.4088 1.56936 14.6767 1.20491 14.0469C0.845666 13.426 1.84659 12.2231 1.65704 11.514C1.47372 10.8286 0 10.289 0 9.54585C0 8.80268 1.47372 8.26314 1.65695 7.57775C1.84649 6.8686 0.845666 5.66561 1.20482 5.04478C1.56918 4.41499 3.11476 4.68289 3.62588 4.17177C4.13699 3.66066 3.86909 2.11517 4.49888 1.75071C5.11971 1.39147 6.3227 2.39239 7.03185 2.20285C7.71724 2.01962 8.25688 0.545898 8.99995 0.545898C9.74303 0.545898 10.2827 2.01962 10.9681 2.20285C11.6772 2.39239 12.8802 1.39156 13.501 1.75071C14.1308 2.11508 13.8629 3.66057 14.374 4.17177C14.8851 4.68289 16.4306 4.41499 16.7951 5.04478C17.1543 5.66561 16.1534 6.8686 16.343 7.57775C16.5262 8.26314 17.9999 8.80268 17.9999 9.54585H18Z" fill="#F79F45"/>
                                        <path d="M18 9.54585C18 10.289 16.5263 10.8286 16.343 11.514C16.1535 12.2231 17.1543 13.4261 16.7952 14.0469C16.4308 14.6767 14.8852 14.4088 14.3741 14.9199C13.863 15.431 14.1309 16.9765 13.5011 17.341C12.8803 17.7002 11.6773 16.6993 10.9681 16.8889C10.2828 17.0721 9.74322 18.5458 9.00005 18.5458C8.25688 18.5458 7.71733 17.0721 7.03195 16.8889C6.32279 16.6993 5.1198 17.7001 4.49897 17.341C3.86918 16.9766 4.13708 15.431 3.62597 14.9199C3.11486 14.4088 1.56936 14.6767 1.20491 14.0469C0.845666 13.426 1.84659 12.2231 1.65704 11.514C1.47372 10.8286 0 10.289 0 9.54585C0 8.80268 1.47372 8.26314 1.65695 7.57775C1.84649 6.8686 0.845666 5.66561 1.20482 5.04478C1.56918 4.41499 3.11476 4.68289 3.62588 4.17177C4.13699 3.66066 3.86909 2.11517 4.49888 1.75071C5.11971 1.39147 6.3227 2.39239 7.03185 2.20285C7.71724 2.01962 8.25688 0.545898 8.99995 0.545898C9.74303 0.545898 10.2827 2.01962 10.9681 2.20285C11.6772 2.39239 12.8802 1.39156 13.501 1.75071C14.1308 2.11508 13.8629 3.66057 14.374 4.17177C14.8851 4.68289 16.4306 4.41499 16.7951 5.04478C17.1543 5.66561 16.1534 6.8686 16.343 7.57775C16.5262 8.26314 17.9999 8.80268 17.9999 9.54585H18Z" fill="#F79F45"/>
                                        <path d="M7.6098 12.6978L5.59498 10.6831C5.41357 10.5017 5.41357 10.2076 5.59498 10.0262L6.16488 9.45631C6.34628 9.27491 6.64033 9.27491 6.82174 9.45631L7.93512 10.5698L11.7949 6.68378C11.9756 6.50174 12.2698 6.50083 12.4517 6.68159L13.0235 7.24948C13.2055 7.43024 13.2064 7.72438 13.0257 7.90634L8.26775 12.6967C8.08653 12.8791 7.79157 12.8797 7.6098 12.6978Z" fill="white"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_44_851">
                                        <rect width="18" height="18" fill="white" transform="translate(0 0.545898)"/>
                                        </clipPath>
                                    </defs>
                                    </svg></p>
                                    <p class="font-helveticaneue text-[#3E488B] text-[14px] italic font-light leading-[140%] tracking-[0.21px]">Los Angeles, CA</p>
                            </div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="108" height="19" viewBox="0 0 108 19" fill="none">
                            <path d="M10.4894 0.470337L13.5577 6.24727L20 7.38017L15.454 12.0834L16.3673 18.5605L10.4894 15.6903L4.61159 18.5605L5.52493 12.0834L0.978882 7.38017L7.42121 6.24727L10.4894 0.470337Z" fill="#F79F45"/>
                            <path d="M32.4894 0.470337L35.5577 6.24727L42 7.38017L37.454 12.0834L38.3673 18.5605L32.4894 15.6903L26.6116 18.5605L27.5249 12.0834L22.9789 7.38017L29.4212 6.24727L32.4894 0.470337Z" fill="#F79F45"/>
                            <path d="M54.4894 0.470337L57.5577 6.24727L64 7.38017L59.454 12.0834L60.3673 18.5605L54.4894 15.6903L48.6116 18.5605L49.5249 12.0834L44.9789 7.38017L51.4212 6.24727L54.4894 0.470337Z" fill="#F79F45"/>
                            <path d="M76.4894 0.470337L79.5577 6.24727L86 7.38017L81.454 12.0834L82.3673 18.5605L76.4894 15.6903L70.6116 18.5605L71.5249 12.0834L66.9789 7.38017L73.4212 6.24727L76.4894 0.470337Z" fill="#F79F45"/>
                            <path d="M98.4894 0.470337L101.558 6.24727L108 7.38017L103.454 12.0834L104.367 18.5605L98.4894 15.6903L92.6116 18.5605L93.5249 12.0834L88.9789 7.38017L95.4212 6.24727L98.4894 0.470337Z" fill="#F79F45"/>
                            </svg>
                    </div>
                    <div class="font-helveticaneue text-[#3E488B] text-[15px] font-normal leading-[140%] tracking-[0.225px] mt-[20px]">
                        <p class="mb-[24px]">My journey with Akka began during a particularly tough period in my life. I was constantly feeling sluggish and bloated, with my weight steadily increasing for reasons I couldn't understand. I had bouts of constipation, and my body just felt gross overall. I tried everything from diet changes to fitness regimes, but nothing seemed to help.</p>
                        <p class="mb-[24px] font-medium italic">Akka changed everything for me. Not only did it help cleanse and rejuvenate my liver, but it also kick-started my weight loss and restored my energy levels. For the first time in years, I felt like my body was working with me, not against me.</p>
                        <p class="mb-[24px]">The transformation was noticeable not just to me but to everyone around me. Colleagues and friends commented on how much happier and more energetic I seemed. I went from avoiding social gatherings to embracing them, thanks to the newfound confidence Akka gave me.</p>
                        <p>I believe Akka is something everyone should know about, especially those struggling with similar issues. It has not only improved my physical health but has also had a profound impact on my overall well-being and happiness. I've recommended it to everyone I care about.</p>
                    </div>
                </div>
            </div>
            <div class="flex-1 lg:border-0 border-t-[1px] border-[#A1A6CA] border-solid">
                <div class="p-[24px]">
                    <div class="flex items-center justify-between">
                        <div class="flex gap-[13px]">
                            <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/akka-jerry-s.png" class="w-[42px]" />
                            <div class="">
                                <p class="font-helveticaneue text-[#3E488B] text-[16px] font-medium leading-[140%] tracking-[0.24px] flex gap-[8px]">Jerry Simmons <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
                                    <g clip-path="url(#clip0_44_851)">
                                        <path d="M18 9.54585C18 10.289 16.5263 10.8286 16.343 11.514C16.1535 12.2231 17.1543 13.4261 16.7952 14.0469C16.4308 14.6767 14.8852 14.4088 14.3741 14.9199C13.863 15.431 14.1309 16.9765 13.5011 17.341C12.8803 17.7002 11.6773 16.6993 10.9681 16.8889C10.2828 17.0721 9.74322 18.5458 9.00005 18.5458C8.25688 18.5458 7.71733 17.0721 7.03195 16.8889C6.32279 16.6993 5.1198 17.7001 4.49897 17.341C3.86918 16.9766 4.13708 15.431 3.62597 14.9199C3.11486 14.4088 1.56936 14.6767 1.20491 14.0469C0.845666 13.426 1.84659 12.2231 1.65704 11.514C1.47372 10.8286 0 10.289 0 9.54585C0 8.80268 1.47372 8.26314 1.65695 7.57775C1.84649 6.8686 0.845666 5.66561 1.20482 5.04478C1.56918 4.41499 3.11476 4.68289 3.62588 4.17177C4.13699 3.66066 3.86909 2.11517 4.49888 1.75071C5.11971 1.39147 6.3227 2.39239 7.03185 2.20285C7.71724 2.01962 8.25688 0.545898 8.99995 0.545898C9.74303 0.545898 10.2827 2.01962 10.9681 2.20285C11.6772 2.39239 12.8802 1.39156 13.501 1.75071C14.1308 2.11508 13.8629 3.66057 14.374 4.17177C14.8851 4.68289 16.4306 4.41499 16.7951 5.04478C17.1543 5.66561 16.1534 6.8686 16.343 7.57775C16.5262 8.26314 17.9999 8.80268 17.9999 9.54585H18Z" fill="#F79F45"/>
                                        <path d="M18 9.54585C18 10.289 16.5263 10.8286 16.343 11.514C16.1535 12.2231 17.1543 13.4261 16.7952 14.0469C16.4308 14.6767 14.8852 14.4088 14.3741 14.9199C13.863 15.431 14.1309 16.9765 13.5011 17.341C12.8803 17.7002 11.6773 16.6993 10.9681 16.8889C10.2828 17.0721 9.74322 18.5458 9.00005 18.5458C8.25688 18.5458 7.71733 17.0721 7.03195 16.8889C6.32279 16.6993 5.1198 17.7001 4.49897 17.341C3.86918 16.9766 4.13708 15.431 3.62597 14.9199C3.11486 14.4088 1.56936 14.6767 1.20491 14.0469C0.845666 13.426 1.84659 12.2231 1.65704 11.514C1.47372 10.8286 0 10.289 0 9.54585C0 8.80268 1.47372 8.26314 1.65695 7.57775C1.84649 6.8686 0.845666 5.66561 1.20482 5.04478C1.56918 4.41499 3.11476 4.68289 3.62588 4.17177C4.13699 3.66066 3.86909 2.11517 4.49888 1.75071C5.11971 1.39147 6.3227 2.39239 7.03185 2.20285C7.71724 2.01962 8.25688 0.545898 8.99995 0.545898C9.74303 0.545898 10.2827 2.01962 10.9681 2.20285C11.6772 2.39239 12.8802 1.39156 13.501 1.75071C14.1308 2.11508 13.8629 3.66057 14.374 4.17177C14.8851 4.68289 16.4306 4.41499 16.7951 5.04478C17.1543 5.66561 16.1534 6.8686 16.343 7.57775C16.5262 8.26314 17.9999 8.80268 17.9999 9.54585H18Z" fill="#F79F45"/>
                                        <path d="M7.6098 12.6978L5.59498 10.6831C5.41357 10.5017 5.41357 10.2076 5.59498 10.0262L6.16488 9.45631C6.34628 9.27491 6.64033 9.27491 6.82174 9.45631L7.93512 10.5698L11.7949 6.68378C11.9756 6.50174 12.2698 6.50083 12.4517 6.68159L13.0235 7.24948C13.2055 7.43024 13.2064 7.72438 13.0257 7.90634L8.26775 12.6967C8.08653 12.8791 7.79157 12.8797 7.6098 12.6978Z" fill="white"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_44_851">
                                        <rect width="18" height="18" fill="white" transform="translate(0 0.545898)"/>
                                        </clipPath>
                                    </defs>
                                    </svg></p>
                                    <p class="font-helveticaneue text-[#3E488B] text-[14px] italic font-light leading-[140%] tracking-[0.21px]">Atlanta GA </p>
                            </div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="108" height="19" viewBox="0 0 108 19" fill="none">
                            <path d="M10.4894 0.470337L13.5577 6.24727L20 7.38017L15.454 12.0834L16.3673 18.5605L10.4894 15.6903L4.61159 18.5605L5.52493 12.0834L0.978882 7.38017L7.42121 6.24727L10.4894 0.470337Z" fill="#F79F45"/>
                            <path d="M32.4894 0.470337L35.5577 6.24727L42 7.38017L37.454 12.0834L38.3673 18.5605L32.4894 15.6903L26.6116 18.5605L27.5249 12.0834L22.9789 7.38017L29.4212 6.24727L32.4894 0.470337Z" fill="#F79F45"/>
                            <path d="M54.4894 0.470337L57.5577 6.24727L64 7.38017L59.454 12.0834L60.3673 18.5605L54.4894 15.6903L48.6116 18.5605L49.5249 12.0834L44.9789 7.38017L51.4212 6.24727L54.4894 0.470337Z" fill="#F79F45"/>
                            <path d="M76.4894 0.470337L79.5577 6.24727L86 7.38017L81.454 12.0834L82.3673 18.5605L76.4894 15.6903L70.6116 18.5605L71.5249 12.0834L66.9789 7.38017L73.4212 6.24727L76.4894 0.470337Z" fill="#F79F45"/>
                            <path d="M98.4894 0.470337L101.558 6.24727L108 7.38017L103.454 12.0834L104.367 18.5605L98.4894 15.6903L92.6116 18.5605L93.5249 12.0834L88.9789 7.38017L95.4212 6.24727L98.4894 0.470337Z" fill="#F79F45"/>
                            </svg>
                    </div>
                    <div class="font-helveticaneue text-[#3E488B] text-[15px] font-normal leading-[140%] tracking-[0.225px] mt-[20px]">
                        <p class="mb-[24px]">Before discovering Akka, I struggled with fatigue and a constant sense of feeling unwell, which I later learned was due to my liver not functioning properly. For years, I just lived with it, thinking it was normal to feel tired when you're older.</p>
                        <p class="mb-[24px]">I had tried various supplements and visited several specialists, but nothing provided a lasting solution. My energy levels were always low, and I noticed my sense of taste and smell just seemed 'off'. Food would taste bland on some days and other days just downright unpleasant.</p>
                        <p class="mb-[24px] font-medium italic">I also noticed a ringing in my ears -- especially in the morning when I woke up.</p>
                        <p class="mb-[24px] italic">Within just one week of starting Akka, I began to feel a significant difference. My energy levels improved, and I no longer felt that constant fatigue that had been dragging me down. My senses also came back to normal in just a few short weeks.</p>
                        <p class="mb-[24px]">I was skeptical at first, as I had never been able to find something that truly worked, but Akka proved me wrong. Not only has my energy returned, but I've also started to lose some of the weight that seemed impossible to shed before.</p>
                        <p class="font-medium italic">Akka has truly been a game-changer for me. A solid 5-star experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Product Benefits",
    "settings": []
  }
{% endschema %}