{% schema %}
    {
      "name": "Section 16",
      "settings": []
    }
  {% endschema %}
  <section class="bg-[#FFFFFF]">
          <div class="max-w-full md:max-w-[1440px] mx-auto">
              <div class="bg-[#F2F3FF] py-[32px] md:w-[709px] md:px-[32px] mx-auto">
                  <div class="flex flex-col gap-[24px] md:gap-[32px]">
                      <div class="flex flex-col gap-[16px]">
                          <div class="bg-[#2F3A7C] w-[150px] py-[4px] mx-4 md:mx-0"></div>
                          <p class="font-myriadpro font-bold leading-[38px] md:leading-[48px] md:text-[42px] text-[34px] text-[#2F3A7C] text-left px-4 md:px-0">Why Akkermansia Makes Other Probiotics Obsolete…</p>
                      </div>
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0">
                          <span class="font-semibold italic">Akkermansia is a master probiotic.</span> It consumes large proteins found in the intestines and turns them into short-chain fatty acids, which are then used to fuel other strains of beneficial bacteria. In other words, <span class="font-semibold italic underline">it makes other probiotics obsolete.</span> 
                          <br/><br/>
                          The most eye opening study I came across found that Akkermansia secretes GLP-1, which boosts metabolism and reduces weight even when the animals are fed a high-fat diet! 
                      </p>
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/glp-1.png" class="w-full md:w-[489px] mx-auto" />
                      <div class="flex flex-row gap-[8px] items-center justify-start px-4 md:px-0">
                          <div class="bg-[#2F3A7C] w-[12px] self-stretch rounded-full"></div>
                          <div class="flex items-center justify-center bg-[#F8D0B0] bg-[linear-gradient(0deg,rgba(255,255,255,0.60)_0%,rgba(255,255,255,0.60)_100%),linear-gradient(0deg,#F79F45_0%,#F79F45_100%)] border border-[rgba(210,55,55,_0.50)]">
                              <p class="font-myriadpro p-[10px] text-[18px] md:text-[20px] text-black leading-[24px] md:leading-[normal]">👉🏽 As you probably realize, GLP-1 massively reduces cravings. That’s why <span class="font-semibold italic">Akkermansia is genuinely nature's Ozempic—but <i><u>without the nasty side effects.</u></i></span></p>
                          </div>
                      </div>
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0">
                          Now remember, not all Akkermansia is created equal. In a minute, I'll reveal the exact process we use and why it produces the best clinical effects, but first, let me show you how a few special ingredients boost Akkermansia's health-rejuvenating properties even more.
                      </p>
                  </div>
              </div>
              <div class="bg-[#F2F3FF] bg-[linear-gradient(0deg,#FDECDA_0%,#FDECDA_100%),linear-gradient(0deg,#E4E7FF_0%,#E4E7FF_100%)] py-[32px] md:w-[709px] md:px-[32px] mx-auto">
                  <div class="flex flex-col gap-[24px] md:gap-[32px]">
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/rectangle-498.png" class="w-full md:w-[500px] mx-auto hidden md:block" />
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/rectangle-498-mobile.png" class="w-full mx-auto block md:hidden" />
                      <p class="font-myriadpro text-[23px] md:text-[24px] leading-[32px] font-bold text-[#2F3A7C] md:px-0 px-4 leading-[normal] tracking-[-0.322px]">
                          Quercetin: Turning Off <br class="block md:hidden"/>Inflammation At The Genetic Level
                      </p>
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0">
                          First is Quercetin. A recent study showed that the synergistic combination of Akkermansia and Quercetin reverses obesity and fatty liver by improving the microbiome and increasing bile production.  
                          <br/><br/>
                          Again, it shows how <span class="font-semibold italic">Akkermansia is a master probiotic that restores the levels of other healthy probiotics - automatically.</span> Furthermore, it demonstrated that combining Akkermansia with Quercetin was far more powerful than Akkermansia alone.
                          <br/><br/>
                          And this cannot be overstated: <span class="font-semibold">Quercetin is a long-lasting anti-inflammatory that literally turns off inflammation at the genetic level.</span>
                          <br/><br/>
                          <span class="font-semibold">Quercetin is also a powerful liver protectant.</span> Multiple studies have demonstrated that it prevents fatty liver and damage from alcohol. It also reduces liver scarring.
                      </p>
                  </div>
              </div>
              <div class="bg-[linear-gradient(0deg,#F2F3FF_0%,#F2F3FF_100%),linear-gradient(0deg,rgba(255,255,255,0.80)_0%,rgba(255,255,255,0.80)_100%)] py-[32px] md:w-[709px] md:px-[32px] mx-auto">
                  <div class="flex flex-col gap-[16px]">
                      <div class="flex flex-col gap-[24px] md:gap-[32px]">
                          <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/heal-leaky-gut-img.png" class="w-full md:w-[500px] mx-auto hidden md:block" />
                          <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/heal-leaky-gut-img-mobile.png" class="w-full mx-auto block md:hidden" />
                          <p class="font-myriadpro text-[23px] md:text-[23px] leading-[32px] font-bold text-[#2F3A7C] md:px-0 px-4 leading-[normal] tracking-[-0.322px]">
                              Resveratrol: A Powerful Fat Burner That Will Also ‘Heal Leaky Gut’
                          </p>
                          <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0">
                              <span class="font-semibold">Next, I decided to add Resveratrol. </span>
                              <br/><br/>
                              <span class="font-semibold italic">Ever curious how the French indulge in rich, creamy cheeses yet maintain impressively low heart attack rates compared to the US and the UK?</span> The answer lies in Resveratrol, a powerful component of red wine that also has amazing rejuvenation effects on the liver.
                              <br/><br/>
                              Research in the lab has shown that <span class="font-semibold italic">Resveratrol not only blocks the formation of new fat cells</span> but also helps in melting excess fat and amplifies your body's fat-burning abilities. 
                          </p>
                      </div>
                      <div class="flex flex-col gap-[16px] items-start justify-start px-4 md:px-0">
                          <div class="flex flex-col md:flex-row gap-[16px]">
                              <div class="flex-1">
                                  <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/rectangle-521.png" class="w-full mx-auto md:w-[282px]" />
                              </div>
                              <div class="flex-1">
                                  <p class="font-myriadpro text-[18px] md:text-[20px] leading-[27px]">
                                      Resveratrol also pushes your liver to burn fat more efficiently through increased thermogenesis. It's as <span class="font-semibold italic">if it unlocks a <u>secret fat-burning superpower</u></span> you never knew existed.
                                      <br/><br/>
                                      Most importantly, Resveratrol plays a pivotal role in boosting bile production. Bile, our body's natural detox agent, ensures a smooth digestive process. <span class="font-semibold">It aids our liver in flushing out toxins and breaking down fats efficiently,</span> keeping our digestive system, and by extension, our liver, in prime condition.
                                  </p>
                              </div>
                          </div>
                          <p class="font-myriadpro text-[18px] md:text-[20px] leading-[27px]">
                              The best part is <span class="font-semibold">Resveratrol helps further repair leaky-gut</span> by restoring the gut barrier, and tightening the junctions between intestinal cells to prevent unwanted toxins from leaking into your bloodstream. 
                              <br/><br/>
                              When combined with Akkermansia the way that we did, <span class="font-semibold italic">it’s like a one-two punch for repairing leaky gut.</span>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="bg-[#F2F3FF] bg-[linear-gradient(0deg,#FDECDA_0%,#FDECDA_100%),linear-gradient(0deg,#E4E7FF_0%,#E4E7FF_100%)] py-[32px] md:w-[709px] md:px-[32px] mx-auto">
                  <div class="flex flex-col gap-[24px] md:gap-[32px]">
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/silymarin-treatment-for-liver.png" class="w-full md:w-[500px] mx-auto hidden md:block" />
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/silymarin-treatment-for-liver-mobile.png" class="w-full mx-auto block md:hidden" />
                      <p class="font-myriadpro text-[23px] md:text-[24px] leading-[32px] font-bold text-[#2F3A7C] md:px-0 px-4 leading-[normal] tracking-[-0.322px]">
                          Silymarin: The World’s Most <br class="block md:hidden"/>Powerful Non-Surgical Treatment <br class="block md:hidden"/>For Liver Damage
                      </p>
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0">
                          I also felt it was necessary to include Silymarin.  
                          <br/><br/>
                          This powerful polyphenol may enhance three available growth and healing factors including human growth factor (HGF), Transforming growth factor alpha(TGFα), and transforming growth factor beta 1(TGFβ1) to trigger liver regeneration, <span class="font-semibold">healing the liver from what might be a lifetime of abuse.</span>
                          <br/><br/>
                          Silymarin is currently one of the world's most effective non-surgical treatments for reversing liver damage. 
                          <br/><br/>
                          It has shown positive effects in healing nearly every known form of liver damage including drug and alcohol abuse. 
                          <br/><br/>
                          Many medical studies have shown that liver damage from alcohol, drugs, pesticides, environmental toxins, some poisons, and hepatitis can be prevented or repaired with silymarin extract.
                          <br/><br/>
                          “A systematic review of 5 clinical trials involving 602 patients with ALD and liver cirrhosis showed a <span class="font-semibold">57.8% reduction in liver-related deaths</span> in patients taking silymarin compared to placebo.”
                      </p>
                  </div>
              </div>
          </div>
      </section>