{% schema %}
    {
      "name": "Section 11",
      "settings": []
    }
  {% endschema %}
  <section style="background-position: left 70%;" class="bg-[url(https://cdn.shopify.com/s/files/1/0885/5581/5215/files/heart-beat-img.png),url('https://cdn.shopify.com/s/files/1/0885/5581/5215/files/bg-heart-img.png')] bg-[40%,cover] 2xl:bg-[20%,cover] bg-no-repeat">
          <div class="max-w-full md:max-w-[1440px] mx-auto">
              <div class="w-full md:w-[640px] mx-auto py-[32px]">
                  <div class="flex flex-col gap-[24px] md:gap-[32px]">
                      <div class="flex flex-col gap-[16px]">
                          <div class="bg-[#2F3A7C] w-[150px] py-[4px] mx-4 md:mx-0"></div>
                          <p class="font-myriadpro font-bold leading-[38px] md:leading-[48px] md:text-[42px] text-[34px] text-[#2F3A7C] text-left px-4 md:px-0">Even Ozempic Won’t Work Once This Happens</p>
                      </div>
                      <div class="flex flex-row gap-[8px] items-center justify-start px-4 md:px-0">
                          <div class="bg-[#2F3A7C] w-[12px] self-stretch rounded-full"></div>
                          <div class="flex items-center justify-center bg-[#F8D0B0] bg-[linear-gradient(0deg,rgba(255,255,255,0.60)_0%,rgba(255,255,255,0.60)_100%),linear-gradient(0deg,#F79F45_0%,#F79F45_100%)] border border-[rgba(210,55,55,_0.50)]">
                              <p class="font-myriadpro p-[10px] text-[18px] md:text-[20px] text-black leading-[24px] md:leading-[normal]">On the other hand, if this condition is allowed to continue for too long, the liver may stop being able to perform even essential functions. <span class="font-semibold">It becomes a fatty, lumpy mass laden with scar tissue and lesions. </span></p>
                          </div>
                      </div>
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[120%] px-4 md:px-0">
                          This explains why Ozempic, Zepbound, and dieting sometimes stop working.
                      </p>
                      <div class="flex flex-col md:flex-row gap-[16px] md:gap-[30px] items-start justify-start px-4 md:px-0">
                          <div class="flex-1">
                              <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/heart-ozempic-zepbund.png" class="w-full" />
                          </div>
                          <div class="flex-1">
                              <p class="font-myriadpro text-[18px] md:text-[20px] leading-[27px]">
                                  Interestingly, once the liver reaches this point, even coffee and energy drinks may no longer give you the boost they once did.
                                  <br/><br/>
                                  And because you’re no longer removing cholesterol from the bloodstream, researchers have discovered adults with fatty livers were a <span class="font-semibold italic">shocking 3.5 times more likely to have heart failure.</span>
                                  <br/><br/>
                                  By the time it reaches this point, without a liver transplant, <span class="font-semibold italic underline">death is inevitable.</span>
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>