{% schema %}
    {
      "name": "Section 19",
      "settings": []
    }
  {% endschema %}
  <section class="show-claim-button bg-[url(https://cdn.shopify.com/s/files/1/0885/5581/5215/files/detox.png)] bg-[left_center] bg-contain bg-no-repeat">
          <div class="max-w-full md:max-w-[1440px] mx-auto">
              <div class="py-[32px] md:w-[655px] mx-auto">
                  <div class="flex flex-col gap-[24px] md:gap-[32px]">
                      <div class="flex flex-col gap-[16px]">
                          <div class="bg-[#2F3A7C] w-[150px] py-[4px] mx-4 md:mx-0"></div>
                          <p class="font-myriadpro font-bold leading-[38px] md:leading-[48px] md:text-[42px] text-[34px] text-[#2F3A7C] text-left px-4 md:px-0">The Key To Full Body Detoxification</p>
                      </div>
                      <div class="flex flex-col md:flex-row gap-[16px] md:gap-[30px] items-start justify-start px-4 md:px-0">
                          <div class="flex-1">
                              <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/rectangle-489.png" class="w-full" />
                          </div>
                          <div class="flex-1">
                              <p class="font-myriadpro text-[18px] md:text-[20px] leading-[27px]">
                                  <span class="font-semibold">You’ll love the increase in energy and metabolism</span> and the freedom from liver-related symptoms such as bloating, indigestion, constipation and annoying cravings. 
                                  <br/><br/>
                                  Additionally, the detoxification and fat reduction from your liver will contribute to more efficient fat burning, better digestion, better cellular energy, dissolving stubborn body fat, <span class="font-semibold">improving confidence and comfort in your own body.</span>
                              </p>
                          </div>
                      </div>
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0">
                          And once your liver is fully rejuvenated, <span class="font-semibold italic">you’ll experience total body <u>detoxification</u>,</span> a deep cleanse that revitalizes your entire system.
                          <br/><br/>
                          Finally you’ll experience incredible daytime energy, improved mental clarity, clockwork digestion, deeper more restorative sleep, a brighter optimistic mood, and clear healthy skin that radiates a youthful glow. 
                          <br/><br/>
                          Since its introduction, <span class="font-semibold italic">Akka has improved the lives of thousands of people like you worldwide,</span> helping them achieve complete liver health, enjoy a flat tummy, vitality, and a renewed sense of hope.
                      </p>
                      <div class="mx-auto">
                          <a href="#claim-your-supply"><button class="w-auto md:w-[470px] rounded-full bg-[#485397] shadow-[0px_3px_2px_0px_#485397_inset,0px_10px_15px_0px_rgba(72,83,151,0.50)] px-[32px] md:px-[64px] py-[22px] text-[#FFFFFF] font-semibold leading-[normal] tracking-[0.4px] text-[18px] md:text-[20px] mx-4 md:mx-0">Experience YOUR Full Body Detox ></button></a>
                      </div>
                  </div>
              </div>
          </div>
      </section>