{% schema %}
    {
      "name": "Section 8",
      "settings": []
    }
  {% endschema %}
  
  <section class="bg-[linear-gradient(180deg,rgba(254,239,230,0.00)_62.88%,rgba(254,239,230,0.40)_77.28%,rgba(255,221,200,0.40)_108.35%),linear-gradient(180deg,rgba(254,239,230,0.00)_62.88%,#FEEFE6_77.28%,#FFDDC8_108.35%),linear-gradient(154deg,#FFF_44.45%,#E4E7FF_84.94%)]">
          <div class="max-w-full md:max-w-[1440px] mx-auto">
              <div class="py-[32px] md:w-[655px] mx-auto">
                  <div class="flex flex-col gap-[16px] md:gap-[26px]">
                      <div class="flex flex-col gap-[16px]">
                          <div class="bg-[#2F3A7C] w-[150px] py-[4px] mx-4 md:mx-0"></div>
                          <p class="font-myriadpro font-bold leading-[38px] md:leading-[48px] md:text-[42px] text-[34px] text-[#2F3A7C] text-left px-4 md:px-0">How Environmental Toxins And These 3 Silent Killers Clog The Liver</p>
                      </div>
                      <p class="text-black text-[18px] md:text-[20px] font-myriadpro px-4 md:px-0 leading-[normal]">
                          <span class="font-semibold">When the liver is overburdened with the 3 liver killers</span> - sugar, alcohol and trans fats, it begins to lose its ability to process the food you eat, and also <span class="font-semibold italic">stops dissolving fat and turning it into energy.</span>
                          <br/><br/>
                          Understandably, this slows your body's natural detoxification process and leads to difficulty losing body fat and daytime fatigue.
                          <br/><br/>
                          Your gallbladder—a tiny but critical part of your liver—stores bile, which helps digest fats in the small intestine. 
                      </p>
                      <div class="flex flex-row gap-[8px] items-center justify-start px-4 md:px-0">
                          <div class="bg-[#2F3A7C] w-[4px] self-stretch rounded-full"></div>
                          <div class="flex items-center justify-center bg-[#F8D0B0] bg-[linear-gradient(0deg,rgba(255,255,255,0.60)_0%,rgba(255,255,255,0.60)_100%),linear-gradient(0deg,#F79F45_0%,#F79F45_100%)] border border-[rgba(210,55,55,_0.50)]">
                              <p class="font-myriadpro p-[10px] text-[18px] md:text-[20px] text-black font-semibold leading-[24px] md:leading-[normal] italic">👉🏽 Once toxins overwhelm your liver, the bile becomes thick and can’t be expelled.</p>
                          </div>
                      </div>
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[normal] px-4 md:px-0">
                          Bile ducts become clogged, and bile can no longer reach the intestines to break down fat and metabolize them.
                      </p>
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/silent-killers-clog-img-mobile.png" class="w-[269px] mx-auto md:hidden block">
                  </div>
              </div>
              <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/silent-killers-clog-img.png" class="md:w-[1000px] mx-auto md:block hidden">
          </div>
      </section>