{% schema %}
    {
      "name": "Section 13",
      "settings": []
    }
  {% endschema %}
  <section style="background-position: 
              right bottom,
              left bottom 6%,
              left top 2%,
              left bottom 35%,
              right top 20%,
              right top 40%;" 
          class="
              md:bg-[auto,contain,auto,auto,auto,auto]
              md:bg-[url(https://cdn.shopify.com/s/files/1/0885/5581/5215/files/section-13-bg-a.png),url(https://cdn.shopify.com/s/files/1/0885/5581/5215/files/vector-225.png),url(https://cdn.shopify.com/s/files/1/0885/5581/5215/files/section-13-1-img.png),url(https://cdn.shopify.com/s/files/1/0885/5581/5215/files/section-13-2-img.png),url(https://cdn.shopify.com/s/files/1/0885/5581/5215/files/section-13-3-img.png),url(https://cdn.shopify.com/s/files/1/0885/5581/5215/files/section-13-4-img.png),linear-gradient(0deg,rgba(255,255,255,0.50)_0%,rgba(255,255,255,0.50)_100%),linear-gradient(0deg,#E4E7FF_0%,#E4E7FF_100%),linear-gradient(0deg,#3747AC_0%,#3747AC_100%),linear-gradient(0deg,rgba(255,255,255,0.80)_0%,rgba(255,255,255,0.80)_100%)] 
              bg-[linear-gradient(0deg,rgba(255,255,255,0.50)_0%,rgba(255,255,255,0.50)_100%),linear-gradient(0deg,#E4E7FF_0%,#E4E7FF_100%),linear-gradient(0deg,#3747AC_0%,#3747AC_100%),linear-gradient(0deg,rgba(255,255,255,0.80)_0%,rgba(255,255,255,0.80)_100%)] 
              bg-no-repeat"
          >
          <div class="max-w-full md:max-w-[1440px] mx-auto">
              <div class="py-[32px] md:w-[640px] mx-auto">
                  <div class="flex flex-col gap-[24px] md:gap-[32px]">
                      <div class="flex flex-col gap-[16px]">
                          <div class="bg-[#2F3A7C] w-[150px] py-[4px] mx-4 md:mx-0"></div>
                          <p class="font-myriadpro font-bold leading-[38px] md:leading-[48px] md:text-[42px] text-[34px] text-[#2F3A7C] text-left px-4 md:px-0">Akkermansia: The Holy Grail of Liver and Metabolic Health</p>
                      </div>
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/section-13-metabolic-img.png" class="w-full md:w-[489px] mx-auto" />
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0">
                          In my microbiome research, the same name kept coming up over and over again: <span class="bg-[#FFEC70] py-2 md:py-1 font-semibold">a newly discovered superbiotic called <u>Akkermansia.</u></span>
                          <br/><br/>
                          It’s a naturally occurring part of most people’s gut flora, but due to environmental toxins, poor lifestyle habits, antibiotic use, and almost everything peddled by big pharma, it's critically low in many people.
                      </p>
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0">
                          Now, the first study that caught my attention showed that people with diabetes had lower levels of Akkermansia in their gut. Not surprisingly, this <span class="font-semibold">low Akkermansia was also connected with obesity.</span>
                      </p>
                      <div class="flex flex-row gap-[8px] items-center justify-start px-4 md:px-0">
                          <div class="bg-[#2F3A7C] w-[12px] self-stretch rounded-full"></div>
                          <div class="flex items-center justify-center bg-[#F8D0B0] bg-[linear-gradient(0deg,rgba(255,255,255,0.60)_0%,rgba(255,255,255,0.60)_100%),linear-gradient(0deg,#F79F45_0%,#F79F45_100%)] border border-[rgba(210,55,55,_0.50)]">
                              <p class="font-myriadpro p-[10px] text-[18px] md:text-[20px] text-black leading-[24px] md:leading-[normal]">In fact, several studies have proven that Akkermansia is found in much lower quantities in obese mammals - <span class="font-semibold">3,300 times less to be exact.</span></p>
                          </div>
                      </div>
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0">
                          The next eye-opening study was performed by Duke School of Medicine and was about cardiovascular disease. 
                          <br/><br/>
                          It revealed that <span class="font-semibold">people with <u>heart disease</u> were found to also have low levels of Akkermansia.</span>
                          <br/><br/>
                          <span class="font-semibold">👉🏽  Finally, I found the holy grail of my crusade.</span> It was a study specifically about liver degeneration and how <span class="font-semibold italic">Akkermansia reverses it in nearly every way, even by decreasing triglycerides.</span> 
                      </p>
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/section-13-ipad-img.png" class="w-full" />
                  </div>
              </div>
          </div>
      </section>