{% schema %}
    {
      "name": "Section 10",
      "settings": []
    }
  {% endschema %}
  <section class="bg-[#FDECDA] bg-[linear-gradient(0deg,#F7F6F4_0%,#F7F6F4_100%),linear-gradient(0deg,#E4E7FF_0%,#E4E7FF_100%)]">
          <div class="max-w-full md:max-w-[1440px] mx-auto">
              <div class="py-[32px] md:w-[660px] mx-auto">
                  <div class="flex flex-col gap-[16px]">
                      <div class="bg-[#2F3A7C] w-[150px] py-[4px] mx-4 md:mx-0"></div>
                      <p class="font-myriadpro font-bold leading-[38px] md:leading-[48px] md:text-[42px] text-[34px] text-[#2F3A7C] text-left px-4 md:px-0">Eventually The Liver Can No Longer Filter Out Your Body’s Toxins…</p>
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/liver-sos-img.png" class="w-full md:w-[489px] mx-auto" />
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0">
                          <span class="font-semibold">Once the liver’s function is impaired, it causes the bloodstream to become saturated with harmful chemicals from food, drugs, or the environment.</span>
                          <br/><br/>
                          <span class="italic">It also ceases to remove cholesterol and excess sugar from your blood, increasing the risk for both heart disease and diabetes.</span>
                          <br/><br/>
                          It can also affect the chemical process of your thyroid gland, which regulates the hormones that increase or decrease your metabolism, <span class="bg-[#FFEC70] py-2 md:py-1 font-semibold underline leading-[30px]">amplifying weight gain even further.</span>
                          <br/><br/>
                          At this point, you'll experience a loss in brain function and even brain shrinkage. <span class="italic font-semibold">People at this stage feel tired all day long, and lose interest in activities that they used to enjoy. </span>
                          <br/><br/>
                          It's really sad when this happens but fortunately, as you'll find out in a minute — <span class="italic font-semibold">the liver is the only organ that can regenerate itself.</span>
                      </p>
                  </div>
              </div>
          </div>
      </section>