{% schema %}
    {
      "name": "Section 17",
      "settings": []
    }
  {% endschema %}
  <section style="background-position: 
              left bottom -26%;"
          class="
              md:bg-[contain,auto] 
              md:bg-[url(https://cdn.shopify.com/s/files/1/0885/5581/5215/files/vector-225.png),linear-gradient(to_right,#E4E7FF,#E4E7FF)] 
              bg-[#E4E7FF]
              bg-no-repeat"
          >
          <div class="max-w-full md:max-w-[1440px] mx-auto">
              <div class="max-w-full md:max-w-[1440px] mx-auto">
                  <div class="flex md:flex-row flex-col items-start justify-center md:gap-[64px]">
                      <div class="flex justify-center items-start w-full md:w-[547px] flex-col md:py-[40px]">
                          <div class="hidden xl:flex flex-col w-[471px]">
                              <p class="font-semibold text-[#2F3A7C] md:text-[32px] text-[24px] leading-[normal] tracking-[-0.32px]">Introducing</p>
                              <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/akka-text.png" class="w-full">
                              <p class="font-semibold text-[#2F3A7C] md:text-[32px] text-[24px] leading-[normal] tracking-[-0.32px]">The World's First Superbiotic and Total Liver Rejuvenator</p>
                          </div>
                          <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/akka-img-female-bg-mobile.png" class="block xl:hidden"/>
                          <div class="flex flex-col md:gap-[32px] gap-[24px] md:mb-0 mb-[32px]">
                              <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/seal-content.png" class="w-full md:w-[400px] md:mt-[32px] mt-[10px] px-4 md:px-0"/>
                              <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0">
                                  Akka synergistically combines the world's most well-researched and clinically proven liver-rejuvenating ingredients, meticulously chosen to detoxify the liver, clear out bile ducts, and eliminate excess fat.
                                  <br/><br/>
                                  <span class="font-semibold italic">Akka gives you "Total Liver Rejuvenation",</span> even if you’ve struggled with a sluggish liver, fatigue, or stubborn belly fat for years.
                                  <br/><br/>
                                  Akka's 3-step liver-revitalizing process begins by cleansing your liver of toxins and excess fat that might be clogging your bile ducts.  Restoring the healthy flow of bile, which is crucial for digesting fats and detoxifying the body.
                                  <br/><br/>
                                  <span class="font-semibold italic bg-[#FFEC70] py-1 leading-[26px] md:leading-[30px]">Then, Akka regenerates liver cells and begins repairing scar tissue, winding back the clock on liver degradation.</span>
                                  <br/><br/>
                                  Lastly, Akka supports the restoration of your liver's natural ability to filter and detoxify the blood, removing harmful toxins and improving overall liver function. 
                              </p>
                              <a href="#claim-your-supply"><button class="w-auto md:w-[460px] rounded-full bg-[#485397] shadow-[0px_3px_2px_0px_#485397_inset,0px_10px_15px_0px_rgba(72,83,151,0.50)] px-[32px] md:px-[64px] py-[22px] text-[#FFFFFF] font-semibold leading-[normal] md:tracking-[0.4px] text-[18px] md:text-[20px] mx-4 md:mx-0">Claim Your Supply of Akka Today ></button></a>
                          </div>
                      </div>
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/akka-img-female-bg.png" class="hidden xl:block w-[32%] self-end"/>
                  </div>
              </div>
          </div>
      </section>