{% schema %}
    {
      "name": "Section 3",
      "settings": []
    }
  {% endschema %}
  
  <section class="bg-[#FF883C] bg-[linear-gradient(0deg,#E4E7FF_0%,#E4E7FF_100%),linear-gradient(0deg,#F79F45_0%,#F79F45_100%),linear-gradient(0deg,rgba(255,255,255,0.90)_0%,rgba(255,255,255,0.90)_100%)]">
          <div class="max-w-full md:max-w-[1440px] mx-auto">
              <div class="py-[32px] md:w-[646px] mx-auto">
                  <div class="flex flex-col gap-[16px]">
                      <div class="bg-[#2F3A7C] w-[150px] py-[4px] mx-4 md:mx-0"></div>
                      <p class="font-myriadpro font-bold leading-[38px] md:leading-[48px] md:text-[42px] text-[34px] text-[#2F3A7C] text-left px-4 md:px-0">Surprising Signs Your Liver Might Be Overwhelmed</p>
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/liver.png" class="w-full md:w-[489px] mx-auto" />
                      <p class="text-black text-[18px] md:text-[20px] font-myriadpro px-4 md:px-0 leading-[normal]">
                          Believe me, this isn't a problem to ignore; because when your liver is overwhelmed, it affects nearly every part of your body, leading to issues like <span class="bg-[#FFEC70] py-2 md:py-1 italic font-semibold leading-[30px]">extremely hard-to-burn-off body fat, daytime fatigue, headaches, dark puffy bags under the eyes, and itchy skin, and even rosacea.</span>
                      </p>
                      <div class="flex flex-row gap-[8px] items-center justify-center px-4 md:px-0">
                          <div class="bg-[#2F3A7C] w-[14px] self-stretch rounded-full"></div>
                          <div class="flex items-center justify-center bg-[#F8D0B0] bg-[linear-gradient(0deg,rgba(255,255,255,0.60)_0%,rgba(255,255,255,0.60)_100%),linear-gradient(0deg,#F79F45_0%,#F79F45_100%)]">
                              <p class="font-myriadpro p-[10px] text-[18px] md:text-[20px] text-black leading-[24px] md:leading-[normal]"><span class="font-semibold italic">The worst part is, if this goes unaddressed, it causes toxic accumulation and damage to nearly every cell, organ, and tissue inside your body.</span> Not to mention the mental and emotional drain on your well-being and confidence.</p>
                          </div>
                      </div>
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[normal] px-4 md:px-0">
                          <span class="font-semibold">A healthy liver is an absolute powerhouse for metabolizing fat.</span> But when it's overburdened with filtering out too many toxins, it can't do its job right. 
                          <br/><br/>
                          This explains why sudden weight gain can sometimes happen immediately after exposure to hazardous substances or high-stress events. 
                          <br/><br/>
                          When your body becomes too toxic, you’ll likely experience brain fog, muscle loss, dull taste or smell, ringing in the ears, allergies, food intolerances, excess body odor, mood swings, anxiety, depression, constipation, itchy skin, and even lack of focus and poor concentration.  
                      </p>
                  </div>
              </div>
          </div>
      </section>