{% schema %}
    {
      "name": "Section 30",
      "settings": []
    }
  {% endschema %}
  <section style="background-position: left bottom 38%, right bottom, left bottom;" class="bg-[#E4E7FF] bg-[linear-gradient(0deg,#E7E9FD_0%,#E7E9FD_100%)] md:bg-[url(https://cdn.shopify.com/s/files/1/0885/5581/5215/files/bg-a-bottom-left.png),url(https://cdn.shopify.com/s/files/1/0885/5581/5215/files/bg-a-bottom-right.png),url(https://cdn.shopify.com/s/files/1/0885/5581/5215/files/vector-225.png),linear-gradient(0deg,#E7E9FD_0%,#E7E9FD_100%)] bg-no-repeat bg-[100%,100%] md:bg-[20rem,17rem,100%,100%]">
          <div class="max-w-full md:max-w-[1440px] mx-auto pb-[32px]">
              <div class="py-[32px] md:w-[660px] mx-auto">
                  <div class="flex flex-col gap-[24px] md:gap-[32px]">
                      <div class="flex flex-col gap-[16px]">
                          <div class="bg-[#2F3A7C] w-[150px] py-[4px] mx-4 md:mx-0"></div>
                          <p class="font-myriadpro font-bold leading-[38px] md:leading-[48px] md:text-[42px] text-[34px] text-[#2F3A7C] text-left px-4 md:px-0">Enjoy The Skinny Liver Cookbook, Yours Free With Any Multipack Order</p>
                      </div>
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/skinny-liver-img.png" class="w-full hidden md:block" />
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/skinny-liver-img-mobile.png" class="w-full block md:hidden" />
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0">
                          When you select a <span class="font-semibold italic">3 or 6 multipack,</span> you'll gain instant access to our transformative guide, the <span class="font-semibold italic">"Skinny Liver Cookbook: Delicious Recipes to Help Detoxify and Slim Your Liver".</span>
                          <br/><br/>
                          This resource introduces simple, natural strategies to boost liver function and promote weight loss, requiring only minutes of the day.
                          <br/><br/>
                          Immerse yourself in our <span class="font-semibold">“Lean Liver” meal plan,</span> which features a collection of liver-friendly, mouthwatering meals and easy-to-follow recipes that are sure to become family favorites.
                      </p>
                      <div class="flex flex-col gap-[24px] md:gap-[8px]">
                          <div class="flex md:flex-row flex-col md:pt-0 gap-[16px] md:gap-[30px] items-center justify-center">
                              <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/skinny-liver-1.png" class="w-[139px]" />
                              <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0 md:pb-0 pb-[24px]">Discover our <span class="font-semibold italic">Citrus-Poached Salmon recipe.</span> In this recipe, omega-3-rich salmon meets the detoxifying powers of citrus, offering a delicious approach to reducing inflammation and aiding liver health.</p>
                          </div>
                          <div class="flex md:flex-row flex-col md:pt-0 gap-[16px] md:gap-[30px] items-center justify-center">
                              <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/skinny-liver-2.png" class="w-[139px]" />
                              <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0 md:pb-0 pb-[24px]">Experience the flavors of <span class="font-semibold italic">Savory Turmeric Chicken,</span> a dish that harnesses the anti-inflammatory benefits of turmeric in a savory, lean protein meal that supports liver wellness.</p>
                          </div>
                          <div class="flex md:flex-row flex-col md:pt-0 gap-[16px] md:gap-[30px] items-center justify-center">
                              <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/skinny-liver-3.png" class="w-[139px]" />
                              <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0 md:pb-0 pb-[24px]">Try our <span class="font-semibold italic">Almond-Crusted Cod with Cauliflower Rice,</span> where the almond adds texture and healthy fats, and the cauliflower rice offers a low-carb alternative that aids liver detoxification, keeping the meal light yet nourishing.</p>
                          </div>
                      </div>
                      <p class="font-myriadpro text-[18px] md:text-[20px] leading-[24px] md:leading-[27px] px-4 md:px-0">
                          <span class="font-semibold italic">Normally valued at $39.95</span> on our website, the <span class="font-semibold italic">"Skinny Liver Cookbook"</span> is included at no additional cost as part of the Akka system, offering you a comprehensive approach to liver health.
                      </p>
                      <div class="mx-auto">
                          <a href="#claim-your-supply"><button class="w-auto md:w-[505px] rounded-full bg-[#485397] shadow-[0px_3px_2px_0px_#485397_inset,0px_10px_15px_0px_rgba(72,83,151,0.50)] px-[32px] md:px-[64px] py-[22px] text-[#FFFFFF] font-semibold leading-[normal] tracking-[0.4px] text-[18px] md:text-[20px] mx-4 md:mx-0">Claim Your Skinny Liver Today ></button></a>
                      </div>
                  </div>
              </div>
              <div class="md:w-[735px] mx-4 !mx-auto px-4 md:px-0">
                  <div class="max-w-full md:max-w-[1440px] mx-auto pb-[32px]">
                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/seal.png" class="w-[140px] block md:hidden mx-auto" />
                      <div class="flex flex-col md:w-[703px] mx-auto bg-[url(https://cdn.shopify.com/s/files/1/0885/5581/5215/files/guaranteed-shadow.png)] bg-[100%,100%] bg-no-repeat pb-[0.4rem] mt-[4rem] relative">   
                          <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/your-order-today-is-100-guaranteed.png" class="w-[651px] mt-[-3.8rem] absolute left-0 right-0 mx-auto hidden md:block"/>
                          <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/your-order-today-is-100-guaranteed-mobile.png" class="w-[337px] mt-[-3.3rem] absolute left-0 right-0 mx-auto block md:hidden"/>
                          <div class="bg-[#FFFFFF] md:p-4 p-2">
                              <div style="background-size: 100% 100%;" class="bg-[url(https://cdn.shopify.com/s/files/1/0885/5581/5215/files/frame-bg.png)] bg-no-repeat pb-[32px] px-4 md:px-8 mx-auto flex flex-col gap-[27px] h-fit">
                                  <p class="font-myriadpro leading-[24px] md:leading-[27px] md:text-[20px] text-[18px] text-left mt-[4rem] md:mt-[7rem]">
                                      And to ensure absolutely nothing stands in your way from ordering today...
                                  </p>
                                  <div class="flex md:flex-row flex-col items-center justify-center gap-[18px]">
                                      <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/like-thumb.png" class="w-[55px]" />
                                      <p class="font-myriadpro leading-[24px] md:leading-[27px] md:text-[20px] text-[18px] text-left italic font-semibold tracking-[1px]">
                                          <span class="bg-[#FFEC70] py-1">Your investment is 100% protected by our <u>ironclad</u>, 90-day transformation guarantee.</span>
                                      </p>
                                  </div>
                                  <p class="font-myriadpro leading-[24px] md:leading-[27px] md:text-[20px] text-[18px] text-left">
                                      What this means is, whether <span class="font-semibold italic">you choose one bottle or <u>six...</u></span>
                                      <br/><br/>
                                      If you don’t feel an improvement in your liver function if you don’t notice a reduction in fatigue, sluggishness, or other symptoms related to liver toxicity...
                                      <br/><br/>
                                      If you don’t <span class="font-semibold italic">see the pounds melt off,</span> or feel generally healthier and more vibrant...
                                      <br/><br/>
                                      Simply give us a call within the next 90 days, and we will refund every penny you paid today. <span class="font-semibold italic">No questions asked, no hassle, no hard feelings.</span>
                                      <br/><br/>
                                      <span class="font-semibold italic underline">It’s that easy.</span>
                                      <br/><br/>
                                      <span class="font-semibold italic">And this is undoubtedly <u>an offer too good to pass up.</u></span>
                                  </p>
                                  <div class="mx-auto">
                                      <a href="#claim-your-supply"><button class="w-auto md:w-[505px] rounded-full bg-[#485397] shadow-[0px_3px_2px_0px_#485397_inset,0px_10px_15px_0px_rgba(72,83,151,0.50)] px-[32px] md:px-[64px] py-[22px] text-[#FFFFFF] font-semibold leading-[normal] md:tracking-[0.4px] text-[18px] md:text-[20px]">Try Akka 100% Guaranteed ></button></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>