<section class="md:max-w-[1440px] mx-auto py-[30px] px-[16px]" id="loox-review">
    <h2 class="font-helveticaneue text-[#3E488B] md:text-[42px] text-[32px] font-normal leading-[120%] capitalize text-center mb-[24px]">Reviews</h2>
    <div class="min-h-[200px]">
      <div id="looxReviews" data-product-id="10212706615599" class="loox-reviews-default" data-sort-by="featured"></div>
    </div>
</section>
{% schema %}
  {
    "name": "Product Reviews",
    "settings": []
  }
{% endschema %}