{% schema %}
    {
      "name": "section 1",
      "settings": []
    }
  {% endschema %}
  
  <section style="background-position: left 0% top 8%" class="
    w-full 
    bg-no-repeat 
    bg-[linear-gradient(100deg,rgba(254,239,230,0.00)_71.22%,rgba(158,158,158,0.40)_108.21%),linear-gradient(180deg,rgba(254,239,230,0.00)_62.88%,rgba(254,239,230,0.40)_77.28%,rgba(255,221,200,0.40)_108.35%),linear-gradient(180deg,rgba(254,239,230,0.00)_62.88%,#FEEFE6_77.28%,#FFDDC8_108.35%),linear-gradient(137deg,#FFF_-19.79%,#E4E7FF_77.24%),linear-gradient(0deg,rgba(255,255,255,0.88)_0%,rgba(255,255,255,0.88)_100%),linear-gradient(300deg,#E65A00_31%,#FF9A50_103.42%)]
    xl:bg-[url(https://cdn.shopify.com/s/files/1/0885/5581/5215/files/bg-a.svg),linear-gradient(100deg,rgba(254,239,230,0.00)_71.22%,rgba(158,158,158,0.40)_108.21%),linear-gradient(180deg,rgba(254,239,230,0.00)_62.88%,rgba(254,239,230,0.40)_77.28%,rgba(255,221,200,0.40)_108.35%),linear-gradient(180deg,rgba(254,239,230,0.00)_62.88%,#FEEFE6_77.28%,#FFDDC8_108.35%),linear-gradient(137deg,#FFF_-19.79%,#E4E7FF_77.24%),linear-gradient(0deg,rgba(255,255,255,0.88)_0%,rgba(255,255,255,0.88)_100%),linear-gradient(300deg,#E65A00_31%,#FF9A50_103.42%)]"
    >
    <div class="max-w-full md:max-w-[1440px] mx-auto">
        <div class="flex md:flex-row flex-col items-start justify-center">
            <div class="flex justify-center items-start w-full md:w-[500px] flex-col xl:ml-[4rem]">
                <div class="pt-[64px] pb-[32px] md:pt-[60px] md:pb-[60px] flex gap-[16px] md:gap-[32px] flex-col ">
                    <p class="md:text-left text-center font-bold text-[49px] md:text-[70px] text-[#C50000] leading-[60px] tracking-[-1.4px] font-myriadpro">
                        Is Your Liver <br class="block md:hidden"/>Making You Fat?
                        <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/phto.png" class="block xl:hidden w-full mx-auto"/>
                    </p>
                    <p class="text-[18px] md:text-[20px] font-myriadpro md:w-[474px] w-full px-4 md:px-0 leading-[normal]">
                        <span class="font-semibold">Leading New York City gut doctor Dr. Gina Sam M.D. has discovered a new way to heal the liver, melt stubborn belly fat, and skyrocket your energy, by reversing decades of liver damage.</span><br/><br/>
                        <span class="italic">It involves a newly discovered ‘Superbiotic’ missing from diabetics, cardiac patients, and the obese</span><br/><br/>
                        <span class="font-semibold">A Healthy Liver Detoxifies The Body, Removes Cholesterol and Excess Sugar From The Blood, and Burns Body Fat</span>
                    </p>
                    <div class="md:w-[392px] w-full flex gap-[4px] flex-col px-4 md:px-0">
                        <div class="flex flex-row gap-[8px] py-[4px] items-center justify-start border-b-[1px] border-b-[#4B569D]">
                            <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/icon.png" class="w-[50px]" />
                            <p class="font-myriadpro text-[16px] leading-[120%] tracking-[-0.16px] font-semibold text-[#4B569D]">
                                Your liver is under constant attack from environmental toxins, Tylenol and ibuprofen, prescription drugs, sugar, alcohol, and trans fats
                            </p>
                        </div>
                        <div class="flex flex-row gap-[8px] py-[4px] items-center justify-start border-b-[1px] border-b-[#4B569D]">
                            <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/10-15-lb.png" class="w-[50px]" />
                            <p class="font-myriadpro text-[16px] leading-[120%] tracking-[-0.16px] font-semibold text-[#4B569D]">
                                Shed up to 7-15 pounds of visceral fat build-up that’s strangling and clogging your liver and internal organs.
                            </p>
                        </div>
                        <div class="flex flex-row gap-[8px] py-[4px] items-center justify-start border-b-[1px] border-b-[#4B569D]">
                            <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/bandage.png" class="w-[50px]" />
                            <p class="font-myriadpro text-[16px] leading-[120%] tracking-[-0.16px] font-semibold text-[#4B569D]">
                                Undo decades of damage from burgers... booze... and prescription drugs
                            </p>
                        </div>
                        <div class="flex flex-row gap-[8px] py-[4px] items-center justify-start border-b-[1px] border-b-[#4B569D]">
                            <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/7-sec.svg" class="w-[50px]" />
                            <p class="font-myriadpro text-[16px] leading-[120%] tracking-[-0.16px] font-semibold text-[#4B569D]">
                                Read below to discover Dr. Gina Sam’s 7-second Liver Cleansing Ritual
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/phto.png" class="hidden xl:block w-[60%] self-end"/>
        </div>
    </div>
  </section>