{% schema %}
    {
      "name": "Section 2",
      "settings": []
    }
  {% endschema %}
  <section class="max-w-full md:max-w-[1440px] mx-auto">
          <div class="w-full md:w-[646px] mx-auto py-[32px]">
              <div class="flex flex-col gap-[16px]">
                  <div class="bg-[#2F3A7C] w-[150px] py-[4px] mx-4 md:mx-0"></div>
                  <p class="font-myriadpro font-bold leading-[38px] md:leading-[48px] md:text-[42px] text-[34px] text-[#2F3A7C] text-left px-4 md:px-0">Meet Dr. Gina Sam:<br/>NYC’s Leading Gut Doctor and <br class="hidden md:block"/>Metabolic Health Expert</p>
                  <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/gina-sam-desktop.png" class="w-full" />
                  <p class="text-black text-[18px] md:text-[20px] font-myriadpro px-4 md:px-0 leading-[normal]">
                      <span class="font-semibold">Hi there, I'm Dr. Gina Sam, M.D., and as the leading gut doctor in New York City, I’m here to talk about your liver.</span><br/><br/>
                      Because as your primary fat-burning organ, it might be the reason why stubborn belly fat has become nearly impossible to lose.
                  </p>
                  <div class="flex flex-row gap-[8px] items-center justify-center px-4 md:px-0">
                      <div class="bg-[#2F3A7C] w-[8px] self-stretch rounded-full"></div>
                      <div class="md:h-[68px] flex items-center justify-center bg-[#F8D0B0] bg-[linear-gradient(0deg,rgba(255,255,255,0.60)_0%,rgba(255,255,255,0.60)_100%),linear-gradient(0deg,#F79F45_0%,#F79F45_100%)]">
                          <p class="font-myriadpro p-[10px] text-[18px] md:text-[20px] text-black font-semibold leading-[24px] md:leading-[normal]">When your liver is weak, no diet, exercise, or even fancy GLP-1 drugs like Ozempic or Zepbound will work for you.</p>
                      </div>
                  </div>
                  <p class="font-myriadpro text-[18px] md:text-[20px] leading-[normal] px-4 md:px-0">
                      <span class="font-semibold">Now, when the liver stops working at its full capacity, it stops clearing out cholesterol and excess blood sugar as well,</span> causing muscle loss, fatigue, diabetes, obesity, swollen legs, ankles, and even cardiovascular disease.<br/>
                      I'm here to tell you why turning to quick fixes for weight loss, like extreme crash diets, or trendy new drugs are not the way to go. <span class="font-semibold italic">I’ve seen the side effects and they are frightening.</span>
                  </p>
              </div>
          </div>
      </section>