{% schema %}
    {
      "name": "Section 4",
      "settings": []
    }
  {% endschema %}
  
  <section class="max-w-full md:max-w-[1440px] mx-auto">
          <div class="w-full md:w-[646px] mx-auto py-[32px]">
              <div class="flex flex-col gap-[16px] md:gap-[26px]">
                  <div class="flex flex-col gap-[16px]">
                      <div class="bg-[#2F3A7C] w-[150px] py-[4px] mx-4 md:mx-0"></div>
                      <p class="font-myriadpro font-bold leading-[36px] md:leading-[48px] md:text-[42px] text-[34px] text-[#2F3A7C] text-left px-4 md:px-0">This One Factor Will Predict Obesity <br class="block md:hidden" />Every Time</p>
                  </div>
                  <p class="text-black text-[18px] md:text-[20px] font-myriadpro px-4 md:px-0 leading-[normal]">
                      My journey started at Tufts University School of Medicine.  After getting my medical degree, <span class="font-semibold">I served as the director of the Mount Sinai Gastrointestinal Motility Center for several years.</span>
                  </p>
                  <div class="flex flex-col md:flex-row gap-[16px] md:gap-[30px] items-start justify-start px-4 md:px-0">
                      <div class="flex-1">
                          <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/img-obesity-every-time.png" class="w-full" />
                      </div>
                      <div class="flex-1">
                          <p class="font-myriadpro text-[18px] md:text-[20px] leading-[normal]">
                              After many late nights reviewing studies, I very quickly rose to the top of my field. Eventually, I founded The Institute of Gastrointestinal Motility Disorders and Integrative Health right here in NYC to help the most desperate patients.
                              <br/><br/>
                              My team was focused on helping people fix their digestion, gut microbiome, and metabolic disorders using the latest medical breakthroughs and procedures.
                              <br/><br/>
                              <span class="bg-[#FFEC70] py-2 md:py-1 font-semibold italic leading-[30px]">During that time, I observed a remarkable phenomenon.</span>
                          </p>
                      </div>
                  </div>
                  <p class="font-myriadpro text-[18px] md:text-[20px] leading-[normal] px-4 md:px-0">
                      In my over 20 years of clinical practice, I’ve observed over and over patients who stay thin without needing to exercise and can eat anything they want.
                      <br/><br/>
                      Yet, others seem to continue gaining weight, no matter what they try.
                      <br/><br/>
                      <span class="bg-[#FFEC70] py-2 font-semibold">And guess what, it’s NOT simply genetics.</span>
                      <br/><br/>
                      The difference is found in the liver.
                  </p>
              </div>
          </div>
      </section>