<footer class="bg-[linear-gradient(137deg,rgba(255,255,255,0.80)_-19.79%,rgba(228,231,255,0.80)_77.24%)] bg-[#fff]">
    <div class="md:max-w-[1440px] mx-auto md:py-[60px] py-[50px] md:px-[40px] px-[20px]">
        <div class="flex flex-col md:gap-[72px] gap-[50px]">
            <div class="flex lg:flex-row flex-col lg:gap-0 gap-[50px] md:justify-between">
                <div class="flex flex-col lg:w-[603px] w-full">
                    <img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/akka-logo-blue.png" class="md:w-[189px] w-[149px] mb-[32px] lg:mx-0 mx-auto" />
                    <div class="newsletter md:border border-solid border-[#485397] rounded-[50px] md:flex">
                        <input type="email" id="email-input" placeholder="Enter Your Email" class="
                            md:w-[67.85%] w-full bg-transparent md:border-0 border border-solid border-[#485397] rounded-[50px] 
                            md:py-[20px] md:px-[24px] p-[16px] md:mb-0 mb-[10px] 
                            placeholder:text-[#485397] md:placeholder:text-[22px] placeholder:text-[17px] placeholder:font-normal 
                            font-helveticaneue text-[#485397] md:text-[22px] text-[17px] font-normal
                            outline-0 shadow-none" onkeypress="handleKeyPress(event)" />
                        <div class="md:w-[32.15%] w-full">
                            <button onclick="submitEmail()" class="w-full md:h-full h-auto text-white bg-[#485397] md:py-[15px] py-[18px] md:px-[20px] px-[45px] rounded-[50px] md:text-[20px] text-[16px] font-helveticaneue">Sign Me Up!</button>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col md:w-[204px] w-full">
                    <div class="details md:text-left text-center md:mb-[24px] mb-[18px]">
                        <h4 class="font-helveticaneue text-[#485397] text-[17px] font-medium leading-[145%]">Customer Service</h4>
                        <ul>
                            <li><a href="mailto:hello@tryakka.com" class="font-helveticaneue text-[#485397] text-[16px] leading-[170%] tracking-[0.16px] no-underline">hello@tryakka.com</a></li>
                            <li><a href="tel:1-844-808-2552" class="font-helveticaneue text-[#485397] text-[16px] leading-[170%] tracking-[0.16px] no-underline">1-844-808-AKKA(2552)</a></li>
                            <li class="font-helveticaneue text-[#485397] text-[16px] leading-[170%] tracking-[0.16px]">100 Matawan Road #1022</li>
                            <li class="font-helveticaneue text-[#485397] text-[16px] leading-[170%] tracking-[0.16px]">Matawan, NJ 07747</li>
                        </ul>
                    </div>
                    <div class="information md:text-left text-center">
                        <h4 class="font-helveticaneue text-[#485397] text-[17px] font-medium leading-[145%]">Information</h4>
                        <ul>
                            <li><a href="https://privacy.konscious.us/privacy-policy" target="_blank" class="font-helveticaneue text-[#485397] text-[16px] leading-[170%] tracking-[0.16px] no-underline">Privacy Policy</a></li>
                            <li><a href="https://tryakka.com/pages/shipping-refund-policy" target="_blank" class="font-helveticaneue text-[#485397] text-[16px] leading-[170%] tracking-[0.16px] no-underline">Shipping and Refund Policy</a></li>
                            <li><a href="https://tryakka.com/pages/terms-conditions" target="_blank" class="font-helveticaneue text-[#485397] text-[16px] leading-[170%] tracking-[0.16px] no-underline">Terms and Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="flex md:flex-row flex-col-reverse md:gap-0 gap-[24px] md:justify-between md:text-left text-center">
                <div class="md:w-[450px] w-full">
                    <p class="font-helveticaneue text-[#485397] md:text-[16px] text-[14px] font-normal leading-[145%] mb-0">© 2024 Enclave BioActives. All Rights Reserved.</p>
                </div>
                <div class="md:w-[204px] w-full">
                    <ul>
                        <li class="inline-block"><a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none">
                                <circle cx="12.5" cy="13.0156" r="12.5" fill="#485397"/>
                                <path d="M14.722 7.84021H16V5.61421C15.7795 5.58388 15.0212 5.51562 14.1382 5.51562C12.2956 5.51562 11.0333 6.67471 11.0333 8.80504V10.7656H9V13.2541H11.0333V19.5156H13.5263V13.2547H15.4774L15.7871 10.7662H13.5257V9.05179C13.5263 8.33254 13.7199 7.84021 14.722 7.84021Z" fill="white"/>
                              </svg>
                        </a></li>
                        <li class="inline-block ml-[10px]"><a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none">
                                <circle cx="12.5" cy="13.0156" r="12.5" fill="#485397"/>
                                <path d="M18.967 10.3384C18.9365 9.64753 18.8248 9.17256 18.6647 8.76099C18.4996 8.32412 18.2456 7.933 17.9128 7.60785C17.5877 7.27764 17.194 7.02106 16.7622 6.85853C16.3482 6.69849 15.8757 6.58677 15.1849 6.55631C14.4888 6.52327 14.2679 6.51562 12.5025 6.51562C10.7372 6.51562 10.5162 6.52327 9.82278 6.55373C9.1319 6.58419 8.65693 6.69601 8.24546 6.85595C7.8085 7.02106 7.41737 7.27506 7.09222 7.60785C6.76202 7.933 6.50553 8.3267 6.34291 8.75851C6.18286 9.17256 6.07114 9.64495 6.04068 10.3358C6.00764 11.0319 6 11.2528 6 13.0182C6 14.7835 6.00764 15.0045 6.0381 15.6979C6.06856 16.3888 6.18038 16.8638 6.34043 17.2753C6.50553 17.7122 6.76202 18.1033 7.09222 18.4285C7.41737 18.7587 7.81108 19.0153 8.24288 19.1778C8.65693 19.3378 9.12932 19.4496 9.8203 19.48C10.5137 19.5106 10.7347 19.5181 12.5 19.5181C14.2654 19.5181 14.4863 19.5106 15.1798 19.48C15.8707 19.4496 16.3456 19.3378 16.7571 19.1778C17.631 18.84 18.3218 18.1491 18.6597 17.2753C18.8196 16.8613 18.9314 16.3888 18.9619 15.6979C18.9924 15.0045 19 14.7835 19 13.0182C19 11.2528 18.9974 11.0319 18.967 10.3384ZM17.7961 15.6471C17.7681 16.2821 17.6614 16.625 17.5725 16.8537C17.354 17.4201 16.9045 17.8697 16.338 18.0882C16.1094 18.1771 15.764 18.2837 15.1315 18.3116C14.4457 18.3422 14.24 18.3497 12.5051 18.3497C10.7702 18.3497 10.562 18.3422 9.87864 18.3116C9.24363 18.2837 8.90072 18.1771 8.67211 18.0882C8.39023 17.984 8.13364 17.8189 7.92538 17.603C7.70947 17.3921 7.54437 17.1381 7.44019 16.8562C7.35129 16.6276 7.24462 16.2821 7.21674 15.6497C7.18618 14.9639 7.17864 14.7581 7.17864 13.0232C7.17864 11.2884 7.18618 11.0801 7.21674 10.3968C7.24462 9.76184 7.35129 9.41893 7.44019 9.19032C7.54437 8.90834 7.70947 8.65185 7.92796 8.44349C8.1387 8.22758 8.39271 8.06248 8.67469 7.9584C8.9033 7.86949 9.24878 7.76283 9.88122 7.73485C10.567 7.70439 10.7728 7.69675 12.5076 7.69675C14.245 7.69675 14.4507 7.70439 15.1341 7.73485C15.7691 7.76283 16.112 7.86949 16.3406 7.9584C16.6225 8.06248 16.8791 8.22758 17.0873 8.44349C17.3032 8.65433 17.4683 8.90834 17.5725 9.19032C17.6614 9.41893 17.7681 9.76432 17.7961 10.3968C17.8265 11.0827 17.8342 11.2884 17.8342 13.0232C17.8342 14.7581 17.8265 14.9613 17.7961 15.6471Z" fill="white"/>
                                <path d="M12.5042 9.67798C10.6602 9.67798 9.16406 11.174 9.16406 13.0182C9.16406 14.8623 10.6602 16.3583 12.5042 16.3583C14.3484 16.3583 15.8444 14.8623 15.8444 13.0182C15.8444 11.174 14.3484 9.67798 12.5042 9.67798ZM12.5042 15.1848C11.3079 15.1848 10.3375 14.2146 10.3375 13.0182C10.3375 11.8217 11.3079 10.8515 12.5042 10.8515C13.7006 10.8515 14.6709 11.8217 14.6709 13.0182C14.6709 14.2146 13.7006 15.1848 12.5042 15.1848Z" fill="white"/>
                                <path d="M16.755 9.54589C16.755 9.97651 16.4058 10.3257 15.9751 10.3257C15.5445 10.3257 15.1953 9.97651 15.1953 9.54589C15.1953 9.11517 15.5445 8.76611 15.9751 8.76611C16.4058 8.76611 16.755 9.11517 16.755 9.54589Z" fill="white"/>
                              </svg>
                        </a></li>
                      </ul>
                </div>
            </div>
        </div>
        <div class="disclaimer border-t border-solid border-[#485397] md:mt-[16px] mt-[24px] md:pt-[16px] pt-[24px]">
            <p class="font-helveticaneue text-[#485397] md:text-[16px] text-[15px] font-normal leading-[145%] tracking-[0.32px]">*These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure or prevent any disease. Use only as directed. The information provided herein is intended for your general knowledge only and is not intended to be, nor is it, medical advice or a substitute for medical advice. If you have or suspect you have, a specific medical condition or disease, please consult your healthcare provider.</p>
        </div>
    </div>
</footer>
<script>
  function submitEmail() {
      const emailInput = document.getElementById('email-input');
      const email = emailInput.value;

      if (email) {
          window.dataLayer = window.dataLayer || [];
          dataLayer.push({ 'event': 'event_subscribe', 'email': email });
          alert("Thank you for Subscribing.");
          emailInput.value = '';
      } else {
          alert("Please enter a valid email.");
      }
  }

  function handleKeyPress(event) {
      if (event.key === 'Enter') {
          submitEmail();
      }
  }
</script>
{% schema %}
  {
    "name": "Footer Product",
    "settings": []
  }
{% endschema %}