<header class="max-w-full bg-[#3E488B] md:pt-[18px] pt-[15px] pb-[22px]">
    <a href="https://tryakka.com"><img src="https://cdn.shopify.com/s/files/1/0885/5581/5215/files/akka-logo.png" class="md:w-[96px] w-[72px] mx-auto" /></a>
</header>
{% schema %}
  {
    "name": "Header Product",
    "settings": []
  }
{% endschema %}