{% layout none %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detoxify Your Liver</title>
    <!-- Start of TrueVault Polaris Code Block -->
    <script>
        window.polarisOptions = {
        GoogleAnalyticsTrackingId: "G-381562022",
        enableConsentManager: true,
        privacyCenterId: "2WDWRB6YE",
        };
    </script>
    <script src="https://polaris.truevaultcdn.com/static/polaris.js"></script>
    <!-- End of TrueVault Polaris Code Block -->
    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({"gtm.start":
        new Date().getTime(),event:"gtm.js"});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!="dataLayer"?"&l="+l:"";j.async=true;j.src=
        "https://gtmsvr.konsciousketo.com/gtm.js?id="+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,"script","dataLayer","GTM-56TX85F");
    </script>
    <!-- End Google Tag Manager -->
    <script>
        window.dataLayer = window.dataLayer || [];
    </script>
    <script id="elevar-gtm-suite-config" type="application/json">{"gtm_id": "GTM-56TX85F", "event_config": {"cart_reconcile": true, "cart_view": true, "checkout_complete": true, "checkout_step": true, "collection_view": true, "product_add_to_cart": true, "product_add_to_cart_ajax": true, "product_remove_from_cart": true, "product_select": true, "product_view": true, "search_results_view": true, "user": true, "save_order_notes": true}, "gtm_suite_script": "https://shopify-gtm-suite.getelevar.com/shops/11c78da2c14370c115cbbbff59a16f7fbe58b69d/2.24.0/gtm-suite.js"}</script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          // Get the query parameter from the URL
          var qparam = window.location.search.replace('?', '');
          
          // If there is no query parameter, do nothing
          if (qparam == "") return;
          
          // Select all anchor elements on the page
          var els = document.querySelectorAll("a");
          
          // Loop through each anchor element
          for (var i = 0, l = els.length; i < l; i++) {
              let el = els[i];
              let href = el.getAttribute("href");
              
              // If the href attribute is null, skip this element
              if (href == null) continue;
      
              if (href.includes('#params')) {
                  // Replace #params with ?id=21212121
                  href = href.replace('#params', '') + (href.indexOf('?') >= 0 ? '&' : '?') + qparam;
                  el.setAttribute("href", href);
              }
          }
      });
    </script>
    <script>
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        //Second ID config
        gtag('config', 'AW-11038484286');
    </script>

    <link rel="icon" href="https://s3.amazonaws.com/konsciousketo.com/Akka/akka-favicon-v2.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="{{ 'akka-styles.css' | asset_url }}" rel="stylesheet">
</head>

<body class="overflow-x-hidden w-full">
    {% section 'akka-tslfb-section-1' %}
    {% section 'akka-tslfb-section-2' %}
    {% section 'akka-tslfb-section-3' %}
    {% section 'akka-tslfb-section-4' %}
    {% section 'akka-tslfb-section-5' %}
    {% section 'akka-tslfb-section-6' %}
    {% section 'akka-tslfb-section-7' %}
    {% section 'akka-tslfb-section-8' %}
    {% section 'akka-tslfb-section-9' %}
    {% section 'akka-tslfb-section-10' %}
    {% section 'akka-tslfb-section-11' %}
    {% section 'akka-tslfb-section-12' %}
    {% section 'akka-tslfb-section-13' %}
    {% section 'akka-tslfb-section-14' %}
    {% section 'akka-tslfb-section-15' %}
    {% section 'akka-tslfb-section-16' %}
    {% section 'akka-tslfb-section-17' %}
    {% section 'akka-tslfb-section-18' %}
    {% section 'akka-tslfb-section-19' %}
    {% section 'akka-tslfb-section-20' %}
    {% section 'akka-tslfb-section-21' %}
    {% section 'akka-tslfb-section-22' %}
    {% section 'akka-tslfb-section-23' %}
    {% section 'akka-tslfb-section-24' %}
    {% section 'akka-tslfb-section-25' %}
    {% section 'akka-tslfb-section-26' %}
    {% section 'akka-tsl-email-section-27' %} <!-- PRODUCT PRICING -->
    {% section 'akka-tslfb-section-28' %}
    {% section 'akka-tslfb-section-29' %}
    {% section 'akka-tslfb-section-30' %}
    {% section 'akka-section-product-27' %} <!-- PRODUCT PRICING -->
    {% section 'akka-tslfb-section-32' %}
    {% section 'akka-section-product-27' %} <!-- PRODUCT PRICING -->
    <section class="bg-[#E4E7FF]">
        <div class="max-w-full md:max-w-[1440px] mx-auto py-[16px]">
            <div class="flex flex-col gap-[16px] max-w-full md:max-w-[986px] mx-auto">
                <div class="px-4 md:px-0">
                    <p class="font-roboto text-[#503830] text-[12px] opacity-[0.6] leading-[130%] text-center">*These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure or prevent any disease. Use only as directed. The information provided herein is intended for your general knowledge only and is not intended to be, nor is it, medical advice or a substitute for medical advice. If you have or suspect you have, a specific medical condition or disease, please consult your healthcare provider.</p>
                    <br/>
                    <p class="font-roboto text-[#503830] text-[12px] opacity-[0.6] leading-[130%] text-center">© <span class="copyright-year">2024</span> Enclave BioActives. All Rights Reserved</p>
                    <br/>
                    <p class="font-roboto text-[#503830] text-[12px] opacity-[0.6] leading-[130%] text-center footer-links">
                        <a href="https://tryakka.com/pages/terms-conditions" target="_blank" class="underline">Terms & Conditions</a>
                        <a href="https://privacy.konscious.us/privacy-policy" target="_blank" class="underline">Privacy Policy</a>
                        <a id="openModal" href="javascript:void(0)" class="underline">Click here to view citations</a>
                        <a class="truevault-polaris-privacy-notice underline" href="https://privacy.konscious.us/privacy-policy#california-privacy-notice" noreferrer noopener hidden>California Privacy Notice</a>
                        <a class="truevault-polaris-optout underline" href="https://privacy.konscious.us/opt-out" noreferrer noopener hidden>Privacy Options</a>
                        <a class="truevault-polaris-privacy-notice underline" href="https://privacy.konscious.us/limit" noreferrer noopener hidden>Sensitive Personal Information</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="sticky-btn hidden fixed bottom-32 right-4 rounded-full bg-[#485397] px-[0px] md:px-[32px] py-[20px] md:py-[22px] md:w-[349px] w-[75px] md:h-auto h-[75px] text-center shadow-[0px_3px_2px_0px_#485397_inset,_0px_10px_15px_0px_rgba(72,83,151,0.50)]">
        <a href="#claim-your-supply" class="font-myriadpro text-[#FFF] font-medium text-[11px] md:text-[20px]">
            <div class="flex md:flex-row flex-col gap-[10px] justify-center items-center">
                <p>Claim Your <br class='md:hidden block' />Supply Today</p>
                <svg class="hidden md:block" xmlns="http://www.w3.org/2000/svg" width="9" height="15" viewBox="0 0 9 15" fill="none">
                    <path d="M1.5 13.1636L7.5 7.16357L1.5 1.16357" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        </a>
    </div>
    <!-- Modal Background -->
    <section id="modal" class="fixed inset-0 bg-gray-800 bg-opacity-75 hidden items-center justify-center">
        <!-- Modal Content -->
        <div class="bg-white px-6 py-12 rounded-lg shadow-lg max-w-3xl w-full relative break-all">
            <button id="closeModal" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
            <h2 class="text-center font-bold text-[38px] py-2 font-myriadpro">Citations</h2>
            <ul class="list-disc list-inside">
                <li>https://pubmed.ncbi.nlm.nih.gov/34623232</li>
                <li>https://pubmed.ncbi.nlm.nih.gov/31953338</li>
                <li>https://pubmed.ncbi.nlm.nih.gov/38059838</li>
                <li>https://pubmed.ncbi.nlm.nih.gov/31263284</li>
                <li>https://pubmed.ncbi.nlm.nih.gov/35874661</li>
                <li>https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8373164</li>
                <li>https://observatoireprevention.org/en/2023/03/27/akkermansia-muciniphila-an-essential-bacterium-for-maintaining-good-health</li>
                <li>https://medschool.duke.edu/news/scientists-unlock-secrets-gut-bacteria-linked-heart-health</li>
                <li>https://www.researchgate.net/publication/338685199_Akkermansia_muciniphila_Prevents_Fatty_Liver_Decreases_Serum_Triglycerides_and_Maintains_Gut_Homeostasis/link/6569597c3fa26f66f43d52f2/download?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InB1YmxpY2F0aW9uIiwicGFnZSI6InB1YmxpY2F0aW9uIn19</li>
                <li>https://pubmed.ncbi.nlm.nih.gov/33820962</li>
                <li>https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5819566</li>
                <li>https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8698339</li>
                <li>https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4808895</li>
                <li>https://onlinelibrary.wiley.com/doi/abs/10.1002/ptr.7104</li>
                <li>https://www.tandfonline.com/doi/full/10.1080/07853890.2022.2069854</li>
            </ul>
        </div>
    </section>
    <script type="text/javascript">
       document.addEventListener('DOMContentLoaded', function () {
            const linksContainer = document.querySelector('.footer-links');
            const links = Array.from(linksContainer.querySelectorAll('a:not([hidden])'));
            
            links.forEach((link, index) => {
                if (index < links.length - 1) {
                    const separator = document.createElement('span');
                    separator.textContent = ' | ';
                    linksContainer.insertBefore(separator, link.nextSibling);
                }
            });
        });
        document.getElementById('openModal').addEventListener('click', function() {
            document.getElementById('modal').classList.remove('hidden');
            document.getElementById('modal').classList.add('flex');
        });

        document.getElementById('closeModal').addEventListener('click', function() {
            document.getElementById('modal').classList.remove('flex');
            document.getElementById('modal').classList.add('hidden');
        });

        Element.prototype.isInViewport = function() {
            var elementTop = this.offsetTop + 180;
            var elementBottom = elementTop + this.offsetHeight;

            var viewportTop = window.pageYOffset;
            var viewportBottom = viewportTop + window.innerHeight;

            return elementBottom > viewportTop && elementTop < viewportBottom;
        };

        window.addEventListener('resize', handleResizeOrScroll);
        window.addEventListener('scroll', handleResizeOrScroll);

        function handleResizeOrScroll() {
            document.querySelectorAll('section').forEach(function(section) {
                if (section.isInViewport()) {
                    if (section.classList.contains('show-claim-button')) {
                        if (!document.querySelector('.sticky-btn').classList.contains('block')) {
                            document.querySelector('.sticky-btn').classList.remove('hidden');
                            document.querySelector('.sticky-btn').classList.add('block');
                        }
                    } else if (section.classList.contains('hide-claim-button')) {
                        if (!document.querySelector('.sticky-btn').classList.contains('hidden')) {
                            document.querySelector('.sticky-btn').classList.remove('block');
                            document.querySelector('.sticky-btn').classList.add('hidden');
                        }
                    } else {
                        // If section doesn't have either class, revert to default state
                        if (!document.querySelector('.sticky-btn').classList.contains('hidden')) {
                            document.querySelector('.sticky-btn').classList.remove('block');
                            document.querySelector('.sticky-btn').classList.add('hidden');
                        }
                    }
                }
            });
        }

        document.querySelectorAll('.read-more').forEach(button => {
            button.addEventListener('click', function() {
                const targetId = this.getAttribute('data-target');
                const moreText = document.querySelector(`.more-text[data-target="${targetId}"]`);
                if (moreText.classList.contains('hidden')) {
                    moreText.classList.remove('hidden');
                    this.textContent = '(Read less)';
                } else {
                    moreText.classList.add('hidden');
                    this.textContent = '(Read more)';
                }
            });
        });
        // Get the current year
        var currentYear = new Date().getFullYear();
        // Find the element with class "copyright-year"
        var copyrightYearElement = document.querySelector('.copyright-year');
        
        // Update the year inside the element
        if (copyrightYearElement) {
            copyrightYearElement.textContent = currentYear;
        }
    </script>
</body>
</html>